[2021-06-16 06:22] #257 closed

[2021-06-16 09:42] nam31 commented on #1050
@Andy04721 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-16 09:42] #1050 closed

[2021-06-16 09:48] nam31 commented on #171
@smallscript The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-16 10:00] nam31 commented on #1177
@tuanvip90 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-16 12:29] MJP-MSFT commented on #1596
+ @Eric ***@***.***> who has been driving the scripts upload process.

Matt Philipenko
Sr. Customer Engineer - Microsoft 365 Apps Ranger
Microsoft 365 Apps <Deployment/Servicing/Activation/>
10 Habits to create accessible content<https://blogs.microsoft.com/accessibility/10-habits-to-create-accessible-content/>

From: VARADHARAJAN K ***@***.***>
Sent: Wednesday, June 16, 2021 2:09 AM
To: Microsoft

[2021-06-16 13:22] #207 closed

[2021-06-16 14:04] #587 closed

[2021-06-16 14:14] MJP-MSFT commented on #1596
Follow up:

We cannot update the script our engineers will need to address this issue if any.  Can you open a support case through your organization to properly track this issue you're seeing?

Matt Philipenko
Sr. Customer Engineer - Microsoft 365 Apps Ranger
Microsoft 365 Apps <Deployment/Servicing/Activation/>
10 Habits to create accessible content<https://blogs.microsoft.com/accessibility/10-ha

[2021-06-16 14:19] #609 closed

[2021-06-16 15:13] nam31 commented on #284
@a-anchud Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-16 15:13] #284 closed

[2021-06-16 15:14] nam31 commented on #746
Closing via #1578
Thank you

[2021-06-16 15:20] nam31 commented on #793
@rmc2 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-16 15:20] #793 closed

[2021-06-16 15:21] nam31 commented on #850
@kwikk We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-16 15:21] #850 closed

[2021-06-16 15:23] nam31 commented on #1347
@tadakk We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-16 15:23] #1347 closed

[2021-06-16 15:26] nam31 commented on #613
@calebrauxa We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-16 15:26] #613 closed

[2021-06-16 15:28] nam31 commented on #376
@Alan-Langer We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-16 15:28] #376 closed

[2021-06-16 15:28] nam31 commented on #433
@cregkly Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-16 15:28] #433 closed

[2021-06-16 15:36] #1069 closed

[2021-06-16 15:37] nam31 commented on #1069
@macosmin Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-16 15:37] nam31 commented on #1392
@Shuyzhou666 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-16 15:37] #1392 closed

[2021-06-16 15:39] nam31 commented on #1190
Closing via #1395
Thank you

[2021-06-16 15:39] #1190 closed

[2021-06-16 15:45] nam31 commented on #703
Closing via #1504
Thank you

[2021-06-16 16:50] josh-yeager commented on #1170
Jose, that link doesn't work. It seems to just point to "url". What URL should we check for the new article?

Thanks,
Josh

[2021-06-16 17:24] jlriesco commented on #1170
@josh-yeager Sorry, I've updated the URL with the right one. It should work now. Please try again.

[2021-06-16 17:40] josh-yeager commented on #1170
Thanks, that worked! I read the new article, it makes sense. Unfortunately, it doesn't resolve this issue. It clearly explains the settings that SharePoint offers to allow administrators to control content embedded inside SharePoint.

But what we need is to embed SharePoint pages in other applications. For example, to show a SharePoint folder in an iframe inside a task management tool. We need a s

[2021-06-16 17:46] RAJU2529 commented on #1596
@MJP-MSFT
in this script   **signoutofwamaccounts.ps1**  below  line must be replaced
**�d3590ed6-52b3-4102-aeff-aad2292ab01c�**

by

 **{d3590ed6-52b3-4102-aeff-aad2292ab01c}**

so please  @MJP-MSFT  verify the script with notepad.

[2021-06-16 19:24] jimvernon opened #1597 "Inaccurate/out of date instructions?"
It does not appear that "double clicking" a domain does anything, nor does there appear to be an option for "shared" in the side panel that flies out with clicking a domain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ce99bf5-25b2-a3bb-8205-d61cdf13826e
* Version Independent ID: 2355d132-1c5f-751c-df3d-e3a801c6ce96

[2021-06-17 01:16] 6StringJazzer commented on #257
Thank you, but I was not asking for a personal explanation. I was suggesting the article be improved with a better explanation. For example, instead of this circular definition:

Bias is the bias value used to avoid having to store negative exponents.

Say this

Bias is the an offset from the actual exponent value used to store the exponent as an unsigned value.

And instead of this

*         Pos

[2021-06-17 17:42] joinimran commented on #278
@pbadams - Can you please elaborate in more detail what exactly the issue you are facing? Any screenshot will be helpful.

[2021-06-18 09:09] VLG17 commented on #367
@Madhu-Vana any updates? What do you think of the previous suggestion?

[2021-06-18 09:10] VLG17 commented on #312
@brianshiers Could you check and see if you are ok with the update or need something else added?

[2021-06-18 09:11] VLG17 commented on #310
@apawsey Can you check the article and let us know if you feel we need to add anything else?

[2021-06-18 09:12] VLG17 commented on #308
@wornhall Any updates?

[2021-06-18 09:13] VLG17 commented on #303
@Nad42 any updates?

[2021-06-18 09:33] VLG17 commented on #597
@stephent122 Can you check and let us know if you need anything else added?

[2021-06-18 09:34] VLG17 commented on #1221
@Candelit any updates?

[2021-06-18 10:01] MaratMussabekov commented on #1516
Hello @Rvvhub ,
it is not recommended to exclude teams from DLP or antivirus. The article only provides information which paths need to be excluded, if the customer NEED to do it. I am pretty sure there are a lot of scenarios where these could be required.

**Just to add to this: I have confirmation of the WD team that 1st party apps do not need (and should not) add exclusions for executable files

[2021-06-18 12:33] MaratMussabekov commented on #1590
Hello @ITJoe29 ,
I agree that is not a resolution, but it still be considered as a workaround.
Thank you

[2021-06-18 12:47] Rvvhub commented on #1516
Hi Marat, thanks for your response.
My point is: many orgs read these articles as official Microsoft recommendations.
And indeed, the article states that this is a (good) preventative measure.
Note: apart from the fact that the WD team disapproves of this recommendation, I now have additional evidence that it is in fact really bad: a customer had taken the article as an official Microsoft recommen

[2021-06-18 13:23] nam31 commented on #213
Closing via #1568
Thank you

[2021-06-18 13:23] #213 closed

[2021-06-18 13:23] nam31 commented on #695
Closing via #1568
Thank you

[2021-06-18 13:23] #695 closed

[2021-06-18 13:24] nam31 commented on #305
Closing via #1501
Thank you

[2021-06-18 13:24] #305 closed

[2021-06-18 13:31] nam31 commented on #1563
Closing via #1592
Thank you

[2021-06-18 13:31] #1563 closed

[2021-06-18 13:49] nam31 commented on #492
@IstvanYbema We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-18 13:49] #492 closed

[2021-06-18 13:49] nam31 commented on #1111
@neilfrank We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-18 13:49] #1111 closed

[2021-06-18 15:22] nam31 commented on #886
Closing via #1551
Thank you

[2021-06-18 15:22] #886 closed

[2021-06-18 15:33] nam31 commented on #655
@aheusel Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-18 15:33] #655 closed

[2021-06-18 15:37] #995 closed

[2021-06-18 15:37] #1433 closed

[2021-06-18 15:37] #1467 closed

[2021-06-18 15:37] #1481 closed

[2021-06-18 17:31] stephent122 commented on #597
I already made the changes and tested them. I wouldn't have raised the issue otherwise.

Just wanted to help out.

[2021-06-19 11:08] kenmoritest commented on #1190
@VLG17  Does that setting affect the inbound settings?

Outbound HTTPS connection for .NET Framework 4.5 does not use latest TLS version.
.NET Framework should be hardcoded to read ServicePointManager.SecurityProtocol and behave accordingly.

For .NET 4.5 application, it needs to read the following registry key. And if it is not configured, TLS version is set to 1.0.

HKLM\SOFTWARE\Microsoft\.NETF

[2021-06-19 12:34] gabbsmo commented on #1190
That portal setting only affects inbound connections. I had this confirmed in a support ticket. They also confirmed that the App Service product group has no intention of changing the registry setting.

So our only option is the two methods you mentioned.

[2021-06-20 03:47] msbemba commented on #82
@ajRiverav Thank you for your feedback. The error relates to the privacy list on the mac machine and is usually resolved by deleting the file - .Spotlight-V100/Store-V1/Exclusions.plist. This is more of an apple error, let us know if this still persists.

Thanks
Sri

[2021-06-20 03:49] msbemba commented on #109
@SebastianWalter1999 Thank you for your feedback. You are correct, Due to some changes in macOS Mojave, this tool no longer works in 10.14 and higher.  As mentioned in the note, in your case you can follow the steps below to reindex Spotlight for Outlook for Mac.

Choose Apple menu, then System Preferences, and then Spotlight.

Select the Privacy tab.

In Finder:

On the Go menu, select Go to Fold

[2021-06-20 03:53] msbemba commented on #610
@Harm-Bennik Thank you for your feedback. The PersonMetadata folder and the items that are created in it will be removed from the service in the future (Not in the roadmap yet), Currently, we only have the workaround available for this scenario.

The document will be updated once there is a permanent fix.

Thanks
Sri

[2021-06-20 03:58] msbemba commented on #860
@eminsenay Thank you for your feedback. Sorry about the delay, Did you receive the blue screen error after running the repair tool or was it after making the registry changes?

Thanks
Sri

[2021-06-20 04:00] msbemba commented on #911
@CreatedName Thank you for your feedback. Does it reset after the registry changes are made? I was able to test it and it sticks even after a restart. Did you also check fi there are any windows updates pending?

Thanks
Sri

[2021-06-20 04:08] msbemba commented on #1596
@FullStackEngN Thank you for your feedback. I see the updated script without the wrong character.

Hope this helps!

Thanks
Sri

[2021-06-20 04:13] msbemba commented on #1310
@chrisoutwright Thank you for your feedback. Do you know which particular windows update causes issues with the display?

Video card manufacturers frequently release updates to their drivers to improve performance or to fix compatibility issues with new programs. If you do not find an updated video driver for your computer through Windows Update and must have the latest driver for your video card,

[2021-06-20 04:16] msbemba commented on #1240
@ukr966 Thank you for your feedback. The support tool can be used irrespective of the license or office product in use. However, If you sign in to SaRA by using an account that is not in Office 365, there is no option to send your files to Microsoft.

Hope this answers your question.

Thanks
Sri

[2021-06-20 07:01] sowjanya365 commented on #466
Hi @rgsbouma

Please let us know if you still have any questions regarding the issue you have raised initially.

Thanks.

[2021-06-20 07:20] sowjanya365 commented on #1397
Hi @HelmZalee

In the following sentence "Picture & Object" refer to the relative positioning. So, we do not see any need for modifying the sentence at the moment. But, we highly appreciate your support and contribution. Thank you so much!

[2021-06-20 07:35] robert-krause opened #1603 "HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\MSExchangeIS\ParametersSystem"
Thank you for the details.  However, I have Exchange Server for Office 365 with all updates, and therefore the latest version.
You state to go to HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\MSExchangeIS\ParametersSystem
However, this is as far as I can go:  Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services
There is no MSExchangeIS folder.
What should I do now?
Thanks!

[Enter

[2021-06-20 18:11] MaratMussabekov commented on #1220
Hello @Jmartinez589 ,
as authentication is performed within the script, I believe the script need to be updated, there is no need for updates in the article.
Also, the script has hardcoded path to the DLL (line 639):
`
Import-Module "C:\Program Files\WindowsPowerShell\Modules\ExchangeOnlineManagement\2.0.3\Microsoft.IdentityModel.Clients.ActiveDirectory.dll" -force
`
Current version of Exchange On

[2021-06-20 18:57] MaratMussabekov commented on #1239
Hello @ukr966 ,
i am trying to reproduce the issue, but I cannot. Could you please advise, how you got this "this solution isn't supported by your office environment" issue?
Thank you

[2021-06-21 09:38] RAJU2529 commented on #1603
@robert-krause . You need to create required registry key manually and tehn to add correct value with data.

[2021-06-21 10:12] nam31 commented on #620
@RAJU2529 The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 10:12] nam31 commented on #1029
@Sbatushe The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 10:13] nam31 commented on #643
@ebmgithub The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 10:13] nam31 commented on #663
@paxmundi The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 10:13] nam31 commented on #756
@TripleStackJack The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 10:15] nam31 commented on #171
@smallscript We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-21 10:15] #171 closed

[2021-06-21 10:15] nam31 commented on #1177
@tuanvip90 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-21 10:15] #1177 closed

[2021-06-21 11:08] RAJU2529 commented on #620
@nam31 . no I didn't faced any issues. Registry keys are mentioned in this article is working

[2021-06-21 12:41] thorade commented on #1203
What is the timeline to fix this Teams bug?

[2021-06-21 14:20] JeremyTBradshaw opened #1604 "Guidance for removing this from OWA as well"
This article seems like a good place to also document how you can turn this feature off for Outlook on the Web.  It is via `Set-OrganizationConfig -MobileAppEducationEnabled:$false`.

Source: https://docs.microsoft.com/en-us/powershell/module/exchange/set-organizationconfig?view=exchange-ps#:~:text=The%20MobileAppEducationEnabled

I get a error 404 page not found when I click the Edit/pencil butto

[2021-06-21 14:32] nam31 commented on #154
@skibum42 The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-06-21 14:33] nam31 commented on #156
@MarvinNorway The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-06-21 14:40] nam31 commented on #632
@enderdez Thank you for your input. But the intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-06-21 14:43] nam31 commented on #986
@isvan313 The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-06-21 14:45] nam31 commented on #1016
Hi @danbromberg , are you still facing the issue reported here?

[2021-06-21 14:48] MarvinNorway commented on #156
@nam31 Well, this issue is 1.5 years old. To be honest, I don't remember the details. Would have helped if someone had looked into this a bit earlier...

[2021-06-21 14:48] nam31 commented on #1030
@nathanaelmbale The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-06-21 17:17] aka-cardz opened #1605 "Microsoft 365 Apps"
"Shared Computer Activation is only available for Microsoft 365 Apps."

It's not clear if "Microsoft 365 Apps" refers to both Microsoft 365 Apps for business and Microsoft 365 Apps for enterprise, as only Microsoft 365 Apps for enterprise is explicitly mentioned. Other documents mention that Shared computer activation is supported with Microsoft 365 Apps for business as long as the users have Micr

[2021-06-21 18:34] danbromberg commented on #1016
This issue was resolved, but I have a new Excel issue: all my images in a
sheet were replaced with an error message: "THE IMAGE PART WITH
RELATIONSHIP ID WAS NOT FOUND IN THE FILE".

I have no idea why they vanished?!?!
Dan

On Mon, Jun 21, 2021 at 10:45 AM nam31 ***@***.***> wrote:

[2021-06-21 20:09] msbemba commented on #1210
@tompsmith14 Thank you for your feedback. We will update the screenshots with a better resolution shortly.

Thanks
Sri

[2021-06-21 20:12] msbemba commented on #1265
@LarsGottlieb Thank you for your feedback. Do you have the exact error that shows up when enabling archiving in GUI? Also, do you have a Cross-premises scenario where the primary mailbox is on-prem and the archive mailbox is in M365?

Thanks
Sri

[2021-06-21 20:44] eminsenay commented on #860
@msbemba No problem. I wasn't actually expecting for a return. It was a long time ago, indeed; so I'm not 100% sure if everything below is accurate:

I made the registry changes; however removal of the keys was unfortunately unsuccessful. Some of the keys remained there. Still Windows was functioning properly. I got the blue screen error after running the repair tool. But I'm not really sure if it

[2021-06-21 20:58] LarsGottlieb commented on #1265
Sorry, no i dont have the exact error and no onprem. mailbox

Mvh Lars Gottlieb
________________________________
Fra: Sriraman M S ***@***.***>
Sendt: Monday, June 21, 2021 10:12:36 PM
Til: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Lars Gottlieb ***@***.***>; Mention ***@***.***>
Emne: Re: [MicrosoftDocs/OfficeDocs-Support] In-place-archive doesn't appear enabled (#1265)

@LarsGottlieb<htt

[2021-06-21 21:06] msbemba commented on #679
@manojska Thank you for your feedback.  In the majority of cases, the DKIM signature (or the result of previous verification) is being retained during email auto-forward, which allows receiving server to make sure that received email is genuine . There are cases when the forwarder appends the compliance footer text to the received email and forwards or auto-forwards it, it alters the original mess

[2021-06-21 21:14] msbemba commented on #546
@j0rt3g4 Thank you for your feedback. We have added information on the document stating this scenario and a link to reach out to support.

This can be tracked via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1606

Thanks
Sri

[2021-06-21 21:22] msbemba commented on #307
@ZhiyuanChen Thank you for your feedback. Are you able to connect successfully to MSOlservice? Do you get a valid output for (Get-MsolServicePrincipal -AppPrincipalId 00000002-0000-0ff1-ce00-000000000000).accountenabled ?

Thanks
Sri

[2021-06-21 21:27] msbemba commented on #229
@dglecoq Thank you for your feedback. This document pertains to federated user accounts.  If that is the case, does it still happen In onedrive?

Thanks
Sri

[2021-06-21 22:58] ProfesseurXpro opened #1608 "Problème lié au registre avec 16.0 au lieu de 15.0"
[Bonjour, j'ai suivi le plan de depannage a la lettre mais a la dernière étape j'ai vu un sous dossier du registre nommé 16.0 au lieu de 15.0 comme dit sur le site.  Je pense que c'est cette étape qui a fait a ce que je retrouve pas le sous registre de la fin apres "common". il y'aurait il un moyen de regler ce probleme de Drive avec 16.0.]

---
#### Détails du document

⚠ *Ne pas modifier cette s

[2021-06-22 00:20] msbemba commented on #1265
@LarsGottlieb Thank you for the quick response. The way to enable archive mailbox is outlined in this document -https://docs.microsoft.com/en-us/microsoft-365/compliance/enable-archive-mailboxes?view=o365-worldwide

If you still have any issues, let us know.

Thanks
Sri

[2021-06-22 00:31] msbemba commented on #860
@eminsenay Thank you for the quick response. I was able to test it on a test machine and it did not trigger any such issues. However, your case could be different. If you have a similar issue, please let us know so we can investigate and update the document if need be.

Thanks
Sri

[2021-06-22 06:41] LarsGottlieb commented on #1265
Hi again

The error is here in the GUI it show that an archive is in place, but it is not.
***@***.***D76741.82FDB840]
But I tried to disable and the reenable and now it shows up fine, so it has been fixed.

[2021-06-22 07:54] PerJarlemark opened #1609 "Wrong information: Minor version is searchable"
**Minor version is searchable**
the text on the page claims minor versions is not searchable but they are, if this has not been changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 347f3fed-01c7-a1c1-ef4b-206aefea5056
* Version Independent ID: 5d46bf6e-72e0-798c-957a-a16440c436f6
* Content: [Search results missing i

[2021-06-22 08:11] MaratMussabekov commented on #1603
Hello, @robert-krause ,
you should try other options, since the described registry key is not presented in newer Exchange Server versions.
Thank you

[2021-06-22 11:52] Reeced40 commented on #589
@ShivKumarBS we are trying to determine the exact cause of the issue so we can update the document more accurately. Please see this link about incorrect VBA code which may also cause the issue and let me know what you think - https://stackoverflow.com/questions/33635128/excel-cannot-complete-task-with-available-resources. Thanks again for your valuable input.

[2021-06-22 14:31] MaratMussabekov commented on #1419
hello @stefanojj , so it is not within the scope of the article I assume? wouldn't you mind if @nam31 close this issue?
Thank you

[2021-06-22 14:33] MaratMussabekov commented on #670
Hello @mariajavier1 ,
sure, there could be some problem with the link when you created the issue, however, currently it works fine. Wouldn't you mind if @nam31 close this issue?
Thank you

[2021-06-22 14:43] DocUpdate opened #1611 "Please add another registy entry to this list"
[Enter feedback here]

There are times when users need to use the emailaddress and not the UPN for Autodiscover logons.  Can the following be added, (taken from https://support.microsoft.com/en-us/topic/november-5-2019-update-for-outlook-2016-kb4484139-9f986a96-8075-7ded-ccf4-d4ba69e8efeb) so we have all the autodiscover registry keys in one place,

When a user wants to user their email address fo

[2021-06-22 16:37] dariomws commented on #370
Hi @2sylbl, thank you for your feedback.

As @florianmutter commented, you should use that command in Mac. Thank you for that.

[2021-06-22 16:52] stefanojj commented on #1419
No I do not mind

Thanks,

Stefano Jean Joseph
CEO/CTO
JeanComputech Corporation
Main: (888) 585 5326
Direct:(617) 294-9797
Cell:  (857) 869 2283
Skype id: stefano.jean.joseph
***@***.******@***.***>
www.jeancomputech.com<http://www.jeancomputech.com/>

***@***.***D76765.90E4A3A0]

From: MaratMussabekov ***@***.***>
Sent: Tuesday, June 22, 2021 10:31 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***

[2021-06-22 17:57] ukr966 commented on #1239
I reported the problem on 04.04.2021. Do you think I will get back into the problem now?

Very bad service.
Maybe the Accound juliet@contoso.com has been reseted in the last 2.5 months. Then it's no wonder that you can't reproduce the error.

[2021-06-22 17:57] #1239 closed

[2021-06-22 18:08] msbemba commented on #656
@Aegrum Thank you for your feedback. The feedback has been passed to Azure active directory team and the change in design is in planning status and hopefully this will be complete by the end of the calendar year. For more information -https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39839785-eliminate-delays-when-activating-the-sharepoint-ad

Hope this helps!

Thanks
Sri

[2021-06-22 18:17] msbemba commented on #1386
@RobertCezaryKujawa-TomTom Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1614

Thanks
Sri

[2021-06-22 18:17] MaratMussabekov commented on #1516
Hello @Rvvhub ,
yes, adding teams (in fact, not only teams, but any executable) to the exclusion list is not a good security decision. In the article it is not stated that it is recommended, it just provides paths for those who need it.
**And indeed, the article states that this is a (good) preventative measure.** - i believe you are talking about sentence "This action specifically helps enhance p

[2021-06-22 18:27] #1419 closed

[2021-06-22 18:30] nam31 commented on #292
Closing via #1589
Thank you

[2021-06-22 18:30] #292 closed

[2021-06-22 18:39] nam31 commented on #303
@Nad42 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:39] #303 closed

[2021-06-22 18:39] nam31 commented on #308
@wornhall We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:39] #308 closed

[2021-06-22 18:40] nam31 commented on #310
@apawsey We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:40] #310 closed

[2021-06-22 18:40] nam31 commented on #312
@brianshiers We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:40] #312 closed

[2021-06-22 18:41] nam31 commented on #367
@Madhu-Vana We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:41] #367 closed

[2021-06-22 18:42] nam31 commented on #1221
@Candelit We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:42] #1221 closed

[2021-06-22 18:43] nam31 commented on #1366
@GitHubJohn2 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:45] nam31 commented on #395
@mub-arak We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:45] #395 closed

[2021-06-22 18:45] nam31 commented on #476
@ma261065 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:45] #476 closed

[2021-06-22 18:45] nam31 commented on #552
@pstasik We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:45] #552 closed

[2021-06-22 18:46] nam31 commented on #570
@AndyWoodruff We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:46] #570 closed

[2021-06-22 18:46] nam31 commented on #585
@PeterConstable We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:46] nam31 commented on #588
@SinhaRS-IND We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:46] #588 closed

[2021-06-22 18:46] nam31 commented on #599
@DuShruikan We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-22 18:46] #599 closed

[2021-06-22 18:55] msbemba commented on #37
@Mugen593 Thank you for your feedback. I was able to test it on windows 10 and we have added steps for windows 10 to the document - https://docs.microsoft.com/en-us/office365/troubleshoot/group-policy/configure-email-client-using-policy#windows-10-and-windows-8

Hope this helps!

Thanks
Sri

[2021-06-22 19:00] msbemba commented on #1399
@reevesjeremy Thank you for your feedback. There is currently no Modern auth method available. Once we have steps to do the same with EWS modern auth, the document will be updated.

Hope this helps!

Thanks
Sri

[2021-06-22 19:08] msbemba commented on #1422
@isrgarmes Thank you for your feedback. I was able to test this script in the lab and it works no matter which account is presented first. In your case, The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-sup

[2021-06-22 19:13] Ronsss commented on #292
Nice for you to close, but.
You didn't address most of the points I made.
Adding a link to "merge fields" description is "nice". But referring to
some random non-ms source does not give it the credibility of including the
information directly in the article.
.
The 512MB limit is for the whole document, including graphical elements. No
mention of graphics.
.
There still is no mention of the 32MB li

[2021-06-22 19:34] msbemba commented on #1499
@thomps Thank you for your feedback. You are right, I was able to test this in our lab. This is by design as we have mentioned in the document and we don't see anything in the 2021 roadmap to change this design.  To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Hope this h

[2021-06-22 19:36] msbemba commented on #629
@mvpromise Thank you for your feedback. The issue does not reproduce in the lab after a windows update. Could you please let us know if the issue still persists? Also, did you try the workaround for turning off the preview or sfc.exe /scannow ?

Thanks
Sri

[2021-06-22 20:25] msbemba commented on #175
@MikeRosoft Thank you for your feedback. Once the slider is changed to keep all emails offline, we need to wait for the folder to be up to date in order to scroll down and check for those emails. If you still have an issue, let us know if the change that was made on the slider sticks or does it revert back to the original settings?

Thanks
Sri

[2021-06-22 20:27] msbemba commented on #268
@kerbos Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1615

Thanks
Sri

[2021-06-22 20:30] msbemba commented on #291
@prontohostau Thank you for your feedback. I have verified in the lab and this does not happen anymore. There have been a few changes with m365 from the time you had created this issue and most importantly the users who are deleted or non Existent are automatically removed from the group as well. Let us know if this issue still persists.

Thanks
Sri

[2021-06-23 06:07] PeterConstable commented on #585
These commands are not listed directly in the article, but rather are in the Win32API_PtrSafe.txt file that can be downloaded from the link mentioned in the article: <https://www.microsoft.com/download/details.aspx?familyid=035b72a5-eef9-4baf-8dbc-63fbd2dd982b>

[2021-06-23 06:40] nk-gears commented on #711
Hi @mgcasey300,

Thanks for reporting this.

The mentioned error usually happens when there are no active charts selected.
Before Running the Macro, you need to select the Chart First. Can you try and confirm again.

[2021-06-23 06:52] nk-gears commented on #743
Hello @TomWLake,

Thanks for reporting this Issue. We understand that the error occurred when you try to Login to Teams.

This usually happens when you try to sign In using your Personal EmailId in the Work Account. Please confirm are you using a Free Personal EmailId or a Work Email Id to Login to Teams ?

[2021-06-23 07:04] nk-gears commented on #863
Hello @hardkorehak,

Thanks for reporting this Issue.

Could you please shed some lights when do you get this error?. When you try to Insert,Update or while Importing the Data to the Table ?

[2021-06-23 07:22] nk-gears commented on #1339
Hello @BobSarfo,

Thanks for your suggestion. We will update the docs with that suggestion and get back you in few days.

[2021-06-23 10:03] dariomws commented on #447
Hi @sdleslie and @rufioIK708, thank you for your feedback.

As you clearly noticed, there are no version numbers anymore in this article except for a minimum to auto-update it. Also, this article applies to Skype for Business Online and it's being retired.
Please check the following articles for devices supported with Teams:
https://docs.microsoft.com/microsoftteams/devices/teams-ip-phones

[2021-06-23 10:33] dariomws commented on #728
Hi @rmanjoney, thank you for your feedback and sorry for the delay.

I think the article talks more generically about high-tech or new-tech monitors with 4K or HDR (or even other features). The first sentence states:
"This can occur if a laptop is docked to an external 4K **or** ultra-high-definition"

I also understand that the article is talking about turning on the video on the 4K monitor. This

[2021-06-23 11:43] dariomws commented on #912
Hi @eochagavia, thank you for your feedback and sorry for the delay.

This is very well-known and documented here:
https://docs.microsoft.com/exchange/plan-and-deploy/install-cumulative-updates

Anyway, I think it's a good addition to this article, and I'll update it.

[2021-06-23 11:54] msbemba commented on #1144
@cbrianball Thank you for your feedback. Do you get the error "Your organization's policies are preventing us from completing this action for you " ?  I could not replicate this in our lab, I understand the issue could be unique. Let us know if this is still an issue and if there is an update required in the document.

Thanks
Sri

[2021-06-23 12:01] msbemba commented on #1206
@kohlfuerst Thank you for your feedback. The document pertains to deleting autocomplete lists only from desktop outlook applications. There isn’t such related setting for users to delete the email address form the AutoComplete list in Outlook on IOS or Android, However, Start a new email and begin typing the recipients whose emails need removed. When Autocomplete displays the entries you want to r

[2021-06-23 12:03] msbemba commented on #58
@AmyWaggoner Thank you for your feedback. I Understand your concern, however, this platform is set up to fix issues in documents. To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Thanks
Sri

[2021-06-23 12:07] msbemba commented on #1605
@aka-cardz Thank you for your feedback. You are correct, The Microsoft 365 Business Premium plan is the only business plan that includes support for shared computer activation. I have added a note to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1619

Thanks
Sri

[2021-06-23 12:12] msbemba commented on #1608
@ProfesseurXpro Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1620

Thanks
Sri

[2021-06-23 12:40] rmanjoney commented on #728
"This can occur if a laptop is docked to an external 4K or ultra-high-definition" – neither of these 2 concepts (4k or ultra-high-definition) has anything to do with HDR. HDR is an entirely different feature/capability and it isn’t present on most monitors. HDR has nothing to do with image resolution or definition. Just because a monitor is 4k, high-tech, etc. doesn’t mean it also has HDR.

Those

[2021-06-23 13:13] cbrianball commented on #1144
@msbemba Thank you for taking the time to look at this.

Yes, I am getting the message you mentioned. I'm attaching a gif of what my experience is. I retried again today and I am getting the same error.

The "Select Provider" page is a page I have created for my website. Clicking on the "Google" button does a postback to my webpage, the response of the postback is a 302 redirect to `https://accoun

[2021-06-23 13:26] andreolira opened #1621 "Seriously?"
This bug has existed for 18 years?  If your developers can't fix it in 18 years, time to hire some new ones.  This is absolutely ridiculous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b974aa57-35b6-e494-43dc-23dd486938ca
* Version Independent ID: bb658f3e-e4e3-e9a5-bde0-6e0c1c20cfa2
* Content: [Last digits are chan

[2021-06-23 13:35] hardkorehak commented on #863
We have our primary database at CL110 right now. These were happening on linked tables in MSAccess, our primary UI at the time, on Insert/Update. We have decided to move on, since it's been 8 months since my initial issue was sent in. We are in the process of upgrading our entire interface from Access to Blazor pages, and eventually moving the SQL Server from fully on-prem to Azure.

[2021-06-23 15:05] dariomws commented on #1213
Hi @ssmiller60, thank you for your feedback.

I've tested it, and it seems to be working now. I get the email for a personal mention in a Teams channel.

[2021-06-23 15:05] dariomws commented on #1213
Please test it again and let me know if it still fails. Thanks!

[2021-06-23 16:14] nam31 commented on #547
@AnatolN We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-23 16:14] #547 closed

[2021-06-23 16:15] nam31 commented on #554
@astera-cmorrison We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-23 16:15] #554 closed

[2021-06-23 16:16] nam31 commented on #615
@hwkwicre We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-23 16:16] #615 closed

[2021-06-23 16:16] nam31 commented on #621
@hwkwicre We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-23 16:16] #621 closed

[2021-06-23 16:20] #1366 closed

[2021-06-23 16:22] nam31 commented on #82
@ajRiverav Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:22] #82 closed

[2021-06-23 16:22] nam31 commented on #109
@SebastianWalter1999 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:22] #109 closed

[2021-06-23 16:23] nam31 commented on #610
@Harm-Bennik Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:23] #610 closed

[2021-06-23 16:25] nam31 commented on #1240
@ukr966 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:25] #1240 closed

[2021-06-23 16:25] nam31 commented on #1310
@chrisoutwright Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:25] #1310 closed

[2021-06-23 16:26] nam31 commented on #1361
@JanezK Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-23 16:26] #1361 closed

[2021-06-23 16:26] #1499 closed

[2021-06-23 17:27] VLG17 commented on #665
@masadiq The download links in the article are working for me. Can you confirm?

[2021-06-23 17:34] get-itips commented on #668
Hello @Smithja6 how are you? Hope you are doing good.
Tried to reproduce in my lab, but couldn't, I could install SaRA without applying any reg.
Thank you for your feedback.

[2021-06-23 17:40] VLG17 commented on #698
@valentijnscholten I'll start with the basic stuff, so did you try to delete cookies? Same thing?

Also, are you using ADFS with Windows Integrated Authentication? This behavior can be potentially caused by a wrong ADFS claim. Could you or the responsible person check that?

Looking forward to your feedback related to this issue.

[2021-06-23 17:50] VLG17 commented on #1225
@brettfinchhotmailca As stated in the article, third-party email systems aren't supported.

Are you using Google as your mail system and have this issue described in the article?

[2021-06-23 17:59] PeterConstable commented on #585
@Reeced40 I added a comment, but I don't have access to re-open the issue.

[2021-06-23 18:07] get-itips commented on #1188
Hello @yatesa thanks for your feedback. Will propose through a pr.

[2021-06-23 18:26] brettfinchhotmailca commented on #1225
yes & there has been a change within past few months, we now get the voice mail from Teams with a VoIP skype domain name so I'll just resign to having this work itself out eventually as now we can at least have people enter a manual trust for delivery as it at least arrives now, in the SPAM folder.

[2021-06-23 18:26] #1225 closed

[2021-06-23 18:37] VLG17 commented on #797
@DevJonBirkett The article applies to Teams as well. All the referenced articles within the linked article talk about Microsoft Teams.

I see two ways of doing this:

1. Creating a port order in Teams - details [here](https://docs.microsoft.com/en-us/MicrosoftTeams/phone-number-calling-plans/transfer-phone-numbers-to-teams?toc=%2Fskypeforbusiness%2Fsfbotoc%2Ftoc.json&bc=%2Fskypeforbusiness%2Fbread

[2021-06-23 18:43] VLG17 commented on #611
@Canis-Lupis According to [this UserVoice thread](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/18584719-file-column-sort-order) this issue has been addressed. Are you still seeing it?

More details [here](https://support.microsoft.com/en-us/office/create-a-custom-view-of-a-document-library-8f6b08e0-a9a0-4232-9b9b-b374a2ad3da7?ui=en-US&rs=en-US&ad=US) and [here](https://sup

[2021-06-23 18:52] VLG17 commented on #563
@DaveNTigard If you’re using an inbuilt Search Folder, then the ‘Criteria’ button may be greyed out. You can instead [create a new Search Folder ](https://support.microsoft.com/en-us/office/use-search-folders-to-find-messages-or-other-outlook-items-c1807038-01e4-475e-8869-0ccab0a56dc5)

From this New Search Folder window, scroll to the bottom and choose ‘Create a custom Search Folder’. Then press

[2021-06-23 18:56] VLG17 commented on #462
@smudgecat Are you still seeing this issue? I don't have an easy way to test this, but my research leads me to believe it was fixed.

[2021-06-23 20:05] msbemba commented on #760
@riw777 Thank you for your feedback. The issue depends on how you are trying to move and what view you have set on your outlook

The following table summarizes what occurs when you move or copy appointments to an EAS-based store.

![image](https://user-images.githubusercontent.com/45987684/123160909-629e8d00-d48c-11eb-8fb0-1f0156a348f8.png)

Hope this helps!
Thanks
Sri

[2021-06-23 20:10] msbemba commented on #1611
@DocUpdate Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1627

Thanks
Sri

[2021-06-24 06:54] joinimran commented on #539
Hi @Luke-Robinett , thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:55] joinimran commented on #212
Hi @funzel1, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:56] joinimran commented on #256
Hi @clarpaul, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:57] joinimran commented on #622
Hi @GSPierce, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:58] joinimran commented on #693
Hi @TrevMasson, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:58] joinimran commented on #1256
Hi @jdstudebaker, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 06:59] joinimran commented on #1520
Hi @FWW410552, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 07:00] joinimran commented on #1586
Hi @cvhorie, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-24 09:22] #447 closed

[2021-06-24 09:32] #912 closed

[2021-06-24 10:10] MaratMussabekov commented on #1216
Hello @ABerTSC ,
just checked, the issue still persist, so I believe the information in the article is up-to-date.
Thank you

[2021-06-24 10:25] smudgecat commented on #462
@VLG17 Thank you for the reply. Yes, I've tested and received my first Teams voicemail! Will update the Uservoice as that is still open.

[2021-06-24 10:25] #462 closed

[2021-06-24 11:06] #728 closed

[2021-06-24 11:17] #1188 closed

[2021-06-24 13:19] schumatt-msft commented on #1401
Hi @dariomws - Any updates here? Thanks!

[2021-06-24 14:44] nam31 commented on #1222
Closing via #1601
Thank you

[2021-06-24 14:44] #1222 closed

[2021-06-24 14:45] nam31 commented on #1590
Closing via #1602
Thank you

[2021-06-24 14:45] #1590 closed

[2021-06-24 14:46] nam31 commented on #1603
Closing via #1610
Thank you

[2021-06-24 14:46] #1603 closed

[2021-06-24 14:52] MitchJaehrlich opened #1631 "Missing backslash in file path"
In step 2 of the "[Create a Temporary Internet Files folder](https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/no-file-previews-file-explorer-switching-to-32-bit#create-a-temporary-internet-files-folder)" section, the file path should be:
"C:\Users\<XXXX>\AppData\Local\Microsoft\Windows"
instead of "C:\Users<XXXX>\AppData\Local\Microsoft\Windows"

The current line implies th

[2021-06-24 14:54] nam31 commented on #670
@mariajavier1 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-24 14:54] #670 closed

[2021-06-24 15:03] nam31 commented on #278
@pbadams We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-24 15:03] #278 closed

[2021-06-24 15:04] nam31 commented on #847
@twalp We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-24 15:04] #847 closed

[2021-06-24 15:21] dariomws commented on #1401
Hi @schumatt-msft, I don't have this information and had to contact another team to get it. I'll let you know immediately once I get it.

Thank you!

[2021-06-24 15:25] nam31 commented on #546
Closing via #1606
Thank you

[2021-06-24 15:25] #546 closed

[2021-06-24 15:39] nam31 commented on #268
Closing via #1615
Thank you

[2021-06-24 15:39] #268 closed

[2021-06-24 15:41] nam31 commented on #679
@manojska Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-24 15:41] #679 closed

[2021-06-24 15:42] #1265 closed

[2021-06-24 15:43] dariomws commented on #1316
Hi @jdehart-ca1, thank you for your feedback.

To fix the issue in that case, please use the [Microsoft Support and Recovery Assistant](https://aka.ms/SaRA-TeamsPresenceScenario).

[2021-06-24 15:44] nam31 commented on #1596
@FullStackEngN Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-24 15:44] #1596 closed

[2021-06-24 15:44] nam31 commented on #1605
Closing via #1619
Thank you

[2021-06-24 15:44] #1605 closed

[2021-06-24 15:45] nam31 commented on #1608
Closing via #1620
Thank you

[2021-06-24 15:45] #1608 closed

[2021-06-24 15:51] sbergot opened #1632 "Page is lying about a bug in office external link handling"
The 'Cause' section of this document is very misleading:

Using cookies for user session is not a limitation of a website. It is how websites work in general. Moreover, even websites without SSO will rely on cookies for maintaining a user session.

This document reflects poorly on Microsoft because it suggests that:

- people at Microsoft have poor knowledge of how websites actually rely on cookie

[2021-06-24 16:50] msbemba commented on #1088
@Baldgyt Thank you for your feedback. I agree with what you are saying, one way to avoid this error in such a case were there are multiple accounts syncing with onedrive is to uncheck the below option

![image](https://user-images.githubusercontent.com/45987684/123302405-4fe29180-d53a-11eb-9cca-e18f845a2f0e.png)

Thanks
Sri

[2021-06-24 16:54] msbemba commented on #1037
@ks2018ks Thank you for your feedback. You are correct, the document talks about a different issue.

In your case, the error usually appears if proper team licenses are not assigned to the end user. Let us know.

Thanks
Sri

[2021-06-24 16:59] ks2018ks commented on #1037
Why do you mark it "Resolution" when it's not a Resolution?

[2021-06-24 17:01] msbemba commented on #1037
@ks2018ks  This is the resolution for "Someone has already set up Teams for your organization" error in Microsoft Teams.
In your case the error is different.

Thanks
Sri

[2021-06-24 17:19] msbemba commented on #974
@VShrubowich Thank you for your feedback. I have added a note to the document stating that this affects only external forwarding. This can be tracked via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1633

Thanks
Sri

[2021-06-24 17:26] msbemba commented on #775
@writer0101 Thank you for your feedback. This is a known issue in Excel 2013, Excel 2010, and Excel 2007. If you are using other versions of office , make sure that you’ve got the Function Lock feature of your keyboard enabled.

Hope this helps!
Thanks
Sri

[2021-06-24 18:18] msbemba commented on #708
@jff1521 Thank you for your feedback. We handle issues or modifications pertaining to documents, Having said that since you are requesting a design change, I'd recommend you to post your idea or vote for a design change  here -https://excel.uservoice.com/forums/304921-excel-for-windows-desktop-application/suggestions/9940791-dates-prior-to-1900

Hope this helps!

Thanks
Sri

[2021-06-24 18:36] msbemba commented on #1198
@YipYup Thank you for your feedback. I have added information about 2013-2019 via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1634

Once the author reviews and approves, the document will be updated.

Thanks
Sri

[2021-06-24 18:37] VLG17 commented on #182
@fperre Are you still seeing this issue? I tried to reproduce it, but was unable to.

If you can still reproduce this issue, I advise you to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).

Otherwise, you can create a su

[2021-06-25 03:05] MaratMussabekov commented on #1077
Hello @campbedj ,
please have a look at https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1636
Thank you!

[2021-06-25 03:17] MaratMussabekov commented on #1597
Hello @jimvernon ,
yes, the instruction is outdated.
I created a PR to update it.
Thank you

[2021-06-25 06:27] #1595 closed

[2021-06-25 10:26] nam31 commented on #1516
Closing via #1613
Thank you

[2021-06-25 10:28] nam31 commented on #1220
@Jmartinez589 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-25 10:28] #1220 closed

[2021-06-25 10:35] nam31 commented on #1397
@HelmZalee Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-25 10:35] #1397 closed

[2021-06-25 10:41] Reeced40 commented on #585
@PeterConstable thank you for pointing this out. Seeing that the link is in the article with the download option, do you still think there are any changes needed to this document? Are there still bugs?

[2021-06-25 10:50] joinimran commented on #1520
Hi @FWW410552,  can you tell me which version of Outlook are you using?

[2021-06-25 10:52] Reeced40 commented on #292
@Ronsss thank you for clearing that up, but I see in the document there is a note stipulating the 32MB is for text only and does not include graphics. Please have a look under Note 1, under Word Limits at the top. Please let me know if you think anything else is missing.

[2021-06-25 10:52] joinimran commented on #693
HI @TrevMasson, what changes you want to purpose in Document.

[2021-06-25 10:55] joinimran commented on #212
Hi @funzel1, yes it is up to date but if you see any ambiguity please let us know.

[2021-06-25 11:02] joinimran commented on #1256
Hi @jdstudebaker, can you explain point 1 in more detail?

[2021-06-25 11:07] nam31 commented on #827
Closing via #1626
Thank you

[2021-06-25 11:07] #827 closed

[2021-06-25 11:10] joinimran commented on #256
Hi @clarpaul, Following details how to use these formulas
SUMIF(): Select a blank cell, copy and paste the formula =SUMIF(B2:B7,"<>"&"",A2:A7) ( B2:B7 is the data range which contains the text cells, and A2:A7 is the data you want to sum) into the Formula Bar, then press Ctrl + Shift + Enter keys.

COUNTIF(): Type =COUNTIF(range,""), replacing range with your chosen cell range.

HSLOOKUP(): = To l

[2021-06-25 11:16] joinimran commented on #622
Hi @GSPierce, I followed the following method it worked for me.
1.Right-click target cell and then click Format Cells
2.On the Number tab, select Text and then click OK.
3.Then type a long number. (Be sure to set the cell format before you type the number).
4.If you do not want to see the warning arrows, click the small arrow, and then click Ignore Error.
![image](https://user-images.githubusercon

[2021-06-25 11:17] joinimran commented on #1586
Hi @cvhorie, I followed the following method it worked for me.
1.Right-click target cell and then click Format Cells
2.On the Number tab, select Text and then click OK.
3.Then type a long number. (Be sure to set the cell format before you type the number).
4.If you do not want to see the warning arrows, click the small arrow, and then click Ignore Error.
![image](https://user-images.githubusercont

[2021-06-25 11:52] Ronsss commented on #292
Yes, Note 1 is exactly what I was suggesting.
.
You can close the request on that basis.

However, I still wish you would consider making the limits table a 3 column
table like this:
[image: zzz.jpg]
I bolded the numbers that are different in Compatibility mode
Minor additional issue, the order of items is not the same in the 2 lists.
Master documents is in different positions in the 2 tables.

Mi

[2021-06-25 12:30] GSPierce commented on #622
Thanks. Does not work when saving as .csv. Saving as .csv removes formatting. The request is to change how Excel works. Sent from my Samsung Galaxy 
-------- Original message --------From: ImranHabib ***@***.***> Date: 6/25/21  7:16 AM  (GMT-05:00) To: MicrosoftDocs/OfficeDocs-Support ***@***.***> Cc: GSPierce ***@***.***>, Mention ***@***.***> Subject: Re: [MicrosoftDocs/OfficeDocs-Support] It's

[2021-06-25 16:55] PeterConstable commented on #585
The bugs were not in the article, but rather in the Win32API_PtrSafe.TXT file that one gets via the download link. Has that been debugged and revised?

[2021-06-25 17:58] mauld-louie opened #1638 "Solution doesn't fit cause"
[Enter feedback here]
This article doesn't make sense because it says the cause is that the text/html MIME type was removed or changed. But the solution is to remove the text/html MIME type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b95f13c4-bcf9-5c41-784d-18ec336e2559
* Version Independent ID: 4dec44a0-03d4-42c7-

[2021-06-25 21:03] msbemba commented on #229
@dglecoq Wanted to circle back and check if the issue persists.

Thanks
Sri

[2021-06-25 21:04] msbemba commented on #307
@ZhiyuanChen Wanted to circle back and check if the issue still persists. If yes, Are you able to connect successfully to MSOlservice? Do you get a valid output for (Get-MsolServicePrincipal -AppPrincipalId 00000002-0000-0ff1-ce00-000000000000).accountenabled ?

Thanks
Sri

[2021-06-25 21:05] msbemba commented on #629
@mvpromise wanted to circle back to check if the issue still persists. If yes, Could you please let us know if the issue still persists? Also, did you try the workaround for turning off the preview or sfc.exe /scannow ?

Thanks
Sri

[2021-06-25 21:06] msbemba commented on #911
@CreatedName Wanted to circle back to check if the issue persists. If yes, Does it reset after the registry changes are made? I was able to test it and it sticks even after a restart. Did you also check fi there are any windows updates pending?

Thanks
Sri

[2021-06-25 21:08] msbemba commented on #1144
@cbrianball Thank you for the update. I don't think this is an issue with Iframe. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket a

[2021-06-26 11:52] MaratMussabekov commented on #1621
Hello, it is not a bug, excel just follows IEEE 754 specification. It is left as it is on purpose, newer versions of excel uses it to be compatible with older versions.
Thank you

[2021-06-27 06:14] RAJU2529 commented on #1631
@MitchJaehrlich . Thanks for pointing out.

[2021-06-27 12:39] MaratMussabekov commented on #900
Hello @mardahl , please have a look at #1640
Thank you

[2021-06-27 12:56] MaratMussabekov commented on #1307
Hello @wcorkill ,
please have a look at https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1641
Thank you

[2021-06-28 05:36] VLG17 commented on #960
@SharePointBlackBelt What SharePoint on-premises version are you seeing this on? Are you still able to reproduce it?

Also, does the fix described [here](https://social.technet.microsoft.com/Forums/ie/en-US/53e8147d-4d8d-4995-b411-8cc01716a560/promotedlinks-issue-invalid-pageurl?forum=sharepointgeneral) help?

[2021-06-28 08:47] Reeced40 commented on #292
@Ronsss thank you for clearing that up. I'm glad it is reflecting as you suggested. We will keep the issue closed for now. The table limit setup will remain as is for now but will definitely be considered for future updates to the documents. PS. We are not able to see your jpg's you have inserted here. Maybe try adding a screenshot and we can forward it to the team for future updates. Thanks again

[2021-06-28 08:55] Reeced40 commented on #585
@PeterConstable okay, thanks for clearing that up. It seems fine now as I've just downloaded it this side and it worked without any issues. Please let me know if you're still experiencing any issues your side and I can ask one of the authors or someone else on the support side to assist.

[2021-06-28 12:24] dariomws commented on #1432
Hi @mikenri, thank you for your feedback.

If method 2 doesn't work for you, I think you can try method 1. I understand that the -Force switch must be used only as a last resort.

@MaryQiu1987 maybe you can add something here. Thanks!

[2021-06-28 14:07] SharePointBlackBelt commented on #960
The article states Applies to: SharePoint Online
I'm asking someone to fix the article so it also applies to SharePoint Server. The article with the "fix" does not work on SharePoint Server 2019. Not sure about older version.

[2021-06-28 14:33] msbemba commented on #1549
@vri229it Thank you for your feedback. I was able to test this and it works. However, this is not the exact color category feature that outlook provides, instead, it uses the task/color categories. This is a nice way of adding email to the tasks/to list with color categories but does not let you view the color categories in the email reading pane. So I don't think this can be added to the document

[2021-06-28 14:35] msbemba commented on #170
@RaTiller Thank you for your feedback. I was able to test the resolution by allowing external senders to email the group. Let us know if the issue persists.

Thanks
Sri

[2021-06-28 15:19] Ronsss commented on #292
Thanks.
Getting images through various "email" systems can be an adventure. Here is
a share link to a doc with and alternate version of the table in it
OfficeDocs-Support What feature are these limits specific for ^N292.docx
<https://1drv.ms/w/s!Am8lVyUzjKfppmK7ie4rv7DWruT8?e=BUXilA>
Let me know when you have it so I can delete it to free up space.

On Mon, Jun 28, 2021 at 3:47 AM Reece Peacock **

[2021-06-28 15:25] msbemba commented on #1061
@tedpenner Thank you for your feedback. For the "Give control" feature to work in Teams, hardware acceleration should be supported. We are not aware of any compatibility issues. let us know if you were informed about anything in specific, so we can investigate and document if need be.

Thanks
Sri

[2021-06-28 15:38] msbemba commented on #220
@myfope Thank you for your feedback. The document talks only about the autodiscoverbehaviour when you have the registry settings under the \Autodiscover key.

Whereas the support document talks about implementation-https://support.microsoft.com/en-us/help/3211279/outlook-2016-implementation-of-autodiscover

Hope this helps!

Thanks
Sri

[2021-06-28 15:41] msbemba commented on #1594
@lukasmehringer Thank you for your feedback. If you don't have the registry either the issue could be different from what is described in the document or you can continue creating the key mentioned in the document. Let us know if the issue persists even after creating the key.

Thanks
Sri

[2021-06-28 15:47] msbemba commented on #300
@rtate78 Thank you for your feedback. I was able to test it by changing the channel using ODT and it did not prompt for credentials (Device-based licensing). This might have been a bug at the time the issue was created. Could you confirm if the issue persists?

Thanks
Sri

[2021-06-28 15:54] msbemba commented on #576
@olleozon Thank you for your feedback. O365 supports form-based authentication when the domain is federated. let us know if you have any specific issues with authentication.

Thanks
Sri

[2021-06-28 16:08] PeterConstable commented on #585
The msi download works as expected, and the msi works as expected. But these are not the issue. Rather, the issue I reported was with the content of the Win32API_PtrSafe.TXT file that is installed by the msi. This contains declarations that VBA developers would use in the VBA projects, and the problem is with some of the declarations contained in the file. As I said, earlier, at best they don't wo

[2021-06-28 17:14] mikenri commented on #1432
In our case, we had a domain that we no longer owned in our tenant, DNS was no longer under our control.
Whoever bought the domain set up a wildcard DNS entry for the root of the domain, so even though the lyncdiscover DNS record didn't really exist, it was resolving due to the wildcard DNS entry.

We did clean up any objects that were associated with the problematic domain and removing it from ou

[2021-06-28 21:52] catmanjan commented on #576
Is there a way to prevent the warning users receive when first receiving an MSOFBA prompt? See here for more info: https://stackoverflow.com/questions/61523513/latest-version-of-microsoft-office-block-ms-ofba-requests/67031316

[2021-06-29 06:45] Rvvhub commented on #1516
I respectfully disagree: as it is, the article reads like a clear **instruction** from Microsoft to exclude Teams from DLP and AV.
This is due to the 1st sentence:

"_Third-party antivirus and data loss prevention (DLP) applications can interfere with the Microsoft Teams app, and it can prevent the application from starting correctly._ "

combined with this line:

"_To prevent any interference of

[2021-06-29 07:04] joinimran commented on #494
@lan-H2006 / @jalcerreca77 - Can you please both see if you guys are still facing this issue. I have checked and found that this is working as expected. Even I have changed/shuffled the questions. The response column remained the same.

Thanks.

[2021-06-29 08:34] joinimran commented on #622
Hi @GSPierce, I entered the number with double quotes, and now it's working fine in csv file. Following is the screenshot of csv file.
![image](https://user-images.githubusercontent.com/47118050/123764703-77d94880-d8de-11eb-9553-a57d0c40aa33.png)

For the permanent fix, I would suggest rising your voice using the Microsoft User Voice channel.

@nam31 can guide you on how you can put your request o

[2021-06-29 09:33] joinimran commented on #236
Hello @EoMcDonald - I have checked and the whole document and it's fully compatible with Visual Studio 2019. All of the steps mentioned in the document are working fine. Please see the screenshot below

![image](https://user-images.githubusercontent.com/47118050/123774399-cd195800-d8e6-11eb-8b44-6cab741b89a6.png)

Also, as requested, we cannot update the document as Microsoft is not regularly upda

[2021-06-29 12:32] JMNSTYLZ opened #1644 "Language fail"
Wacht totdat AzureAD (AAD) Verbinding maken om de wijzigingen te synchroniseren. Optioneel: Met de parameter ArchiveName wordt de naam van het archiefpostvak opgegeven. Dit is de naam die wordt weergegeven voor gebruikers in Outlook en Outlook Web App (OWA). Als u deze parameter niet gebruikt, is de standaardwaarde Archief in-place <Mailbox_User_Display_Name> -.

moet worden:

Wacht totdat AzureAD

[2021-06-29 15:13] GSPierce commented on #622
Thank you.

Yes, if you force text characters into the cell, it sees it as text, which makes it no longer a number, and makes it necessary to remove the characters when printing, searching, etc.

For my purposes the long number is an identification number that is printed in a mail merge. I currently work around the problem by using dashes in the number, but the underlying issue that Microsoft need

[2021-06-29 15:41] robertafreese opened #1645 "Page documenting how to change profile picture - update to links and instructions"
This page seems out of date.

The links are called:

View Account
https://myaccount.microsoft.com/?ref=MeControl&login_hint=[myinfohinthere]

and

My Office Profile
https://[mytenant]-my.sharepoint.com/person.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a2fd28-32c0-0d80-312a-7f35ff186812
* Version Independent

[2021-06-29 17:28] wcorkill commented on #1307
@MaratMussabekov thanks for tagging me. #1641 looks like a good improvement to the description.

[2021-06-29 18:16] nam31 commented on #1307
Closing via #1641
Thank you

[2021-06-29 18:16] #1307 closed

[2021-06-29 18:17] nam31 commented on #1597
Closing via #1637
Thank you

[2021-06-29 18:17] #1597 closed

[2021-06-29 18:18] nam31 commented on #1077
Closing via #1636
Thank you

[2021-06-29 18:18] #1077 closed

[2021-06-29 19:19] #182 closed

[2021-06-29 19:21] nam31 commented on #563
@DaveNTigard Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-29 19:21] #563 closed

[2021-06-29 19:21] nam31 commented on #597
@stephent122 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-29 19:21] #597 closed

[2021-06-29 19:21] nam31 commented on #611
@Canis-Lupis Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-29 19:21] #611 closed

[2021-06-29 19:22] nam31 commented on #665
@masadiq We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-29 19:22] #665 closed

[2021-06-29 19:23] nam31 commented on #698
@valentijnscholten We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-29 19:23] #698 closed

[2021-06-29 19:23] nam31 commented on #797
@DevJonBirkett Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-29 19:23] #797 closed

[2021-06-30 04:30] nam31 commented on #212
@funzel1 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 04:30] #212 closed

[2021-06-30 04:31] nam31 commented on #256
@clarpaul Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 04:31] #256 closed

[2021-06-30 05:13] nam31 commented on #466
@rgsbouma We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 05:13] #466 closed

[2021-06-30 05:20] nam31 commented on #703
Closing via #1504

[2021-06-30 05:20] #703 closed

[2021-06-30 10:49] nam31 commented on #37
@Mugen593 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 10:49] #37 closed

[2021-06-30 10:51] nam31 commented on #58
@AmyWaggoner We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 10:51] #58 closed

[2021-06-30 11:20] nam31 commented on #1184
@adrian-generationtech Thank you for your feedback. The issue was caused by an update and was fixed later in the same day. Please see #1358
Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 11:20] #1184 closed

[2021-06-30 11:20] nam31 commented on #1355
@BROnstott Thank you for your feedback. The issue was caused by an update and was fixed later in the same day. Please see #1358
Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 11:20] #1355 closed

[2021-06-30 11:21] nam31 commented on #1356
@Vylda Thank you for your feedback. The issue was caused by an update and was fixed later in the same day. Please see #1358
Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 11:21] #1356 closed

[2021-06-30 11:21] nam31 commented on #1359
@Ashton01Prestonmag Thank you for your feedback. The issue was caused by an update and was fixed later in the same day. Please see #1358
Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 11:21] #1359 closed

[2021-06-30 11:21] nam31 commented on #1360
@FrancescoRizzone Thank you for your feedback. The issue was caused by an update and was fixed later in the same day. Please see #1358
Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-30 11:21] #1360 closed

[2021-06-30 11:23] Reeced40 commented on #292
@Ronsss thanks again for your valuable input! You can delete it now, I've got it thank you.

[2021-06-30 11:27] Reeced40 commented on #585
@PeterConstable thanks again for your valuable input. I'll direct it to the relevant team members to look into it and resolve.

[2021-06-30 11:28] #620 closed

[2021-06-30 11:30] nam31 commented on #643
@ebmgithub We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:30] #643 closed

[2021-06-30 11:30] nam31 commented on #663
@paxmundi We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:30] #663 closed

[2021-06-30 11:30] nam31 commented on #756
@TripleStackJack We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:30] #756 closed

[2021-06-30 11:32] nam31 commented on #1631
Closing via #1639
Thank you

[2021-06-30 11:32] #1631 closed

[2021-06-30 11:36] nam31 commented on #154
@skibum42 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:36] #154 closed

[2021-06-30 11:38] nam31 commented on #632
@enderdez We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:38] #632 closed

[2021-06-30 11:38] nam31 commented on #986
@isvan313 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:38] #986 closed

[2021-06-30 11:38] nam31 commented on #1030
@nathanaelmbale We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-30 11:38] #1030 closed

[2021-06-30 12:33] msbemba commented on #576
@catmanjan Thank you for your feedback. Disabling Basic authentication has been postponed. If you have security defaults enabled it will block basic authentication. If you have Basic auth enabled and still receive this error, The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](h

[2021-06-30 12:35] msbemba commented on #1088
@Baldgyt Just wanted to circle back and check if the issue persists and if there are any updates needed on the document.

Thanks
Sri

[2021-06-30 12:36] msbemba commented on #775
@writer0101 Just wanted to circle back and check if you still have any questions or if there are any updates required on the document.

Thanks
Sri

[2021-06-30 12:37] msbemba commented on #760
@riw777 Just wanted to circle back and check if you still have any questions or if there are any specific updates that you would like to see in the document.

[2021-06-30 17:59] #1422 closed

[2021-06-30 18:43] scapero opened #1649 "Number of attendees that can join a meeting has changed - please update this article?"
[Enter feedback here]

**Attendee maximum for meetings capped at 250** [This is no longer what our official documentation states]
https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams

Number of people in a meeting (can chat and call in) | 1000, includes GCC but not yet for GCCH, DoD, or A1 (300). View-only allows for up to 20,000 listen-only participants to join a meeting

I

[2021-06-30 22:55] catmanjan commented on #576
@msbemba I was not talking about Basic authentication - I am talking about Forms authentication

https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-ofba/30c7bbe9-b284-421f-b866-4e7ed4866027

The message says "Forms-based authentication is a legacy authentication method for Office resources that are not protected by Azure Active Directory (AAD) or Microsoft account (MSA)."

Is Micro

[2021-07-01 10:55] Reeced40 commented on #939
@nfisher86 @samnawi please can you confirm if @r-u-n123 suggestion above has worked for you?

[2021-07-01 10:57] Reeced40 commented on #798
@roadsidetree thank you for reaching out. I'm investigating this and will revert soonest.

[2021-07-01 11:04] Reeced40 commented on #548
@ryacoub thank you for reaching out and helping to improve MS Docs. Please can you let me know if this is still an issue as I see the article was updated after your original message.

[2021-07-01 11:09] Reeced40 commented on #539
@Luke-Robinett thank you for reaching out and helping improve MS Docs. I have found this article with other answers/workarounds - https://answers.microsoft.com/msoffice/forum/msoffice_powerpoint-mso_win10-mso_o365b/powerpoint-recording-audio-disappeared-august-2018/574f9c4d-0fe6-47df-868a-2d0e0ab9851c. Please let me know if it helps at all or if you have any other suggestions to add to the article

[2021-07-01 11:31] Reeced40 commented on #472
@LEONARDODC71 thank you for reaching out and helping to improve MS Docs. Please let me know if you're still having this issue.  I've just tried the merge function on a few small documents and it is working my side. I found that wherever your cursor is placed, the documents will be added above that. Also see the note:  Note - Documents will be merged in the order in which they appear in the file li

[2021-07-01 11:43] VLG17 commented on #960
@SharePointBlackBelt So you can reproduce the issue on SharePoint Server 2019, right? That's what I'm asking.

Also, did you try the fix that I mentioned above? Does it work in your situation?

[2021-07-01 13:01] SharePointBlackBelt commented on #960
Right, file protocol does nothing/does not work in SP2019.

Vince
________________________________
From: VLG17 ***@***.***>
Sent: Thursday, July 1, 2021 7:43:57 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Vincent ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Problem also exists with SharePoint Server/on-premises version? (#960)

@SharePointBlackBel

[2021-07-01 14:24] #900 closed

[2021-07-01 14:24] mardahl commented on #900
article delete :)

[2021-07-01 14:39] nam31 commented on #1088
@Baldgyt Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-01 14:39] #1088 closed

[2021-07-01 15:12] dariomws commented on #1073
Hi @RAVCounsulting, thank you for your feedback.

The article seems to be correct. Do you want to suggest an improvement?

[2021-07-01 17:11] get-itips commented on #668
Hello @Smithja6 returning to check if you could see my answer. Thank you

[2021-07-01 17:18] Smithja6 commented on #668
Hi Andres,

Thanks for looking into the problem but I'm afraid I can't be of much help. I had forgotten that I even submitted the report and can't remember the specifics of the issue anymore. I do remember that it took quite a while to troubleshoot the system in question but that the regedit that I listed was able to resolve the issue. Sorry to not be of more help but if no other reports have come

[2021-07-02 06:01] joinimran commented on #622
@GSPierce - Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-02 07:21] joinimran commented on #352
Hi @TobieFysh, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-02 07:21] joinimran commented on #437
Hi @Camios, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-02 07:22] joinimran commented on #470
Hi @Dawood-ibn-Kareem, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-02 07:23] joinimran commented on #1169
Hi @ezidoooo, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-02 07:23] joinimran commented on #1297
Hi @naitsirch, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-02 07:50] joinimran commented on #1169
@ezidoooo, This document does not explain anything.
![image](https://user-images.githubusercontent.com/47118050/124240289-08f52d00-db34-11eb-9097-8016eb4638dd.png)

[2021-07-02 09:25] joinimran commented on #1297
Hi Wrap text is working fine for me. I tried some other features as well.

![image](https://user-images.githubusercontent.com/47118050/124253373-6348ba80-db41-11eb-8bce-47501cb9c330.png)

Please let me know if any of these works for you.

[2021-07-02 10:52] joinimran commented on #470
Hi @Dawood-ibn-Kareem, Following is how to capture change events. For example, if you have a named range called “DataRange” and you want to show a prompt in case the user makes a change in this named range, you can use the code below:

Private Sub Worksheet_Change(ByVal Target As Range)
Dim DRange As Range
Set DRange = Range("DataRange")
If Not Intersect(Target, DRange) Is Nothing Then
MsgBox "You

[2021-07-02 11:13] joinimran commented on #352
Hi @TobieFysh, Lync server 2010 and 2013 are in extended Support which means it will get security fix updates but it will not get any feature update. Your request is a feature update since it in extended Support so it can not be possible.
For reference visit this link:https://docs.microsoft.com/en-us/lifecycle/products/microsoft-lync-server-2013

[2021-07-02 14:23] dariomws commented on #1320
Hi @toxarisswe, thank you for your feedback.

I'm not aware of any plan to remove this limitation. I know the product teams are always looking for user feedback and how to make Teams better. They keep a close tab on user feedback, and it would be awesome to add your voice in User Voice https://microsoftteams.uservoice.com/.

You might find others have made a similar request that you can add to, or

[2021-07-02 14:45] nam31 commented on #668
@Smithja6 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed as you are no longer require assistance, feel free to re-open this issue if you feel that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-02 14:45] #668 closed

[2021-07-02 14:47] #622 closed

[2021-07-02 23:11] Schottkey21 opened #1654 "After upgrade Exchange 2016 RTM to CU21 the IMAP service start and stopped"
After upgrade Exchange 2016 RTM to CU21 the IMAP service started and stopped after IMAP client connects to port 143.

**Before I give the solution I would like to have some feedback about this issue, namely because I don't understand and I don't know what I'm doing it. So Please Microsft explain it.**
Thanks in advance.

After travelling in the **WorId Wide Web** I found the following site that he

[2021-07-03 04:08] smallscript commented on #171
Where is the CORRECT place to FILE the above BUG?

[2021-07-03 11:19] MaratMussabekov commented on #1645
Hello @robertafreese ,
please have a look at https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1655
Thank you

[2021-07-03 12:29] MaratMussabekov commented on #1638
Hello @mauld-louie ,
please have a look at https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1656
Thank you

[2021-07-04 02:06] Pravin666 opened #1657 "Leave a copy of the message on the server is missing in Outlook"
[Microsoft mentioned that we can disable the outlook settings "leave a copy of the message on the server".But actually, This option is only available in office 2016 and it's older versions. Not for office 2019. If there any settings related to this in offfice 2019, please share the way. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-07-05 07:11] nam31 commented on #589
@ShivKumarBS We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:11] #589 closed

[2021-07-05 07:18] nam31 commented on #974
Closing via #1633
Thank you

[2021-07-05 07:18] #974 closed

[2021-07-05 07:42] nam31 commented on #1198
Closing via #1634
Thank you

[2021-07-05 07:42] #1198 closed

[2021-07-05 07:44] nam31 commented on #1611
Closing via #1627
Thank you

[2021-07-05 07:44] #1611 closed

[2021-07-05 07:45] nam31 commented on #629
@mvpromise We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:45] #629 closed

[2021-07-05 07:45] nam31 commented on #760
@riw777 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:45] #760 closed

[2021-07-05 07:46] nam31 commented on #775
@writer0101 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:46] #775 closed

[2021-07-05 07:46] nam31 commented on #911
@CreatedName We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:46] #911 closed

[2021-07-05 07:46] nam31 commented on #229
@dglecoq We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:46] #229 closed

[2021-07-05 07:46] nam31 commented on #307
@ZhiyuanChen We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-05 07:46] #307 closed

[2021-07-05 08:44] dariomws commented on #1432
Hi @mikenri,

If you removed the domain from your tenant, it's not listed when you run Get-CsOnlineSipDomain, and you still have the same error, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://d

[2021-07-05 09:19] nam31 commented on #378
@BlackJebus, we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-05 09:19] #378 closed

[2021-07-05 10:19] MaratMussabekov commented on #331
Hello @TobieFysh ,
please have a look at #1658
Thank you

[2021-07-05 10:29] dariomws commented on #1573
@billwolfhub - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Outlook better. They keep a close tab on user feedback, and it would be awesome if you could add your feedback in:
https://support.microsoft.com/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11
https://techc

[2021-07-05 10:38] dariomws commented on #1557
@billwolfhub - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Excel better. They keep a close tab on user feedback, and it would be awesome if you could add your feedback in:
https://support.microsoft.com/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11
https://techcom

[2021-07-05 11:27] Reeced40 commented on #516
@erictreelight thanks again for your input. This article is related to Excel Online, so the change/additional info workaround will not be applicable here. Please let me know if you have any further queries.

[2021-07-05 13:36] PrathishG-1984 opened #1659 "System issues"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c17faf2-0e38-0a98-454c-3c2c4387b37f
* Version Independent ID: d9153b98-dc39-fdd1-a798-07da0caaaa64
* Content: [Microsoft Teams is stuck in a login loop in Edge, Internet Explorer or Google Chrome - Microsoft Teams](https://docs.microsoft.com/en-us/mi

[2021-07-05 14:26] nam31 commented on #1654
@Schottkey21 Here we are limited to documentation issues and improvements.
The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-07-05 14:29] nam31 commented on #1659
@PrathishG-1984 The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-06 01:29] MaratMussabekov commented on #1604
hello @JeremyTBradshaw ,
I also got error 404, it looks like github is case sensetive:
https://github.com/MicrosoftDocs/OfficeDocs-Support/blob/public/Outlook/Client/Installation/how-to-remove-get-and-set-up-outlook-mobile-app-on-my-phone-option.md - returns error 404 (it has "I" in "Installation")
https://github.com/MicrosoftDocs/OfficeDocs-Support/blob/public/Outlook/Client/installation/how-to-r

[2021-07-06 01:43] MaratMussabekov commented on #1604
Hello @JeremyTBradshaw ,
please have a look at #1660
I am not sure this PR will be applied by Microsoft since the article is about MS Office Outlook, and OWA is a part of Exchange, not MS Office, however, let's give it a shot )
Thank you

[2021-07-06 06:18] nam31 commented on #91
Hi @blouwagie , this article has been updated and moved to https://docs.microsoft.com/en-us/exchange/troubleshoot/calendars/conference-rooms-not-displayed
Please let us know if you are still facing the issue you raised initially.
Thanks

[2021-07-06 06:19] nam31 commented on #92
@blouwagie, this article has been updated and moved to https://docs.microsoft.com/en-us/exchange/troubleshoot/calendars/conference-rooms-not-displayed
Please let us know if you are still facing the issue you raised initially.
Thanks

[2021-07-06 06:19] nam31 commented on #402
@RandomDave1, this article has been updated and moved to https://docs.microsoft.com/en-us/exchange/troubleshoot/calendars/conference-rooms-not-displayed
Please let us know if you are still facing the issue you raised initially.
Thanks

[2021-07-06 07:13] ktrelohan opened #1661 "Translation in french is not good"
[Enter feedback here]
In french the title is : Comment inclure ou exclure des Teams des applications antivirus ou DLP
but the good translation must be : Comment inclure ou exclure Teams des applications d'antivirus ou de DLP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23989acb-65f2-d269-66c8-edcdd89c730d
* Version I

[2021-07-06 07:32] #1237 closed

[2021-07-06 07:40] msbemba commented on #1609
@PerJarlemark Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1663

Thanks
Sri

[2021-07-06 09:17] nam31 commented on #13
@distinctapp, this article has been retired.
You can find more information regarding the issue that you raised on the updated page https://docs.microsoft.com/en-us/sharepoint/troubleshoot/search/troubleshoot-error-when-importing-a-term-set
Please feel free to raise a ticket using the Feedback section of the article if you still face any issue regarding the article.
Thanks

[2021-07-06 09:17] #13 closed

[2021-07-06 10:11] nam31 commented on #132
@kwbskf this article has been retired.
You can find more information regarding the issue that you raised on the updated page https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/no-file-previews-file-explorer-switching-to-32-bit
Please feel free to raise a ticket using the Feedback section of the article if you still face any issue regarding the article.
Thanks

[2021-07-06 10:11] #132 closed

[2021-07-06 10:15] nam31 commented on #1645
Closing via #1655
Thank you

[2021-07-06 10:15] #1645 closed

[2021-07-06 14:15] JeremyTBradshaw commented on #1604
@MaratMussabekov thanks very much for taking care of this and figuring out the link issue.  The PR looks perfect to me!

[2021-07-06 15:13] MaratMussabekov commented on #1649
Dear @scapero ,
please have a look at #1665.
Thank you

[2021-07-06 19:18] fuchsdaniel opened #1666 "Error in Excel VBA Code at article: "Convert numbers into words""
Currently the code presented at https://support.microsoft.com/en-us/office/convert-numbers-into-words-a0d166fb-e1ea-4090-95c8-69442cd55d98 is failing to compile. We also noticed that the code was not ready for countries that do not use "." as a decimal separator, so we'd like to propose the following code instead:

Option Explicit

'Main Function

Function SpellNumber(ByVal MyNumber)

Dim Dollars,

[2021-07-06 21:12] ktrelohan opened #1667 "Error when switching a tenant to Teams Only mode bad translation of "tenant" word in french"
[Enter feedback here]

bad translation in french : from "Error when switching a tenant to Teams Only mode" par "Erreur lors du basculement d'un client en mode Teams uniquement" it must be : "Erreur lors du basculement d'un tenant en mode Teams uniquement." because "Tenant" is a technical word.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-07-07 05:56] #156 closed

[2021-07-07 06:07] nam31 commented on #188
@DaytonaXBoxGuy this article has been updated recently.
Also as @claudialake suggested if the issue persists, the best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you c

[2021-07-07 06:07] #188 closed

[2021-07-07 06:12] MaratMussabekov commented on #1657
Hello @Pravin666 ,
this option is available for Pop3 accounts only, the account on your screenshot is IMAP
Thank you

[2021-07-07 06:28] nam31 commented on #262
@misterleif The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-07 06:33] nam31 commented on #333
@weigh2tall The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-07 06:33] nam31 commented on #334
@kevintaber The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-07 07:09] nam31 commented on #443
@MattFromPhilly Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-07 07:09] #443 closed

[2021-07-07 07:11] nam31 commented on #718
Closing via #929
Thank you

[2021-07-07 07:11] #718 closed

[2021-07-07 08:07] nam31 commented on #786
Hi @BeatBrunner, were you able to check?

[2021-07-07 08:57] nam31 commented on #962
@strudwim this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-07-07 09:00] nam31 commented on #1002
@adrianjellis The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.micros

[2021-07-07 09:00] #1002 closed

[2021-07-07 09:27] MaratMussabekov commented on #678
Hello @rednender ,
there is no such switch currently presented for [Connect-SPOService](https://docs.microsoft.com/powershell/module/sharepoint-online/connect-sposervice?view=sharepoint-ps) cmdlet.
Here only feedback related to the documentation is collected. To provide product-related feedback you can use [SharePoint uservoice](https://sharepoint.uservoice.com/).
Thank you

[2021-07-07 09:53] toskr opened #1668 "script in step 3 of the resolution is wrong"
The script which is supposed to set apprincipalpermissions doesn't work:

$appTitle = '{0}'
 $clientID = '{1}'
 $targetWeb = Get-SPWeb '{2}'
 **$Scope = 'Taxonomy'**
 $Right = 'FullControl'
 $authRealm = Get-SPAuthenticationRealm -ServiceContext $targetWeb.Site
 $AppIdentifier = $clientID + '@' + $authRealm
 Register-SPAppPrincipal -NameIdentifier $AppIdentifier -Site $targetWeb -DisplayName $appT

[2021-07-07 11:15] nam31 commented on #1029
@Sbatushe Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-07 11:15] #1029 closed

[2021-07-07 12:00] sowjanya365 commented on #261
Hi @Kirill-PCPORT

Thank for your contribution.

We have checked this within the team. And we have received the following response.

"Single quote isn't needed for AttributeLDAPDisplayName, see example in https://docs.microsoft.com/en-us/powershell/module/activedirectory/set-aduser?view=windowsserver2019-ps "

Hope this clarifies your query!

We are closing this issue! Please do let us know if you

[2021-07-07 18:39] mdoehnert opened #1669 "Access Error: Data on the Clipboard is damaged, so Microsoft Access can't paste it"
I get problem with Access in Office 365 too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85483394-0194-dbb2-3261-63bdba0d0e6d
* Version Independent ID: 9770a875-4f9f-46f3-a601-5bbfa5a759da
* Content: [Unable to copy and paste from Excel into Access - Office](https://docs.microsoft.com/en-us/office/troubleshoot/access

[2021-07-08 09:05] Pravin666 commented on #1657
Thanks for your clarification.

[2021-07-08 09:05] #1657 closed

[2021-07-08 14:00] dsolodow opened #1671 "Should mention debug log time limit"
The article should probably mention that enabling ActiveSyncDebugLogging auto-disables after 48 hours for Exchange Online and 72 for on-premise. We ran afoul of this trying to run down a sporadic issue. :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6130d9d5-72f1-f6bc-c331-dd3efde61d6f
* Version Independent ID: 55d1

[2021-07-08 17:07] nam31 commented on #1649
Closing via #1665
Thank you

[2021-07-08 17:07] #1649 closed

[2021-07-08 18:53] drichard1 opened #1672 "Why are newer versions not included?"
[Enter feedback here]
This article was written in 2021 and seems to cover Excel 2013, 2021, 2007, and earlier. Are 2016 and 2019 versions not included?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14b7ee83-38f7-b9b9-5fd9-3039447e5353
* Version Independent ID: 933b6c89-ee19-ba9e-5aea-c5716fdb3584
* Content: [Use defin

[2021-07-08 19:27] DiskCrasher opened #1673 "Unused variables"
What is the purpose of this line in the sample code:

`Dim i, j As Long`

Also, on my system, some fields returned extra spaces that I had to trim off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb5e490e-e0a5-3470-cb10-9a3e75f4a6ae
* Version Independent ID: 77e4f016-946b-82cf-d4ff-def1d6fcc6ac
* Content: [Determine

[2021-07-09 06:42] nam31 commented on #331
Closing via #1658
Thank you

[2021-07-09 06:42] #331 closed

[2021-07-09 09:55] nam31 commented on #370
@2sylbl Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks

[2021-07-09 09:55] #370 closed

[2021-07-09 09:56] nam31 commented on #1073
@RAVCounsulting We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-09 09:56] #1073 closed

[2021-07-09 09:58] nam31 commented on #1213
@ssmiller60 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-09 09:58] #1213 closed

[2021-07-09 09:58] nam31 commented on #1316
@jdehart-ca1 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-09 09:58] #1316 closed

[2021-07-09 09:59] nam31 commented on #1320
@toxarisswe Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-09 09:59] #1320 closed

[2021-07-09 10:00] #1432 closed

[2021-07-09 10:04] nam31 commented on #1573
@billwolfhub Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-09 10:04] #1573 closed

[2021-07-09 10:13] nam31 commented on #1604
Closing via #1660
Thank you

[2021-07-09 10:13] #1604 closed

[2021-07-09 10:24] msbemba commented on #1055
@efpob Thank you for your feedback. The reason for the error is: the C# program is targeted for .Net 2.0, while EMS2013 is built by .Net 4.0. Are you still facing any issues with loading the snap-in?

Thanks
Sri

[2021-07-09 10:27] msbemba commented on #1168
@emhouse Thank you for your feedback. Did you run iisreset after running the scripts: .\UpdateCas.ps1 and .\UpdateConfigFiles.ps1 ? A restart after IISreset is also required.

Let us know if you still have any issues.

Thanks
Sri

[2021-07-09 10:32] msbemba commented on #1251
@shrikantbhere Thank you for your feedback. I'll test the report to manager attribute and update you.

Thanks
Sri

[2021-07-09 10:34] msbemba commented on #1257
@ChiefHart Thank you for your feedback. This could happen if they have an automatic forwarding set on the recipient's end. This is by design that Microsoft lets the sender know about a return receipt if there is an auto-forward in place.

Hope this helps!
Thanks
Sri

[2021-07-09 10:38] msbemba commented on #1295
@wunderfliege Thank you for your feedback. Usually, the settings stick together if you have your settings saved in the cloud. Navigate to options-->General-->Store my outlook settings in the cloud.

![image](https://user-images.githubusercontent.com/45987684/125065773-dcab5480-e0cf-11eb-88a1-53ef7062cd21.png)

Hope this helps!

Thanks
Sri

[2021-07-09 10:44] msbemba commented on #1354
@ma4celo Thank you for your feedback. This document pertains only to outlook 2010. I'd suggest you check for the latest update for the home and business suite and let us know if you continue to have problems.

Thanks
Sri

[2021-07-09 10:48] msbemba commented on #1576
@andreaslarssonliu Thank you for your feedback. As mentioned in the article it is by design that ATP notification email messages use the preferred language that's set for the sender's system. Since you are requesting a design change,  To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/produc

[2021-07-09 10:52] msbemba commented on #1671
@dsolodow Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1674

Thanks
Sri

[2021-07-09 10:54] msbemba commented on #594
@JNDDaniel Thank you for your feedback. The Default Permissions is applied to all users within the organization. Whereas My organization could be a Security group within the organization for all users. If that is the case then both are the same.

Hope this helps!

Thanks
Sri

[2021-07-09 10:56] msbemba commented on #666
@drquine Thank you for your feedback. This document pertains only to office 2016. If you are using the same version, Could you confirm if the latest update fixed the issue?

Thanks
Sri

[2021-07-09 10:59] msbemba commented on #1185
@1106854713 Thank you for your feedback. The issue can happen if there are security settings on outlook which have been setup to block certain type of attachments. Does the issue still persist? If yes, do you have a screenshot of the error?

Thanks
Sri

[2021-07-09 11:00] msbemba commented on #1399
@nam31 This issue can be closed as there is no Modern auth method available currently.

Thanks
Sri

[2021-07-09 11:01] msbemba commented on #1549
@nam31 There are no changes required in this document. Please close the issue.

[2021-07-09 11:02] msbemba commented on #860
@eminsenay Thank you for your feedback. We will proceed to close this issue, In case you'd like to see a change in the document please open a new issue.

@nam31 There are no changes required in the document.

Thanks
Sri

[2021-07-09 11:03] msbemba commented on #1206
@kohlfuerst Thanks again for the feedback. Just wanted to circle back and check if you still need any assistance or an update on the document.

Thanks
Sri

[2021-07-09 11:04] msbemba commented on #220
@nam31 There are no changes required in the document.

Thanks
Sri

[2021-07-09 11:05] msbemba commented on #1594
@lukasmehringer Just wanted to circle back and check if you still have any questions or if there are any updates required in the document.

Thanks
Sri

[2021-07-09 11:06] msbemba commented on #170
@RaTiller Just circling back to check if the issue persists.

Thanks
Sri

[2021-07-09 11:06] msbemba commented on #175
@MikeRosoft Just wanted to circle back to check if the issue persists.

Thanks
Sri

[2021-07-09 11:07] msbemba commented on #291
@prontohostau Just circling back to check if the issue persists.

Thanks
Sri

[2021-07-09 11:07] msbemba commented on #300
@rtate78 Just circling back to check if the issue persists.

Thanks
Sri

[2021-07-09 11:08] msbemba commented on #656
@nam31 There are no changes required in the document.

Thanks
Sri

[2021-07-09 11:09] msbemba commented on #708
@nam31 There are no changes required in the document as it is by design.

Thanks
Sri

[2021-07-09 11:11] msbemba commented on #1037
@nam31 There are no changes required in the document as the error reported is different from what is discussed in the document.

Thanks
Sri

[2021-07-09 11:11] msbemba commented on #1061
@tedpenner Just circling back to check if the issue persists or if you'd like to see an update in the document.

Thanks
Sri

[2021-07-09 11:12] efpob commented on #1055
Shouldn't this be updated so that the command works with Exchange 2013 and above? Exchange 2010 is no longer supported in hybrid environments

[2021-07-09 18:19] schumatt-msft commented on #1401
@dariomws Any updates?

[2021-07-09 21:50] drquine commented on #666
Sri,

This problem was reported a YEAR ago. It was resolved at the time with further new versions of the software. If it had taken a year to resolve I would have moved to a new vendor months ago. I do wish that Microsoft could release STABLE software. Almost every week’s patch introduces new instabilities to manage.

Best regards, Doug

Sent from my iPhone

On Jul 9, 2021, at 6:56 AM, Sriraman M S

[2021-07-09 21:56] dariomws commented on #1401
Hi @schumatt-msft, my apologies, but I still don't have updates.

Do you think you can try to push this information from your side? Thanks!

[2021-07-10 01:17] RAVCounsulting commented on #1073
Already replied via text.Sent via the Samsung Galaxy Tab E, an AT&T 4G LTE tablet
-------- Original message --------From: nam31 ***@***.***> Date: 7/9/21  4:56 AM  (GMT-06:00) To: MicrosoftDocs/OfficeDocs-Support ***@***.***> Cc: RAVCounsulting ***@***.***>, Mention ***@***.***> Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Date calculation for year 1900
  (#1073)
@RAVCounsulting We appreciate a

[2021-07-10 07:58] dariomws commented on #1352
Hi @okand, thank you for your feedback and help us to improve docs.microsoft.com.

That section in this article was updated 1 month ago, and now it redirects you to the article which lists all the IP addresses for Office 365.

[2021-07-10 08:04] dariomws commented on #1350
Hi @WimHekken, thank you for your feedback and help us to improve docs.microsoft.com.

My apologies, but I think I don't understand. Are you suggesting that a new article should be added to the Outlook errors section?

[2021-07-10 08:10] dariomws commented on #1334
Hi @harshithsk, thank you for your feedback and help us to improve docs.microsoft.com.

I think you need to free up space in your OneDrive storage. If you still have the issue, the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for busin

[2021-07-10 08:14] dariomws commented on #1298
Hi @jshaole, thank you for your feedback and help us to improve docs.microsoft.com.

That section in this article was updated 1 month ago, and now it redirects you to the article which lists all the IP addresses for Office 365.

[2021-07-10 09:59] nk-gears commented on #863
ok @hardkorehak , Thanks for the details. Will forward this to the technical team to look into further.

[2021-07-10 10:00] nk-gears commented on #743
@TomWLake Did you get a chance to check this ?

[2021-07-10 10:01] nk-gears commented on #711
@mgcasey300 Does that suggestion worked?.

[2021-07-10 12:24] MaratMussabekov commented on #556
Dear @jwojan ,
please have a look at https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1677
Thank you

[2021-07-10 13:51] WimHekken commented on #1350
Wow, that was a loooong time ago, I almost forgot what it was about, but that might be my age….

The (Dutch?) holydays in Outlook are wrong on many occasions.

It’s not the first time that Microsoft messes this up, but on previous occasions the faults where quickly repaired.

This time there is no correction from MS.

I deleted the holydays and imported them from Google, but I don’t think that is

[2021-07-10 16:30] MaratMussabekov commented on #789
Hello @dofzin ,
**And yet I find it impossible to configure a Gmail account in a way that does not use IMAP.** - only paid gmail (as part of the Google Workspace subscription) supports EAS.
**Where are the instructions for connecting to non-Exchange servers using the EAS protocol?** - the configuration varies. It is up to service providers that use EAS to publish instructions
**Other than claiming

[2021-07-10 22:10] dariomws commented on #1350
Hi @WimHekken, thank you so much for your explanation.

The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information provided at [Get support](https://docs.microsoft.com/microsoft-365/business-video/get-help-support). Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.services

[2021-07-10 22:18] dariomws commented on #1131
Hi @Scheel, thank you for your feedback and help us to improve docs.microsoft.com.

For an updated version of this article please see:

[2021-07-11 18:33] msbemba commented on #666
@drquine Thank you for your feedback. Microsoft strives hard to fix existing Bugs via updates. We value your feedback and will pass this on to the team.

Have a nice day!

@nam31 Please close the issue.

Thanks
Sri

[2021-07-12 02:29] #1668 closed

[2021-07-12 03:07] #1131 closed

[2021-07-12 07:08] nam31 commented on #1671
Closing via #1674
Thank you

[2021-07-12 07:08] #1671 closed

[2021-07-12 07:17] nam31 commented on #556
Closing via #1677
Thank you

[2021-07-12 07:17] #556 closed

[2021-07-12 07:26] nam31 commented on #262
@misterleif We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-12 07:26] #262 closed

[2021-07-12 07:27] nam31 commented on #333
@weigh2tall We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-12 07:27] #333 closed

[2021-07-12 07:27] nam31 commented on #334
@kevintaber We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-12 07:27] #334 closed

[2021-07-12 07:27] nam31 commented on #962
@strudwim We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-12 07:27] #962 closed

[2021-07-12 07:27] nam31 commented on #1659
@PrathishG-1984 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-12 07:27] #1659 closed

[2021-07-12 12:22] Reeced40 commented on #472
@LEONARDODC71 please can you let me know if this has been resolved or if you need further assistance. Thanks.

[2021-07-12 12:23] Reeced40 commented on #539
@Luke-Robinett please can you let me know if either of the workarounds helped.

[2021-07-12 12:24] Reeced40 commented on #548
@ryacoub please can you let me know if this issue was solved with the update.

[2021-07-12 12:37] brunoalbuquerque91 opened #1680 "i disabled third-party cookies as recommended but still having the same issue."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3f23881-693f-f82e-7fc2-7b9f73b29090
* Version Independent ID: 5ea1b8c7-f978-bcca-1d92-01df10f747ae
* Content: [Error (We can't get the activity log) when accessing the Microsoft Teams admin center - Microsoft Teams](https://docs.microsoft.com/en-us/m

[2021-07-12 13:49] Reeced40 commented on #798
@roadsidetree Please can you confirm if the issue still needs researching or if the update helped and it can be closed?

[2021-07-12 13:50] Reeced40 commented on #939
@nfisher86 please can you confirm the above, if the suggestion from @r-u-n123 has worked for you.

[2021-07-12 17:30] dariomws commented on #1082
Hi @MichaelBrooks-Version1, thank you for your feedback and help us to improve docs.microsoft.com.

You're recommending adding a detailed explanation on why Excel behaves this way, isn't it?

[2021-07-12 17:44] MaratMussabekov commented on #1672
Hello @drichard1 ,
you are right, newer versions are applicable too.
I created a PR to update the article.
Thank you!

[2021-07-12 17:47] MaratMussabekov commented on #1669
Hello @mdoehnert ,
yes, you are correct, version newer than 2016 also have this issue.
I created a PR to update the article.
Thank you

[2021-07-12 17:51] msbemba commented on #593
@O365scripts Thank you for your feedback. I'll collect the screenshots and update the document.

Thanks
Sri

[2021-07-12 21:58] dariomws commented on #1006
Hi @BestBackwards, thank you for your feedback.

The first article doesn't mention Outlook mobile, and it's related to Office apps. When you use Outlook mobile to connect to Exchange Online and Exchange Server on-premises, it relies on the cloud, so it'll trust the Certification Authority.
If you need to connect to a non-Exchange service, I think you should be able to add your own trusted root CA

[2021-07-12 22:26] dariomws commented on #804
Hi @v-moshai, thank you for your feedback.

I tested it, and it's working. I think you've not specified the URL correctly. It should be something like:
https://companyname.sharepoint.com/sites/SiteName/_layouts/15/people.aspx?MembershipGroupId=0

[2021-07-12 22:27] dariomws commented on #804
This is how it looks:
![image](https://user-images.githubusercontent.com/33589238/125363521-0d5de900-e371-11eb-85fc-fbb2a72a3232.png)

[2021-07-13 08:35] dariomws commented on #785
Hi @frankzhangxd, thank you for the feedback and sorry for the delay.

Maybe you are not experiencing this issue anymore, but I recommend that you try with the OneDrive sync client instead of mapped network drives.

If you still have issues, the best way to get them resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information provided at [Get support

[2021-07-13 08:57] dariomws commented on #750
@SumpAlarm @xinnek Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/answers/products/m365).

[2021-07-13 09:03] dariomws commented on #226
Hello @aneubau,

Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/answers/products/m365).

[2021-07-13 09:51] dariomws commented on #1680
Hi @brunoalbuquerque91, thank you for your feedback.

Did you try enabling third-party cookies and cleaning the browser history and cookies? Are you using the latest version of Microsoft Edge?

The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information provided at [Get support](https://docs.microsoft.com/microsoft-365

[2021-07-13 11:01] nam31 commented on #1669
Closing via #1682
Thank you

[2021-07-13 11:01] #1669 closed

[2021-07-13 11:02] nam31 commented on #1672
Closing via #1681
Thank you

[2021-07-13 11:02] #1672 closed

[2021-07-13 11:06] nam31 commented on #1399
@reevesjeremy Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-13 11:06] #1399 closed

[2021-07-13 11:07] nam31 commented on #1549
@vri229it Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-13 11:07] #1549 closed

[2021-07-13 11:07] nam31 commented on #860
@eminsenay Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-13 11:07] #860 closed

[2021-07-13 11:08] #220 closed

[2021-07-13 11:09] nam31 commented on #1206
@kohlfuerst We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-13 11:09] #1206 closed

[2021-07-13 11:19] nam31 commented on #1339
Closing via #1616
Thank you

[2021-07-13 11:19] #1339 closed

[2021-07-13 12:49] msbemba commented on #1251
@shrikantbhere Thank you for your feedback. I was able to test this in our lab. When you Set [-ReportToManagerEnabled $true] and  [-ReportToOriginatorEnabled $false] the NDR's don't reach the sender instead reaches only the owners of the group as described in the document.

Hope this helps!

Thanks
Sri

[2021-07-13 13:01] msbemba commented on #1576
@nam31  I have tested and I could reproduce the issue. I have provided information about requesting a design change. There are no changes required in the document for now.

Thanks
Sri

[2021-07-13 13:02] msbemba commented on #1354
@ma4celo Just circling back to check if you continue to have problems or are we good to close this issue.

Thanks
Sri

[2021-07-13 13:03] msbemba commented on #1295
@wunderfliege Just circling back to check if you were able to fix the issue or if it still persists.

Thanks
Sri

[2021-07-13 13:04] msbemba commented on #1257
@ChiefHart Just circling back to confirm the question was answered. Let us know if you have more questions or if there are any changes required to the document.

Thanks
Sri

[2021-07-13 13:05] msbemba commented on #1185
@1106854713 Just circling back to check if you continue to have this problem or are we good to close this issue?

Thanks
Sri

[2021-07-13 13:05] andreaslarssonliu commented on #1576
I have made a change request on this through ticket 26056985

[2021-07-13 13:06] msbemba commented on #1168
@emhouse Just circling back to check if the issue persists or are we good to close the issue?

Thanks
Sri

[2021-07-13 13:19] msbemba commented on #594
@JNDDaniel Just circling back to check to if you continue to have this issue or are we good to close the issue?

Thanks
Sri

[2021-07-13 13:26] kohlfuerst commented on #1206
Not only me, lots of people do search how to get rid of wrong autocomplete sugesstions on Mobile when using Microsoft Outlook on Android. Also the search function is terribly working wrong. But there is no help or answer anywhere from Microsoft regarding this tasks.

The solution you describe is not working on AutoComplete list in Outlook Android. The list always stys the same.

[2021-07-13 13:28] brunoalbuquerque91 commented on #1680
Thank you i appreciate the reply back!

On Tue, Jul 13, 2021 at 5:51 AM Dario Woitasen ***@***.***>
wrote:

--
Best regards,
Bruno Albuquerque

[2021-07-13 13:29] msbemba commented on #576
@catmanjan Sorry about the confusion. While I don't see this in the roadmap, you will be able to request this via our feedback Section to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Thanks
Sri

[2021-07-13 13:36] msbemba commented on #1206
@kohlfuerst Thank you for the response. The Suggestions mentioned in the document are typically known fixes for auto-complete issues. If you continue to have problems even after following the suggestions on the document, The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https:

[2021-07-13 13:38] msbemba commented on #1576
Thank you for the update @andreaslarssonliu

[2021-07-13 13:38] VLG17 commented on #135
@TorQueMoD Are you still seeing this issue? The article you linked do not exist anymore (404 - Page not found).

[This article](https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/no-file-previews-file-explorer-switching-to-32-bit) describes what needs to be done to fix this issue.

For Mac specifically I would always start with checking for updates and installing what's missi

[2021-07-13 13:38] kohlfuerst commented on #1206
Thanks Sri, I went through all documentations from Microsoft - there is no better solution. So it will not help to contact Microsoft. They should know by themselfes if they would use their own products :-) THX

[2021-07-13 16:22] DPFlint opened #1684 "inaccurate information for finding the room finder button"
Document says room finder is visible in a couple of places but does not say, to make it visible, you have to click "invite Attendees"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1b9c380-0116-3400-1d54-3ee50c924cba
* Version Independent ID: f1ad1b10-c320-61fa-2818-8dfc8b63271c
* Content: [How to control the Room Fin

[2021-07-13 20:56] TobiasAT opened #1686 "Is the information from that page outdated?"
Hello, it's a strange question but I have to ask. Is this support page really true or just a nice post?
Recently I opened a Microsoft support case why the function described in the help is not available in my tenant.

A summarization about my tenant:

- The affected OneDrive has 4.7 TB = more than 90%.
- My tenant has 25 Microsoft E5 licenses.
- Based on the previous points my tenant should be qua

[2021-07-13 23:20] JNDDaniel commented on #594
I no longer have an issue with the "doc.microsoft" page if that is what you are asking. But after 2-3 months of MS support there has been no solution to the actual technical problem I am experiencing.. just basically create a brand new user account and mailbox.

[2021-07-14 09:28] VLG17 commented on #260
@silvaniaalmeida That info is described in [this article](https://support.microsoft.com/en-us/office/sync-with-a-sharepoint-tasks-list-fb956d2c-723d-4d5a-b7e5-710ef82aa27a), which is contained by the article you linked.

Do you feel like extra information is needed? If yes, which exactly?

[2021-07-14 09:49] VLG17 commented on #1041
@mntorq This should have been fixed in a previous release, according to [this thread](https://techcommunity.microsoft.com/t5/office-365/visio-files-saved-in-onedrive-cause-upload-blocked-error/m-p/2131456/page/2). Are you still seeing this issue, or can you also confirm it's fixed?

[2021-07-14 12:59] mntorq commented on #1041
I have not experienced the issue recently - I'm guessing it's been fixed.

Thanks,
John

________________________________
From: VLG17 ***@***.***>
Sent: Wednesday, July 14, 2021 5:50 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: mntorq ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Upload blocked - for no reason - out of nowhere (#1041)

@mntorq<https

[2021-07-14 13:28] RAJU2529 commented on #1041
@mntorq . Then close this issue from your side.

[2021-07-14 15:36] nam31 commented on #1016
@danbromberg The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.micros

[2021-07-14 15:36] #1016 closed

[2021-07-14 15:37] nam31 commented on #786
@BeatBrunner We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-14 15:37] #786 closed

[2021-07-14 16:47] MaratMussabekov commented on #1303
Hello @NeilAWalker ,
The reasons for the issues may vary, some may be caused by updates, some by environment, third-party applications, add-inns, etc. It is not possible to document all of them. This section of the documentation is designed to show the most common issues and the possible solutions/workarounds.
**Given the article has recently been updated, I suspect that you've had a flurry of use

[2021-07-14 17:15] MaratMussabekov commented on #60
Hello @flxflks ,
this section of documentation is dedicated for troubleshooting Exchange Hybrid deployments, it doesn't cover Outlook.com.
![image](https://user-images.githubusercontent.com/48041687/125663322-89249eb9-7ffa-4b1d-b509-dbe6ff86fadd.png)
You can contact support team on [Outlook.com support portal](https://support.microsoft.com/en-us/office/get-help-with-outlook-com-40676ad0-c831-45ac-

[2021-07-14 17:21] MaratMussabekov commented on #232
Hello @musashiharuno ,
there is no such RBAC permisison in Exchange Online, could you please advise, which one from [the list](https://docs.microsoft.com/en-us/exchange/permissions-exo/permissions-exo) did you mean, so I can reproduce it and check?
Thank you

[2021-07-14 18:28] nam31 commented on #170
@RaTiller Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:28] #170 closed

[2021-07-14 18:28] nam31 commented on #175
@MikeRosoft Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:28] #175 closed

[2021-07-14 18:29] nam31 commented on #291
@prontohostau Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:29] #291 closed

[2021-07-14 18:29] nam31 commented on #300
@rtate78 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-14 18:29] #300 closed

[2021-07-14 18:29] nam31 commented on #576
@olleozon Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:29] #576 closed

[2021-07-14 18:30] nam31 commented on #594
@JNDDaniel Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:30] #594 closed

[2021-07-14 18:30] nam31 commented on #656
@Aegrum Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:30] #656 closed

[2021-07-14 18:31] nam31 commented on #666
@drquine Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:31] #666 closed

[2021-07-14 18:32] #708 closed

[2021-07-14 18:33] nam31 commented on #1037
@ks2018ks Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-14 18:33] #1037 closed

[2021-07-14 18:33] nam31 commented on #1055
Closing via #1683
Thank you

[2021-07-14 18:33] #1055 closed

[2021-07-15 08:17] JaimeBee commented on #941
I have a similar problem using the code to convert DD to DMS. I entered a negative Latitude in DD and got a DMS one degree larger (larger if talking in absolute values) and in general different in M and S than if I enter it without the negative symbol:

-33.121            :    Number entered
-34° 52 ' 44"    :    Output
  33° 7 ' 16"      :    Output when negative symbol deleted

So I think the co

[2021-07-15 08:36] PerplexMarc opened #1688 "Sync/publish time longer then 1 hour"
the article contains the following text
_In some environments, it may take an hour for the OAuth certificate to be published. If you have a hybrid setup, you have to run the Hybrid Configuration Wizard again to update the changes to Azure Active Directory (Azure AD)._

But it can take several hours to sync. It might be useful to adjust this. This is confirmed on various forums.

---
#### Document

[2021-07-15 17:03] nam31 commented on #1609
Closing via @1663
Thank you

[2021-07-15 17:03] #1609 closed

[2021-07-15 17:21] MaratMussabekov commented on #1673
Hello @DiskCrasher ,
you are right, these variables are not used, please have a look at #1689
Thank you

[2021-07-16 09:04] DanGuzman450 opened #1690 "Additional information"
When including the changing of the setting in the "Current Database", you should mention that the option is only available in new MS Access databases.  Once tables have been added, this option is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c4635a6-1d2b-3155-a2a7-625958332caa
* Version Independe

[2021-07-16 14:34] shrikantbhere commented on #1251
Hello Sri,

Thank you for getting back to me.

Regards,
Shrikant

________________________________
From: Sriraman M S ***@***.***>
Sent: Tuesday, July 13, 2021 6:19 PM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: shrikantbhere ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] solution provided in the article is not proper (#1251)

@shrikantbhere<https://gi

[2021-07-16 17:38] nam31 commented on #1673
Closing via #1689
Thank you

[2021-07-16 17:38] #1673 closed

[2021-07-16 17:38] nam31 commented on #1638
Closing via #1656
Thank you

[2021-07-16 17:38] #1638 closed

[2021-07-16 22:42] Krytical13 opened #1691 "What's the actual cause for something that we can't change without downloading an extra tool?"
The way this article is written, the cause of folders disappearing is that the hidden attribute is set to True.

But there is no suggestion of what could suddenly cause this attribute to be changing to True for users.
If we have to download an MFCMAPI tool to fix this issue, it indicates that it's unlikely for us to be able to accidentally hide the folders in some way, meaning it would be some kin

[2021-07-17 06:01] joinimran commented on #693
Hello @TrevMasson - Can you please confirm what changes you want to purpose in the document so that I can work on those.

Thanks
Imran.

[2021-07-17 06:01] joinimran commented on #119
Hi @slowpokezzz , thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-17 06:01] joinimran commented on #1684
Hi @DPFlint , thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-17 06:01] joinimran commented on #1686
Hi @TobiasAT, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-07-18 00:53] tainium opened #1692 "Format of CSV file isn't correct error when an Office 365 user tries to import contacts"
Solution doesn't work for me.  No diagnostic data is provided by the Microsoft interface to troubleshoot the issue.

https://docs.microsoft.com/en-us/office365/troubleshoot/administration/format-of-the-csv-file-not-correct-error-when-importing-contacts
"The format of the CSV file isn't correct. Be sure that the file was exported in the Outlook CSV Format"

---
#### Document Details

⚠ *Do not edit

[2021-07-18 12:38] BestBackwards commented on #1006
@dariomws This image from the first linked documentation contains Outlook https://support.content.office.net/en-us/media/025d5c35-7516-437b-8417-5cc21e82cc3f.png.

[2021-07-18 13:53] musashiharuno commented on #232
@MaratMussabekov
the docs https://docs.microsoft.com/en-us/exchange/troubleshoot/administration/o365-link-eac-redirect-product-comparison is regarding the behavior when user sign in onPrem Exchange ECP, where on the top of the left navigation button there are 2 Items -> Exchange / Office365. By clicking the button Office365 from there, it's reported that end user requires "View-Only Organization M

[2021-07-19 06:44] nam31 commented on #1300
Closing via #1487
Thank you

[2021-07-19 06:44] #1300 closed

[2021-07-19 14:36] harshithsk commented on #1334
I contacted. still nothing they can help out.
Strangely I have freely Business support, support team couldn't help me as I am not paid.

[2021-07-19 17:20] nam31 commented on #1150
Closing via #1488
Thank you

[2021-07-19 17:20] #1150 closed

[2021-07-19 17:42] nam31 commented on #789
@dofzin Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-19 17:42] #789 closed

[2021-07-19 17:43] nam31 commented on #1303
@AurelianoLobato Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-19 17:43] #1303 closed

[2021-07-19 17:43] nam31 commented on #1621
@andreolira Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-19 17:43] #1621 closed

[2021-07-19 17:47] nam31 commented on #1061
@tedpenner We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-19 17:47] #1061 closed

[2021-07-19 17:48] #1144 closed

[2021-07-19 17:49] nam31 commented on #1594
@lukasmehringer Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-19 17:49] #1594 closed

[2021-07-20 07:26] tedpenner commented on #1061
We don't use teams because screen sharing doesn't work right most of the
time, and getting people into teams is frought with all kinds of issues.

The best mix for us is WhatsApp Business because it is incredibly
responsive. It's also much easier to get people in than Microsoft Teams and
it connects directly to Google Contacts. We use it to establish audio and
texting, and we add Zoom for screen s

[2021-07-20 07:27] Gindi4711 opened #1693 "-NewCertificateEffectiveDate (Get-Date) does not take time zone into account"
The following command does not take time zone into account:
Set-AuthConfig -NewCertificateThumbprint <ThumbprintFromStep1> -NewCertificateEffectiveDate (Get-Date)

The solution still works, but it needs additional up to 12 hours (depending on time zone) of downtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a18a6f2

[2021-07-20 08:53] simonxjx commented on #1521
Checking.

[2021-07-20 15:24] nam31 commented on #192
Closing via #1687
Thank you

[2021-07-20 15:25] nam31 commented on #1168
@emhouse We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-20 15:25] #1168 closed

[2021-07-20 15:25] nam31 commented on #1185
@1106854713 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-20 15:25] #1185 closed

[2021-07-20 15:26] nam31 commented on #1251
@shrikantbhere  Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-20 15:26] #1251 closed

[2021-07-20 15:27] nam31 commented on #1257
@ChiefHart  Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-20 15:27] #1257 closed

[2021-07-20 15:27] nam31 commented on #1295
@wunderfliege  Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-20 15:27] #1295 closed

[2021-07-20 15:29] #1354 closed

[2021-07-20 15:30] nam31 commented on #1386
Closing via #1614
Thank you

[2021-07-20 15:30] #1386 closed

[2021-07-21 11:22] nam31 commented on #1521
Closing via #1624
Thank you

[2021-07-21 11:22] #1521 closed

[2021-07-21 12:11] dariomws commented on #1006
@BestBackwards did you try to add the root CA to your mobile device? What services or servers are you adding to Outlook mobile?

[2021-07-21 14:29] nam31 commented on #91
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-21 14:29] #91 closed

[2021-07-21 14:29] nam31 commented on #92
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-21 14:29] #92 closed

[2021-07-21 14:29] nam31 commented on #402
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-21 14:29] #402 closed

[2021-07-21 15:07] nam31 commented on #1023
@pauljb we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:07] #1023 closed

[2021-07-21 15:08] nam31 commented on #1176
@justicenode we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:08] #1176 closed

[2021-07-21 15:08] nam31 commented on #1182
@daveknippers we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:08] #1182 closed

[2021-07-21 15:09] nam31 commented on #1194
@CD-NBCU we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:09] #1194 closed

[2021-07-21 15:10] nam31 commented on #1262
@mmalesevic we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:10] #1262 closed

[2021-07-21 15:10] nam31 commented on #1403
@roggenkamps we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:10] #1403 closed

[2021-07-21 15:11] nam31 commented on #1567
@chrisrapson we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-21 15:11] #1567 closed

[2021-07-21 15:22] nam31 commented on #1654
@Schottkey21 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-07-21 15:22] #1654 closed

[2021-07-21 15:34] #60 closed

[2021-07-21 15:35] nam31 commented on #678
Hi @rednender Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-21 15:35] #678 closed

[2021-07-22 13:44] nam31 commented on #236
@EoMcDonald Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 13:44] #236 closed

[2021-07-22 13:45] nam31 commented on #277
@kdreally we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 13:45] #277 closed

[2021-07-22 14:21] nam31 commented on #437
@Camios we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:21] #437 closed

[2021-07-22 14:22] nam31 commented on #352
@TobieFysh Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:22] #352 closed

[2021-07-22 14:22] nam31 commented on #470
@Dawood-ibn-Kareem Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:22] #470 closed

[2021-07-22 14:23] nam31 commented on #494
@Ian-H2006 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-22 14:23] #494 closed

[2021-07-22 14:23] nam31 commented on #505
@tillyny we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:23] #505 closed

[2021-07-22 14:24] nam31 commented on #693
@TrevMasson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-22 14:24] #693 closed

[2021-07-22 14:24] nam31 commented on #792
@mhQuake we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:24] #792 closed

[2021-07-22 14:25] nam31 commented on #1169
@ezidoooo We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-07-22 14:25] #1169 closed

[2021-07-22 14:26] nam31 commented on #1228
@corinnemec we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:26] #1228 closed

[2021-07-22 14:26] nam31 commented on #1231
@provet1 we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:26] #1231 closed

[2021-07-22 14:27] nam31 commented on #1256
@jdstudebaker We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-22 14:27] nam31 commented on #1297
@naitsirch Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:27] #1297 closed

[2021-07-22 14:28] nam31 commented on #1520
@FWW410552 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-07-22 14:28] #1520 closed

[2021-07-22 14:29] nam31 commented on #1523
@mntorq we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:29] #1523 closed

[2021-07-22 14:29] nam31 commented on #1586
@cvhorie Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-22 14:29] #1586 closed

[2021-07-22 14:35] nam31 commented on #298
Closing via https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5216
Thank you

[2021-07-22 14:35] #298 closed

[2021-07-22 14:38] nam31 commented on #200
@simongrey-LEX the article for which feedback was provided has now been replaced. Updated information about printing documents is available at [Print your document - Word (microsoft.com)](https://support.microsoft.com/en-us/office/print-your-document-cebc3705-c949-42f6-8ed9-534943e1ab5c?wt.mc_id=fsn_word_save_and_print&ui=en-US&rs=en-US&ad=US).
If you are still facing the issue, the best way to ge

[2021-07-22 14:38] #200 closed

[2021-07-22 14:41] nam31 commented on #286
@rexwave we are going to close this issue as the article has been updated accordingly.
The updated article is available at [INDIRECT function - Office Support (microsoft.com)](https://support.microsoft.com/en-us/office/indirect-function-474b3a3a-8a26-4f44-b491-92b6306fa261?ui=en-US&rs=en-US&ad=US#feedback).

[2021-07-22 14:41] #286 closed

[2021-07-22 14:42] nam31 commented on #296
@Trish15
we are going to close this issue as the article has been updated accordingly.
The updated article is available at [Customize the ribbon in Office (microsoft.com)](https://support.microsoft.com/en-us/topic/customize-the-ribbon-in-office-00f24ca7-6021-48d3-9514-a31a460ecb31?ui=en-us&rs=en-us&ad=us#feedback).

[2021-07-22 14:42] #296 closed

[2021-07-22 14:43] nam31 commented on #393
@yukon-cornelius both of the articles mentioned have been updated.
Thank you

[2021-07-22 14:43] #393 closed

[2021-07-22 22:16] TobiasAT commented on #1686
Hello @joinimran, unfortunately your support still has no clue about step 5. Is step 5 currently a general bug in your system?

[2021-07-23 00:11] TakaKinjo commented on #1244
Just checked the JA live version and this is already fixed:

![Issue_1224_AlreadyFixed](https://user-images.githubusercontent.com/67296345/126723876-24fbfd6e-5111-4b54-ae24-d80d1cb2eab9.jpg)

[2021-07-23 00:32] hyoshioka0128 commented on #1244
@nam31  @TakaKinjo - Fixed. Thanks!
Closed #1244 .

[2021-07-23 00:32] #1244 closed

[2021-07-23 10:10] MaratMussabekov commented on #232
Hello @musashiharuno ,
I reproduced the scenario:
1. created a custom role that only contains "Get-RemoteDomain" role entry
2. assigned it to a user
3. logged in to ECP, only able to see the "accepted domains" tab of "mail flow" section
4. wait one hour so everything could synchronize to the cloud
5. clicked on Office 365 button, and still was redirected to Compare All Microsoft 365 Products page.

[2021-07-24 17:25] MaratMussabekov commented on #1691
Hello @Krytical13 ,
**But there is no suggestion of what could suddenly cause this attribute to be changing to True for users.** - there could be various reasons why some attribute of the mailbox was changed - updates, third-party applications, add-ins, bugs in Exchange server or in MS Outlook
**but then we have to fix manually?** - no built-in tool allows to change this kind of attributes, so it

[2021-07-25 18:01] MaratMussabekov commented on #1690
Hello @DanGuzman450 ,
could you please provide the source of this information?
I tried on version 2106, and I am able to change this setting after adding the table.
Thank you

[2021-07-25 20:36] GauravES opened #1697 "Clicking on Notifications from Chat messages sent by Bots do not open in Chat Tab on Teams Desktop client"
There appears to have been a recent breaking change (last few weeks ~possibly April/May 2021) where when a desktop teams client user clicks on a notification sent by a Teams chat bot (built using Microsoft Bot Framework), it does not open the actual chat pane with the sending bot contact.  Teams client instead opens in the "Feed"/Activity Pane of the Teams client and the use must manually navigate

[2021-07-26 09:12] DanGuzman450 commented on #1690
Personal experience, in both MS Access 2016 and 365. Long integer type option is there, higher precision dates is not.  This screenshot is 365:
![image](https://user-images.githubusercontent.com/47125539/126961459-a67b15cf-3ed9-4f74-aaf4-940d68cb363d.png)
Here is the same db in 2016:
![image](https://user-images.githubusercontent.com/47125539/126964453-2cb9eebc-a176-4f5a-b4ae-2232335674a0.png)

[2021-07-26 13:16] nam31 commented on #261
Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-26 13:16] #261 closed

[2021-07-26 13:20] nam31 commented on #1450
Closing via #1571
Thank you

[2021-07-26 13:20] #1450 closed

[2021-07-26 13:20] #1576 closed

[2021-07-26 13:21] nam31 commented on #1462
Closing via #1507
Thank you

[2021-07-26 13:21] #1462 closed

[2021-07-26 13:24] nam31 commented on #472
Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-26 13:24] #472 closed

[2021-07-26 13:24] nam31 commented on #539
@Luke-Robinett We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:24] #539 closed

[2021-07-26 13:25] nam31 commented on #548
@ryacoub We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:25] #548 closed

[2021-07-26 13:26] nam31 commented on #798
@roadsidetree We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:26] #798 closed

[2021-07-26 13:26] nam31 commented on #939
@nfisher86 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:26] #939 closed

[2021-07-26 13:50] nam31 commented on #711
@mgcasey300 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:50] #711 closed

[2021-07-26 13:50] nam31 commented on #743
@TomWLake We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-26 13:50] #743 closed

[2021-07-26 16:04] BROnstott opened #1698 "Office 365 does not appear in the list of programs, so it can't be selected to repair it."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00046333-d516-67e3-ad57-abc0c37b2b35
* Version Independent ID: a48d6248-4a5a-4b38-f358-b35de1a8ee1c
* Content: [Repair process does not start for Office Click-to-Run application - Office](https://docs.microsoft.com/en-us/office/troubleshoot/office-sui

[2021-07-26 17:34] jamesamayes opened #1699 "Broken link"
Link to the powershell script, https://www.microsoft.com/download/details.aspx?id=48689, no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b937cc-c35f-948b-e6f9-3484782ac54a
* Version Independent ID: 00a7a93c-d282-b514-ffb4-6c38a7cf2e8d
* Content: [Can't apply permissions to public folder subfolders in

[2021-07-26 18:01] VLG17 commented on #135
@TorQueMoD could you check the info above and share an update?

[2021-07-26 18:02] VLG17 commented on #260
@silvaniaalmeida Any update?

[2021-07-26 18:08] VLG17 commented on #960
@SharePointBlackBelt Thanks for confirming you are seeing the issue also on SharePoint 2019.

Could you also check if [the fix described here](https://social.technet.microsoft.com/Forums/ie/en-US/53e8147d-4d8d-4995-b411-8cc01716a560/promotedlinks-issue-invalid-pageurl?forum=sharepointgeneral) works in your case?

[2021-07-26 18:10] VLG17 commented on #1041
@mntorq thank you for your reply. Is it ok if we go ahead and close this issue?

[2021-07-27 02:54] mntorq commented on #1041
Yes, I have not experienced the issue in a while.  It must have been patched out.

________________________________
From: VLG17 ***@***.***>
Sent: Monday, July 26, 2021 2:10 PM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: mntorq ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Upload blocked - for no reason - out of nowhere (#1041)

@mntorq<https://na01.s

[2021-07-27 06:14] MaratMussabekov commented on #1690
Hello @DanGuzman450 ,
article says about DateTime2 data type, not about BigInt. It was added in the latest versions of MS Office. Try to update your office to the latest version, and this option will appear. Here what I see in version 2106:
![изображение](https://user-images.githubusercontent.com/48041687/127104806-b6a43825-a590-4d18-b3ba-1c8566e2bd26.png)

Thank you

[2021-07-27 07:42] MaratMussabekov commented on #1693
Hello @Gindi4711 ,
yes, you are correct.
no matter what you try, it always use UTC.
I even tried to use `(Get-Date).AddHours(-[String](Get-TimeZone).BaseUTCOffset.Hours)` to remove the gap between my timezone and UTC, and I got the error the effective date must be greater than the current time.
![image](https://user-images.githubusercontent.com/48041687/127115226-a32268bc-a641-4629-9e11-f4cefd9a8e

[2021-07-27 07:45] MaratMussabekov commented on #1688
Hello @PerplexMarc ,
yes, it seems to be related to timezone issue https://github.com/MicrosoftDocs/OfficeDocs-Support/issues/1693
Set-AuthConfig accepts time in local timezone, and then processes it in UTC timezone, so everyone to the east from UTC will have a time gap.
Thank you

[2021-07-27 08:33] DanGuzman450 commented on #1690
My second image is from 2016, with latest updates.  I only see your highlighted box on brand new databases, no tables.  Once I've added one linked table, that option goes away, thus my comment.

[2021-07-27 12:31] RAJU2529 commented on #1699
@jamesamayes.  @e0i .  Broken link is conformed by me also.

[2021-07-27 12:35] RAJU2529 commented on #1698
@BROnstott. To repair Microsoft   365 suite  , you can use the SARA tool from the Microsoft site, you can download it from below site
**https://outlookdiagnostics.azureedge.net/sarasetup/SetupProd_ExpExp.exe**

[2021-07-28 00:15] canufrank opened #1701 "Firefox Instructions are Invalid"
Page instructs user to add certain exceptions in Firefox with the format
https://*.microsoft.com
Firefox requires exact addresses and ends up parsing the above entry 2 entries reading 'http://https' and 'https://https'
Entering any of the remaining entries are ignored (as they are considered duplicates of  'http://https' and 'https://https')
Entering without the wildcard does not solve the issue t

[2021-07-28 08:50] skorpions2000 opened #1702 "Problem with Microsoft services."
Delisting is not working. You can't delist the IP from blacklist.
My mailserver is state of the art, DNS & RDNS well configured, DMARC, DKIM, SPF, ... but the only company which do not want their paying users to receive mails is Microsoft!
site don't work normally:
https://sender.office.com/
i get answer:
Step 1: Our messaging service has experienced a temporary issue, please resubmit your informa

[2021-07-28 09:53] L0nnny opened #1703 "Onedrive hangs during signin for 1 hour after changing the tlsciphersuite"
[Enter feedback here]
Preface:
All machines are managed by Intune and run W10 21h1 Enterprise.
I could not perform Solution 3 because this is a remote worker.
The settings of Solution 2 were already configured correctly.

Affected laptop is unable to sign in to Onedrive
I noticed that the affected laptop had very outdated TLScipersuites  compared to my working machine.
So I tried Solution 1: Check

[2021-07-28 12:50] nam31 commented on #1697
@GauravES The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-07-28 12:52] nam31 commented on #1702
@skorpions2000 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-07-28 12:54] nam31 commented on #1703
@L0nnny The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-28 13:13] skorpions2000 commented on #1702
Ok, please:
https://sendersupport.olc.protection.outlook.com/pm/policies.aspx
Here wrote, what i must doing. And i doing this, but this all not help me. Form don't work. Please read all information what i write, write please on forum too, you have link. Help me please. All is good, problem only with Microsoft services.

Thank you for answer and repair Microsoft form.

[2021-07-28 13:18] nam31 commented on #1255
@johnaweiss The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-28 13:18] nam31 commented on #1179
@c3333 The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content ?
Thank you.

[2021-07-28 13:21] #226 closed

[2021-07-28 13:21] #750 closed

[2021-07-28 13:23] nam31 commented on #804
@v-moshai Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-28 13:23] #804 closed

[2021-07-28 13:23] nam31 commented on #1298
@jshaole Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-28 13:23] #1298 closed

[2021-07-28 13:23] nam31 commented on #1006
@BestBackwards We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-28 13:23] #1006 closed

[2021-07-28 13:24] nam31 commented on #1082
@MichaelBrooks-Version1 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-28 13:24] #1082 closed

[2021-07-28 15:00] L0nnny commented on #1703
@nam31
If you're asking if there are factual errors in the article listed then I would probably say NO.
However my feedback is that the steps in the article did not resolve the issue that we have on multiple devices.
Thank you.

[2021-07-28 17:30] jshaole commented on #1298
No additional questions. Thank you.

Thank you,
Jeff Schroeder
________________________________
From: nam31 ***@***.***>
Sent: Wednesday, July 28, 2021 3:23:56 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: jshaole ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] IP table not updated in Workaround Symptom 1 (#1298)

@jshaole<https://github.com/jshaole> P

[2021-07-28 17:44] #1350 closed

[2021-07-28 17:45] nam31 commented on #1352
@okand Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-28 17:45] #1352 closed

[2021-07-28 17:45] #1557 closed

[2021-07-28 17:45] #1680 closed

[2021-07-28 17:46] L0nnny commented on #1703
@salarson
I did not, but I will raise a support ticket as suggested
Thanks

[2021-07-28 18:53] Alex-Glebov opened #1704 "Missed link"
There is missed reference to the article "...to open database in Enabled mode"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4dd9b0-5e6c-b2f3-fa62-7a204c0832eb
* Version Independent ID: 654489ba-fe5f-73f9-54fe-3fc42a57e747
* Content: [Database's user-defined function isn't displayed - Office](https://docs.microsoft.

[2021-07-29 00:38] pfc-akorda opened #1705 "WHY DOESN'T WORD GIVE GOOD ERROR MESSAGES?"
[Enter feedback here]
When a word document opens with errors it should give detailed errors so that the creating application can have a proper report filed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b95df2f-e3de-e2d1-b48a-3fcd4183463f
* Version Independent ID: 397150eb-b8e0-62c0-55b9-c5277aacb5dd
* Content: [How

[2021-07-29 04:40] Raymoncorrea opened #1706 "Can this support article be included in the URL below?"
https://support.microsoft.com/en-us/topic/outlook-2016-implementation-of-autodiscover-0d7b2709-958a-7249-1c87-434d257b9087

[2021-07-29 05:09] AlexisEspinosaGayosso opened #1707 "Cannot move a meeting between calendars: a solution"
[Enter feedback here]
I found a good solution: right click the meeting and forward it to the account that manages the calendar on which you want to move the meeting. Then, the meeting entry will appear in the preferred calendar. Finally, re-accept the meeting within the preferred calendar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-07-29 06:32] raymondwigmore opened #1708 "Really Microsoft?!? have you read your own 'workarounds'? Do you understand where people use Teams for?"
[Enter feedback here]

The workarounds in this document make me cry and laugh at the same time.....
turn of your video; disconnect your monitor, switch everything else of, kill all other programs.... It seems like Microsoft doesn't even understand it's own application, or what it is used for.... A tragic joke, that's what this is....
I have another workaround; don't use teams :-) when you have a l

[2021-07-29 16:36] nam31 commented on #232
@musashiharuno Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-29 16:36] #232 closed

[2021-07-29 16:37] nam31 commented on #1216
@ABerTSC Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-29 16:37] nam31 commented on #1691
@Krytical13 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-29 16:37] #1691 closed

[2021-07-29 16:39] nam31 commented on #119
Closing via #1700
Thank you

[2021-07-29 16:39] #119 closed

[2021-07-29 16:40] nam31 commented on #215
@memsim1010 we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-07-29 16:40] #215 closed

[2021-07-29 21:53] TobiasAT commented on #1686
Hello @joinimran, still waiting for an update, and still the same topic with support.

[2021-07-30 02:55] RAJU2529 commented on #1706
@Raymoncorrea Which article are you talking about?

[2021-07-30 03:00] RAJU2529 commented on #1705
@pfc-akorda , Pease write feedback about suggestions in this case through feedback hub application.

[2021-07-30 03:05] Raymoncorrea commented on #1706
What I meant is, can we include this article about Outlook autodiscover to the Outlook 2016 Autodiscover implementation

Outlook prompts for password and doesn't use Modern Authentication to connect to Office 365
https://docs.microsoft.com/en-us/outlook/troubleshoot/authentication/outlook-prompt-password-modern-authentication-enabled

https://support.microsoft.com/en-us/topic/outlook-2016-implemen

[2021-07-30 03:11] RAJU2529 commented on #1706
@Raymoncorrea . Original author of this article should comment here.

[2021-07-30 06:37] MaratMussabekov commented on #1690
Hello,
**My second image is from 2016, with latest updates. I only see your highlighted box on brand new databases, no tables.** - not sure how it is possible. DateTime2 data type is not supported by Access 2016 at all.
![image](https://user-images.githubusercontent.com/48041687/127610707-58dd9ab9-ae93-43f1-9d50-54a8c55eca62.png)
Tried on Access 2016 and 2019, do not see this option, as it is desc

[2021-07-30 11:32] nam31 commented on #1282
@silviopst The issues section of this repository is intended for product documentation issues only.
Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-07-30 11:32] #1282 closed

[2021-07-30 11:42] nam31 commented on #1703
@L0nnny The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.microsoft.c

[2021-07-30 11:42] #1703 closed

[2021-07-30 11:48] nam31 commented on #135
@TorQueMoD We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-30 11:48] #135 closed

[2021-07-30 11:49] nam31 commented on #260
@silvaniaalmeida We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-07-30 11:49] #260 closed

[2021-07-31 09:16] msbemba commented on #1692
@tainium Thank you for your feedback. There are no diagnostics data provided as it only accepts without trailing spaces. Could you please test again with just one row(without trailing spaces) and verify if the problem persists.

Thanks
Sri

[2021-07-31 09:20] msbemba commented on #1698
@BROnstott Thank you for your feedback. If the application is not listed, then you can use the Microsoft SARA tool to repair as it is most likely corrupted or access Portal.office.com and install the suite again.

Hope this helps!
Thanks
Sri

[2021-07-31 18:26] joinimran commented on #1686
@TobiasAT - Did you get a chance to manually open a support case with Microsoft for the increase of storage?

[2021-08-01 10:52] pluciorx commented on #175
The solution is not complete.
In many cases there is an filter applied:
![image](https://user-images.githubusercontent.com/29963409/127768201-1fa16672-2694-4dfe-989c-feafa8a69be9.png)
This filter prevents displaying the messages from the server and should be cleared.

[2021-08-01 20:52] TobiasAT commented on #1686
@joinimran Yes, the question is why a case is required if your step 5 has different information? My support case is primary to solve why step 5 is not working, but your support team has still no clue about this help article. Is the way with step 5 not working for all tenants, and why not?

[2021-08-02 12:33] AndyP2 opened #1713 "fixing advice for firefox wildcard urls"
[Enter feedback here]
Mozilla Firefox does not accept cookie exception URLs like `https://*.microsoft.com`

The firefox support question [Wildcard not working in cookies exceptions](https://support.mozilla.org/en-US/questions/1134200) says you should remove the asterisk and put `https://microsoft.com`.

I have verified it works; you might like to update the document to say this for all 6 URLs inst

[2021-08-02 22:40] James-098 opened #1714 "Cannot download PS1 Script, links to a 404 Page"
[Enter feedback here]
Update-PublicFolderPermissions.ps1 linked on this page cannot be downloaded.  The link directs to this page:
https://www.microsoft.com/download/details.aspx?id=48689
and results in a 404 Error.

Can we get this script relinked?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b937cc-c35f-948b-e6f9-

[2021-08-03 10:05] Jmartinez589 opened #1716 "Changing the path does not work"
As of today, neither of these options work. I've just tried it with Microsoft® Outlook® for Microsoft 365 MSO (16.0.14228.20200) 32-bit .

If you can confirm, then set this article to archive if this feature is being deprecated. No use in having a published article with incorrect information.
I tried method 1 and the option to browse is disabled.
I tried method 2 and the new profile attempted to l

[2021-08-03 20:19] molsen222 opened #1718 "Additional fix for <Unknown> in nested contact group preventing expanding group"
The issue provided on the article shows marking "Show this folder as an email address book" as the resolution. However, this will not resolve all occurrences of the problem.

I have found that if you open the group in question and select 'update now' option it will show that there are members that cannot be found. If you select 'Try to repair the lost members and remove only those that cannot be r

[2021-08-03 23:43] robin-martin opened #1719 "ensure-that-the-required-attribute-synchronized - information missing step 2"
https://docs.microsoft.com/en-us/exchange/troubleshoot/move-or-migrate-mailboxes/troubleshoot-migration-issues-in-exchange-hybrid#ensure-that-the-required-attribute-synchronized-properly-this-is-not-a-common-problem

Under this heading, step 2 says to run a cmdlet but nothing is listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-08-04 02:35] Raymoncorrea opened #1720 "Update Outlook 2016 implementation of Autodiscover"
[Enter feedback here]

The Outlook 2016 implementation of Autodiscover document, can this be updated with the details mentioned in this article?

"It is recommended that users force Outlook to use Modern Authentication by setting the DWORD value of the following registry key to 1:
HKEY_CURRENT_USER\Software\Microsoft\Exchange\AlwaysUseMSOAuthForAutoDiscover"

https://support.microsoft.com/en-us/to

[2021-08-04 07:08] MaratMussabekov commented on #1719
Hello @robin-martin ,
please have a look at #1721
Thank you

[2021-08-04 07:13] MaratMussabekov commented on #1704
Hello @Alex-Glebov ,
please have a look at #1722
Thank you

[2021-08-04 12:51] nam31 commented on #1719
Closing via #1721
Thank you

[2021-08-04 12:51] #1719 closed

[2021-08-04 12:59] nam31 commented on #1179
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-08-04 12:59] #1179 closed

[2021-08-04 12:59] nam31 commented on #1255
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.