[2021-05-23 10:58] nam31 commented on #314
@AlexanderSaad this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 10:59] nam31 commented on #330
The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-23 11:14] nam31 commented on #338
@Brownmattc this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 11:18] nam31 commented on #355
@adamlavery this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 11:20] nam31 commented on #356
@adamlavery this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 11:32] nam31 commented on #383
@GLComputing this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 11:35] nam31 commented on #386
@webby2103 The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.microsof

[2021-05-23 11:35] #386 closed

[2021-05-23 11:36] nam31 commented on #390
@rainan16 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-23 11:38] #330 closed

[2021-05-23 11:48] nam31 commented on #398
@brucesa85 this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:34] nam31 commented on #759
@harichettuva The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-23 13:36] RAJU2529 commented on #1446
I already created PR #1447

[2021-05-23 13:41] nam31 commented on #762
@jackvinson this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:42] nam31 commented on #768
@philschman this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:45] nam31 commented on #769
@erik-alm this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:47] nam31 commented on #773
@alexishughes this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:50] nam31 commented on #776
@shmuelgerber we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-23 13:50] #776 closed

[2021-05-23 13:52] nam31 commented on #778
@ATXdesigns The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you

[2021-05-23 13:53] nam31 commented on #781
@kum6v The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you

[2021-05-23 13:53] nam31 commented on #783
@donfaison this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:56] nam31 commented on #786
@BeatBrunner this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 13:57] nam31 commented on #789
@dofzin this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-23 14:10] nam31 commented on #795
@Ebemtb It seems that the question has been answered by the community, and thus the issue seems to be resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-05-23 14:10] #795 closed

[2021-05-23 15:21] astrostl commented on #762
Article?

[2021-05-23 18:40] pizzaazzip opened #1449 "This article should clarify in step 3 this needs to be 9.0 for all versions of office"
Regardless of the fact the top says it applies to many versions of Office from 2007 to 365/2019 this looks like a typo or someone forgetting to update the article from an older version of Office.  It would be best to clarify in step 3 by adding some sort of wording like _Note:  This is not the current version of Office installed (e.g. 15.0 or 16.0), it does need to be 9.0 for this to apply correct

[2021-05-23 20:00] JamesCarlyleClarke opened #1450 "Additional Solution - tested, repeatable and proven"
Another solution - should be tried after all settings have been checked, but before updating the Video Driver:

Find the images that are not printing; select them (one, or several at a time), and copy them and paste them in to an empty Word document; and then select them in the new document, and copy and paste them back in to the original document, either overwriting or manually deleting the origi

[2021-05-23 20:17] flxflks commented on #60
@nam31 Hi, unfortunately the problem persists even after trying out the updated fixes.

[2021-05-24 05:50] joinimran commented on #1347
@tadakk - Can you please confirm,
1. If the <SID> is the current user's SID, then the key is the same as the one under HKCU. Otherwise, it won't affect the current user's sign-in.
2. If it's HKEY_USERS\.DEFAULT, it may affect the current user.

This information will help to add up the exact and correct information in the article.

Thanks,
Imran.

[2021-05-24 06:00] nam31 commented on #1434
Closing via #1445
Thank you

[2021-05-24 06:00] #1434 closed

[2021-05-24 06:17] nam31 commented on #1161
Closing via #1410
Thank you

[2021-05-24 06:17] #1161 closed

[2021-05-24 06:41] MaratMussabekov commented on #993
Hello @burtzz,
how is your mail flow configured? internet->on-prem -> EOP?
**A lot of valid email being sent to the junk folder** - are you sure it is caused by ASF?
Thank you

[2021-05-24 06:48] MaratMussabekov commented on #993
Hello @burtzz,
how is your mail flow configured? internet->on-prem -> EOP?
**A lot of valid email being sent to the junk folder** - are you sure it is caused by ASF?
Thank you

[2021-05-24 07:12] RAJU2529 commented on #1446
This issue has been resolved so I am closing this issue now

[2021-05-24 07:12] #1446 closed

[2021-05-24 08:01] nam31 commented on #1076
Closing via #1442
Thank you

[2021-05-24 08:01] #1076 closed

[2021-05-24 09:23] MaratMussabekov commented on #104
Hello, it was added in Exchange Server 2016 CU10 (https://docs.microsoft.com/en-us/powershell/module/exchange/new-remotemailbox?view=exchange-ps)
Thank you

[2021-05-24 09:34] Reeced40 commented on #1348
@nam31  this can be closed thank you.

[2021-05-24 10:59] nam31 commented on #446
@ryanturcotte It seems that the question has been answered.
Are you still facing this issue ?

[2021-05-24 11:02] nam31 commented on #448
@mbalex99 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-24 11:11] nam31 commented on #449
@vreddy-m this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 11:12] nam31 commented on #453
@gallama1 this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 11:15] nam31 commented on #458
@BCB57 this article has been updated. Please let us know if your issue is resolved now. Thanks

[2021-05-24 11:46] nam31 commented on #464
@sysadmin-scs this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 12:06] nam31 commented on #469
@cnherrick this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 12:10] nam31 commented on #471
@dialedin2014 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-24 12:19] nam31 commented on #477
@heikoludwig this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 12:20] nam31 commented on #484
@fahadsul The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-05-24 12:23] nam31 commented on #491
@Rampdisli this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 12:34] nam31 commented on #715
@Baldgyt The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-05-24 12:45] nam31 commented on #725
@tokiioKH The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-24 12:46] nam31 commented on #734
@rizwanassad The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-24 12:58] nam31 commented on #744
@iliyasshaikh786 this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-05-24 13:05] RAJU2529 commented on #1444
@nam31. please close this issue

[2021-05-24 13:20] RAJU2529 commented on #1449
@pizzaazzip . thanks for pointing it out. I am going to fixing now.

[2021-05-24 13:46] RAJU2529 commented on #1449
@nam31 . I created this PR#1454 carefully by gettings sufficient details and then i edited this article.

[2021-05-24 14:08] creidieki opened #1456 "Explain how to save individual objects as high resolution"
This is great for exporting whole slides, but it doesn't seem to change the resolution of the "save as picture" function. It's still blurry when I save as as a picture and then import into Word. This document should also explain how to save individual powerpoint objects/drawings as high resolution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-05-24 15:07] nam31 commented on #1349
Closing via #1369
Thank you

[2021-05-24 15:07] #1349 closed

[2021-05-24 15:19] VLG17 commented on #1112
@tommalia The article talks about 3 potential causes. Did you manage to understand which one applies to the issue you are encountering?

Could you please share some details about how we could improve this article so that it would be more clear?

Maybe adding some links for the terms that you mentioned (personal and organizational account, tenants), which are not that clear? Like:

https://techcomm

[2021-05-24 15:27] VLG17 commented on #1108
@anoopras4 The article has been updated and is showing both online and on-premises versions under _Applies to:_

[2021-05-24 15:27] nam31 commented on #1444
Closing via #1448
Thank you

[2021-05-24 15:27] #1444 closed

[2021-05-24 15:32] VLG17 commented on #1081
@artandrson I've checked and and path specified in the article appears to be correct (for my Teams client).

![image](https://user-images.githubusercontent.com/41186174/119370650-2fff4a00-bcbe-11eb-8f51-349b4a6d6666.png)

[2021-05-24 15:32] nam31 commented on #1348
Closing via #1402
Thank you

[2021-05-24 15:32] #1348 closed

[2021-05-24 18:44] brickb opened #1458 "Workaround did not work for me"
The workaround did not work for me.  I was able to successfully add an Internet calendar use the Outlook web app, but the calendar never appeared as a calendar in the  "Other Calendar" section of my Outlook desktop app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca5d5258-e519-df39-0aa5-57115e0211ab
* Version Indepe

[2021-05-25 05:09] nam31 commented on #496
@LeeNoon The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-25 06:39] BeatBrunner commented on #786
@nam31 Do not see an update. Are there any news about this topic?

[2021-05-25 09:28] Sbatushe commented on #1029
Managed to fix it, I don't know the cause of the problem, but flatpak version is working

[2021-05-25 10:00] yatesa opened #1462 "Alternative Solution"
There is actually an alternative solution to this.
You can use "Controlled Connections to Public Folders" to prevent the password prompts.
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-support-for-controlled-connections-to-public-folders/ba-p/608591

Before enabling at org level, first make sure you set all your user accounts to be allowed access to Public Folders, using the

[2021-05-25 12:18] RAJU2529 commented on #1449
this issue has been resolved so I am closing issue.

[2021-05-25 12:18] RAJU2529 commented on #1449
I don't have option to this issue

[2021-05-25 13:27] RAJU2529 commented on #1456
@creidieki . Just now i inserted high-end wallpaper with dimension 10929x5553 and another size 1920x1080   in single PowerPoint file as two slides.
also, i added 1092 dpi in the Registry key., then i exported PowerPoint file  .jpg format.
Both inserted wallpapers are exported separately in single folder.
so i conformed article is correct
, when exporting image you may get below warning
![Capture](

[2021-05-25 13:29] creidieki commented on #1456
The article is correct, it's just incomplete. If you right-click on an individual object on the slide, and click "save as picture", then it's still exported as low resolution, ignoring your registry settings.

[2021-05-25 13:43] RAJU2529 commented on #1456
@creidieki . i exported a single image and then verified , image resolution is not decreased, instead image resolution is  increased

inserted image
[Waterfalls_USA_10929x5553.zip](https://github.com/MicrosoftDocs/OfficeDocs-Support/files/6539712/Waterfalls_USA_10929x5553.zip)

exported image
[single.zip](https://github.com/MicrosoftDocs/OfficeDocs-Support/files/6539730/single.zip)

[2021-05-25 15:33] Dick95518 opened #1467 "Trust That Your Users Aren't Stupid"
The reasoning for not allowing users to easily block domains is ridiculous. Could I inadvertently block a domain? Could happen, but I would accept that slim possibility to make Outlook more productive for me.
Spam is a huge time suck - the fact that you make me jump through hoops to block a domain wastes even more of my time. Please fix this.
Thank you,
D. Johnson

---
#### Document Details

⚠ *Do

[2021-05-25 17:15] SaedMartinez opened #1468 "Error creating a profile of Exchange in Outlook (desktop)"
Hi there, first of all, I´m learning english i understand slowly, well now i got a problem in the process of create a profile in the Outlook app (desktop) specificly when i try to sync or log in the server of my company with the account, (i make this mannually with the ("Control panel>outlook (mail)") i read mosething about the intermediate server with name autodiscover.xml that produce  this erro

[2021-05-25 17:32] wicky818 opened #1469 "16.7 MS Access Driver Download"
[Enter feedback here]
Where is the 16.7 MS Access driver available for download? I can only find 16.0.5xxxx available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726d911b-f3e2-e635-d272-a97cfb2c9ab3
* Version Independent ID: 8060b8cf-86e3-b95c-24d7-0c08d0bafd11
* Content: [Database requires a newer version of Access

[2021-05-25 18:09] catknabb opened #1470 "references to Internet Explorer"
I would like to share this page, but it refers to Internet Explorer. I don't want to encourage people to make IE their default browser. Can this page be edited to point people to Edge?
Thanks, Cath

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 161bf8fc-061e-c244-26a9-d49f2144715f
* Version Independent ID: cf04aa21-cc6

[2021-05-26 01:45] #1449 closed

[2021-05-26 01:50] pizzaazzip commented on #1449
I'm sorry, I might not have been super clear in my earlier note, the original article was actually correct, it just _looked_ wrong with it saying 9.0 and it actually won't work with how you've edited it.  I was suggesting it might be an idea to clarify **yo dawg, 9.0 isn't a typo, don't put 16.0 or 15.0 or 12.0 because it needs to be 9.0 there, it won't work any other way**.  Hopefully that makes

[2021-05-26 02:25] helenclu commented on #1449
Corrected.

[2021-05-26 06:02] nam31 commented on #127
Closing via #1451
Thank you

[2021-05-26 06:02] #127 closed

[2021-05-26 06:03] nam31 commented on #134
Closing via #1452
Thank you

[2021-05-26 06:03] #134 closed

[2021-05-26 08:01] cmasembe10 opened #1474 "Search In Outlook for Mac Doesn't Work"
[I had the same issue, and read almost all guiding pages but to no success. But I have tried this and it has worked for me. in the Preference, go Spotlight, then click the Search Results tab, you might see that the Applications button is not ticked. Please tick it and close. Then launch Outlook and try to search.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-26 10:00] nam31 commented on #904
@campbelljoiners The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 10:01] nam31 commented on #908
@edinaldo-at The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 10:01] nam31 commented on #914
@RabbitMC The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 10:01] nam31 commented on #927
@sudeeshkalam The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 10:02] nam31 commented on #1001
@CubeSpark The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 10:04] nam31 commented on #1057
@WerdnaP1980 It seems that the question has been answered by the community, and thus the issue is being marked as resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve. Thank you.

[2021-05-26 10:04] #1057 closed

[2021-05-26 10:06] nam31 commented on #1070
@kaganova The intention of this repository is to improve on the existing documentation by providing the users a way to report factual errors, improvement suggestions and request updates for new versions.
Are you facing any issue with the article linked as Content
Thank you.

[2021-05-26 10:07] nam31 commented on #1090
@fsc-eriker The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-26 14:18] #1474 closed

[2021-05-26 15:06] lmoore101 opened #1478 "KB missing information"
A new prompt in Outlook is occurring, very similar to the one mentioned in this article and the setting in this article should also apply and hide the "IOS OR ANDROID? Take your Outlook on the go.  Download" prompt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 359383bf-4a8d-a69a-b3d1-1815111f08b3
* Version Independen

[2021-05-26 22:18] jesegal opened #1479 "Windows Server 2016 solution?"
[Enter feedback here]

Any guidance on how to remedy this issue for Windows Server 2016 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c329eb0b-4792-e585-f387-a77ae3786e0d
* Version Independent ID: 043ae1c6-00ff-a67b-7605-86c74bd2df45
* Content: [Error Code 0x8004de40 when signing in to OneDrive - SharePoint](https:/

[2021-05-27 04:44] pizzaazzip commented on #1449
Awesome!  That should work well!

[2021-05-27 13:34] msbemba commented on #122
@LeslieMurphy Thank you for your feedback. The Login network security list is not available on newer versions of outlook. It is available in outlook 2007 and outlook 2010. We have added that to the document so there are two sections, One for the newer versions of outlook and the other for older versions. Hope this helps!

Thanks
Sri

[2021-05-27 14:05] salarson commented on #1479
@jesegal - Can you confirm, I assume you just recently started getting this error within the last 2 weeks on Win Server 2016? If so , can you try the steps regarding the Cipher Suite priority in Windows 10 section and let me know if that resolves the issue?

[2021-05-27 17:01] wroze opened #1480 "IM Client?"
How do I know what my IM client is? I can follow all the other steps but I do not understand what my client is or how I can fix this part. I'm trying to get IM working on my companies Outlook apps so we can improve comms.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8ad0d6-f08c-61af-c9d9-c4c7b

[2021-05-27 17:14] nam31 commented on #252
@cheezewhizze We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-05-27 17:14] #252 closed

[2021-05-27 17:15] nam31 commented on #263
@trlinde We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-05-27 17:15] #263 closed

[2021-05-27 17:15] nam31 commented on #279
@ganlbarone We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-05-27 17:15] #279 closed

[2021-05-27 17:15] nam31 commented on #313
@ShawnTeng We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:15] #313 closed

[2021-05-27 17:16] nam31 commented on #314
@AlexanderSaad We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:16] #314 closed

[2021-05-27 17:16] nam31 commented on #338
@Brownmattc We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:16] #338 closed

[2021-05-27 17:16] nam31 commented on #355
@adamlavery We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:16] #355 closed

[2021-05-27 17:17] nam31 commented on #356
@adamlavery We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:17] #356 closed

[2021-05-27 17:17] nam31 commented on #383
@GLComputing We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:17] #383 closed

[2021-05-27 17:17] nam31 commented on #390
@rainan16 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:17] #390 closed

[2021-05-27 17:21] nam31 commented on #759
@harichettuva We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:21] #759 closed

[2021-05-27 17:22] nam31 commented on #762
@jackvinson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:22] #762 closed

[2021-05-27 17:22] nam31 commented on #768
@philschman We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:22] #768 closed

[2021-05-27 17:22] nam31 commented on #769
@erik-alm We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:22] #769 closed

[2021-05-27 17:22] nam31 commented on #773
@alexishughes We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:22] #773 closed

[2021-05-27 17:22] nam31 commented on #778
@ATXdesigns We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:22] #778 closed

[2021-05-27 17:23] nam31 commented on #781
@kum6v We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:23] #781 closed

[2021-05-27 17:23] nam31 commented on #783
@donfaison We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:23] #783 closed

[2021-05-27 17:23] nam31 commented on #789
@dofzin We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-27 17:26] nam31 commented on #1218
@RichCleaver We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-05-27 17:26] #1218 closed

[2021-05-27 17:42] hrussd opened #1481 "Method 2 Does Nothing"
Method 2: This did not help. The RegEdit file for
HKEY_LOCAL_MACHINE\Software\Classes\htmlfile\shell\open\command
was identical for the PC on which Outlook 2019 could not open a message in browser as a PC which could.
This is the content for both:
Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Classes\htmlfile\shell\open\command]
@="\"C:\\Program Files\\Internet Explorer\\IEXPL

[2021-05-27 18:27] dofzin commented on #789
Sorry, I'm not seeing the change you are referencing. The article still states "Outlook supports the use of EAS to connect to other services that support the EAS protocol." And yet I find it impossible to configure a Gmail account in a way that does not use IMAP. Where are the instructions for connecting to non-Exchange servers using the EAS protocol? Other than claiming that Outlook on the deskto

[2021-05-27 18:42] dofzin commented on #789
@nam31 since I am not a collaborator, I can't reopen the issue. Please reopen as this is not resolved. I believe what this article should do is explain that to use EAS with a non-Exchange account, you must first follow the steps to make the registry edits included in this article: https://support.microsoft.com/en-us/topic/how-to-disable-simplified-account-creation-in-outlook-2016-outlook-2019-and-

[2021-05-27 20:00] msbemba commented on #396
@TausifJam Thank you for your feedback. I understand that there could be multiple causes for this feature greyed out. The resolution in both these cases is common where you will have to Deactivate limited-access user permission lockdown mode.

@nam31 There are no additional changes required in the document.

Thanks
Sri

[2021-05-27 20:10] msbemba commented on #397
@TausifJam Thank you for the feedback. I was able to test this and the issue appears only when the group is created from Microsoft teams admin center. I have added the cause to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1482

Thanks
Sri

[2021-05-27 20:16] msbemba commented on #398
@brucesa85 Thank you for your feedback. I was able to test this and resets the Office activation state.

@nam31 There are no changes needed to the script or document.

Thanks
Sri

[2021-05-27 20:33] msbemba commented on #403
@koolhand  Thank you for your feedback. Microsoft does not recommend disabling the NCSI probes. Several operating system components and applications rely on NCSI. For example, if NCSI does not function correctly, Microsoft Outlook may not be able to connect to a mail server, or Windows may not be able to download updates even if the computer is connected to the internet.

Hope this helps!

@nam31

[2021-05-27 20:38] jesegal commented on #1479
Yes, it started within the last 2 weeks on Window Server 2016.
I tried the steps for Windows10 but they do not work.

For example:  the cmdlet Enable-TlsCipherSuite does not exist for powershell.

Also, I am unable to edit SSL Cipher Suite Order by using the group policy settings.

Please advise additional recommendations.

From: Sam Larson (Microsoft) ***@***.***>
Sent: Thursday, May 27, 2021 9:0

[2021-05-27 20:40] msbemba commented on #415
@niderost Thank you for your feedback. In general, the issue is caused because it does not have a GPU installed or if the hardware acceleration is disabled. We have not seen any other notable causes, Were you able to find out the cause and resolve the issue, If yes, Please do provide and we can add to the document after testing.

Thanks
Sri

[2021-05-27 20:46] msbemba commented on #436
@akvadlamani Thank you for your feedback. As rightly pointed about by @daverickdunn  This issue can occur when Security defaults is enabled. I have added the cause and recommendations to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1483

Thanks
Sri

[2021-05-27 20:53] salarson commented on #1479
There have been some known issues with the DHE Ciphers.

Can you attempt to disable them (assuming the other are already there)
https://docs.microsoft.com/en-us/security-updates/securitybulletins/2015/ms15-055#schannel-information-disclosure-vulnerability-cve-2015-1716<https://docs.microsoft.com/en-us/security-updates/securitybulletins/2015/ms15-055#schannel-information-disclosure-vulnerability---

[2021-05-27 20:58] msbemba commented on #441
@HeatherAllemang Thank you for your feedback. I was able to get the Product ids for Visio and Project 2016. they are called VisioStdRetail and ProjectStdRetail etc.

This was always available in the document, I think the 2019 product IDs might have created a bit of confusion.

Hope this helps!

@nam31 There are no changes in the document and the issue can be closed.

Thanks
Sri

[2021-05-27 21:27] gman57783 opened #1484 "So what is the process to notify everyone"
It wonderful to now know that Everyone Except Externals won't get the normal invitation email, and it great to know that this is the 'expected behavior', but this page should also tell me what the process is to notify those who are added to a site.  I'm sure there is some valid reason why the expected behavior is different from when some other group is added to a site, but if I now have to go back

[2021-05-27 22:05] koolhand commented on #403
@msbemba Thanks, but for clarity: I'm not recommending that anyone disable NCSI probes. I'm recommending the opposite.

This article describes an error message, and is intended to explain the possible causes. But one of the standard causes of the error is not listed. So I'm just trying to point customers to both of the things ghat might cause the error.

If a customer has - _incorrectly_ - disable

[2021-05-27 23:33] msbemba commented on #403
@koolhand Thank you for the update. I have updated the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1486. Once the author reviews and approves the PR, the changes will be live.

CC: @simonxjx

Thanks
Sri

[2021-05-27 23:53] koolhand commented on #403
Thanks @msbemba.

Can I recommend that the cause explain both the registry keys, and the Group Policy that can disable the NCSI probes. They can be disabled by registry, or group policy. And in the scenario I saw, the policy was the cause.

I included in my my original issue description, but got the detail slightly wrong. There are two policies which disable NCSI probes. The precise setting is:

b

[2021-05-27 23:59] msbemba commented on #403
@koolhand Thank you for the feedback. I have updated the PR with the following

To use Group Policy to Enable NCSI active probes, configure the following GPO:

- **Computer Configuration**\\**Administrative Templates**\\**System**\\**Internet Communication Management**\\**Internet Communication settings**\\**Turn off Windows Network Connectivity Status Indicator active tests**
  - Value: Disabled

[2021-05-28 05:40] MaratMussabekov commented on #1300
Hello, confirmed, you are correct.
in exchange server limit is 250, in exchange online - 1028
Thank you

[2021-05-28 10:47] nickjxyz opened #1489 "needs a space after preparead before the next /"
setup /preparead/IAcceptExchangeServerLicenseTerms  - needs a space after preparead in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5dc1f9c-7ebd-d4fe-dc82-b8405899bd46
* Version Independent ID: 3e9b4bb9-1aa2-81f2-7a12-28a2f21ea3c6
* Content: [Moving migration mailbox fails - Exchange](https://docs.micro

[2021-05-28 12:46] mbazzelle opened #1490 "Pre-formatting the field as Text before Pasting value does not work in Mac OS version"
[Enter feedback here]I have attempted to pre-format the field by selecting the column and changing the column type from the header menu.  It still is automatically re-formatting long numbers as scientific notation when I paste in the values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaa826a3-4a58-3877-2d60-a8883a2

[2021-05-28 13:32] jackvinson commented on #762
This is not a high-prioirty issue for me.  However, **the issue seems to be resolved!**  Yay!

Specifically, I had to ensure Teams had the latest updates which appear to be from 25 May.  Then I had to close and reopen both Teams and the virtual camera application several times.  And probably restart my computer.  (Initially, when I received this update I saw that it wasn't working.)

[2021-05-28 14:55] nam31 commented on #1346
@futandrew Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 14:55] #1346 closed

[2021-05-28 14:55] nam31 commented on #1321
@loodini We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-05-28 14:55] #1321 closed

[2021-05-28 14:57] nam31 commented on #809
@generalcss Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 14:57] #809 closed

[2021-05-28 15:08] nam31 commented on #858
@babble2fish Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:08] #858 closed

[2021-05-28 15:08] nam31 commented on #935
@arturochent Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:08] #935 closed

[2021-05-28 15:08] nam31 commented on #951
@JoeyGeng Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:09] nam31 commented on #952
@erottier Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:09] #952 closed

[2021-05-28 15:10] nam31 commented on #961
@malokam Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:10] #961 closed

[2021-05-28 15:11] rohillakr opened #1492 "Publish Date is incorrect"
hi Team,

i have doubt about the the publishing/modification date on this article.
date mentioned is 02/05/2019 and in summary paragraph some information mentioned dated March 24, 2020.

requesting you to review the same to provide correct information to users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b0b2e1-5b

[2021-05-28 15:12] nam31 commented on #1024
@matthew-richards Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:12] #1024 closed

[2021-05-28 15:13] nam31 commented on #104
@Canis-Lupis Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:13] #104 closed

[2021-05-28 15:14] nam31 commented on #1048
@thommck Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:14] #1048 closed

[2021-05-28 15:16] nam31 commented on #1205
Closing via #1423
Thank you

[2021-05-28 15:16] #1205 closed

[2021-05-28 15:17] nam31 commented on #1252
@prRZ5F4LXZ Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:17] #1252 closed

[2021-05-28 15:17] nam31 commented on #1271
@AaqibIqbal Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:17] #1271 closed

[2021-05-28 15:18] nam31 commented on #1306
@webstaff Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:18] #1306 closed

[2021-05-28 15:24] nam31 commented on #997
@siliconglen Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:24] #997 closed

[2021-05-28 15:26] nam31 commented on #1026
Closing via #1453
Thank you

[2021-05-28 15:26] #1026 closed

[2021-05-28 15:27] nam31 commented on #1081
@artandrson Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:27] #1081 closed

[2021-05-28 15:28] nam31 commented on #1108
@anoopras4 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:28] #1108 closed

[2021-05-28 15:29] nam31 commented on #1110
Closing via #1457
Thank you

[2021-05-28 15:29] #1110 closed

[2021-05-28 15:31] nam31 commented on #1152
@SkepUser Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:31] #1152 closed

[2021-05-28 15:34] nam31 commented on #1136
@xshiiiidev Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:34] #1136 closed

[2021-05-28 15:34] nam31 commented on #1171
@hdonaldMSFT Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:34] #1171 closed

[2021-05-28 15:35] #1181 closed

[2021-05-28 15:37] nam31 commented on #1247
@bballpaul4work Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:37] #1247 closed

[2021-05-28 15:38] nam31 commented on #1302
@mgenelins Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:38] #1302 closed

[2021-05-28 15:38] nam31 commented on #1336
@mikalar Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:38] #1336 closed

[2021-05-28 15:39] nam31 commented on #891
@sigurd-de Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:39] #891 closed

[2021-05-28 15:40] nam31 commented on #897
@BobSmiley Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:42] nam31 commented on #905
@GLComputing Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:42] #905 closed

[2021-05-28 15:42] nam31 commented on #915
@ldusolier Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:42] #915 closed

[2021-05-28 15:43] nam31 commented on #926
@clairestreb Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:43] #926 closed

[2021-05-28 15:45] nam31 commented on #948
@JeroenDronkers Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:45] #948 closed

[2021-05-28 15:48] nam31 commented on #957
@copywritepaste Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:48] #957 closed

[2021-05-28 15:51] nam31 commented on #958
Closing via #1373
Thank you

[2021-05-28 15:51] #958 closed

[2021-05-28 15:52] nam31 commented on #995
@bostjanlaba Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:52] #1063 closed

[2021-05-28 15:53] nam31 commented on #1072
Closing via #1417
Thank you

[2021-05-28 15:53] #1072 closed

[2021-05-28 15:53] nam31 commented on #1074
@msbemba Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:53] #1074 closed

[2021-05-28 15:54] nam31 commented on #1092
Closing via #1437
Thank you

[2021-05-28 15:54] #1092 closed

[2021-05-28 15:54] nam31 commented on #1094
@mvanders Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:54] #1094 closed

[2021-05-28 15:55] nam31 commented on #1095
@jamesw4 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 15:55] #1095 closed

[2021-05-28 15:57] RAJU2529 commented on #1489
@nickjxyz . Thanks for pointing out.

[2021-05-28 16:10] bostjanlaba commented on #995
I'm using a workaround all this time. However, some of our PCs in the company still experience this exact problem on daily basis.

[2021-05-28 16:38] nam31 commented on #946
Closing via #1391
Thank you

[2021-05-28 16:38] #946 closed

[2021-05-28 16:39] nam31 commented on #897
@BobSmiley Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-05-28 16:39] #897 closed

[2021-05-28 16:59] elsandosgrande commented on #1403
Here's a short video of the procedure on Firefox (I use Nightly, but it should be applicable on other release channels as well): http://mellemws.my.to/direct/Screencast_from_2021%25E5%25B9%25B405%25E6%259C%258828%25E6%2597%25A5_18%25E6%2599%258251%25E5%2588%258647%25E7%25A7%2592.webm

Firefox doesn't support `*.` or `[*.]` as far as I can tell, which is why I deleted those.

---

Personally, I onl

[2021-05-28 16:59] joinimran commented on #1347
@tadakk - We are looking for your input? Can you please update?

[2021-05-28 19:10] msbemba commented on #237
@c3rberus Thank you for your feedback. The Client sessions sometimes don't disconnect cleanly from the Front-End server The Issue was fixed in the subsequent security updates. This primarily was a client behavior and could be ignored because it was not because of a problem in the server.

Hope this helps!

Thanks
Sri

[2021-05-28 19:27] msbemba commented on #100
@arminreiter Thank you for your feedback. I have updated a workaround to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1496

Thanks
Sri

[2021-05-28 19:34] msbemba commented on #98
@XixiHuang333 Thank you for your feedback. We have added related links to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1497 which talks about other scenarios.

Thanks
Sri

[2021-05-28 19:52] msbemba commented on #87
@michevnew We have made some changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1498. Once the author reviews and approves the document will be updated.
Thanks
Sri

[2021-05-28 20:04] thomps opened #1499 "Renaming Teams Folder in SharePoint breaks connection to Teams"
The ability to rename a channel without causing it to rename the corresponding document folder for that channel causes confusion amongst users who access files both in Teams as well as in SharePoint.  The old folder name still appears in the Files tab of the affected channel, and often times the corresponding folder in SP is a completely different name.  This should be looked at as it doesn't make

[2021-05-29 02:03] WAM1956 opened #1500 "Merging DOCX."
Trying to merge 70+ pages of DOCX. to submit for publication. Photos and text do not stay on separate pages. They are running into the next page. Help!

[2021-05-29 05:48] RAJU2529 commented on #1500
try to change orientation or  text size or  layout paper size.

[2021-05-29 10:00] nk-gears commented on #1140
@RobertKlohr Do you mean the past outlook version from Outlook 97 to.. Outlook 2002 ?

[2021-05-29 14:02] amincoo21 commented on #1041
If ur using One drive for desktop and you get the ( Upload blocked ) message on 365 Office - Open your web browser login to office 365 - select Onedrive - select the profile icon top right and log out from Onedrive (just from Onedrive). reopen your office product and message should be gone

[2021-05-30 18:52] VLG17 commented on #1013
@Kyrryl did the information provided above help answer your questions?

[2021-05-30 18:53] VLG17 commented on #1112
@tommalia Looking forward to your feedback here so we understand how we can proceed.

[2021-05-31 06:02] nam31 commented on #522
@Manasjain19 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-05-31 12:21] nam31 commented on #50
@mac471 The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.microsoft.c

[2021-05-31 12:21] #50 closed

[2021-05-31 12:21] nam31 commented on #81
@RameshSeervi The best way to get your issue resolved is to contact Microsoft Support.
If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).
Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.micro

[2021-05-31 12:21] #81 closed

[2021-05-31 12:23] nam31 commented on #1283
@walterramjet Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-05-31 12:23] #1283 closed

[2021-05-31 12:23] nam31 commented on #1342
@PaulMargus Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-05-31 12:23] #1342 closed

[2021-05-31 12:23] nam31 commented on #1351
@WimHekken Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

[2021-05-31 12:23] #1351 closed

[2021-05-31 13:04] nam31 commented on #436
Closing via #1483
Thank you

[2021-05-31 13:04] #436 closed

[2021-05-31 13:06] nam31 commented on #403
Closing via #1486
Thank you

[2021-05-31 13:06] #403 closed

[2021-05-31 13:09] nam31 commented on #1489
Closing via #1494
Thank you

[2021-05-31 13:09] #1489 closed

[2021-05-31 13:12] nam31 commented on #100
Closing via #1496
Thank you

[2021-05-31 13:12] #100 closed

[2021-05-31 13:13] nam31 commented on #98
Closing via #1497
Thank you

[2021-05-31 13:13] #98 closed

[2021-05-31 13:14] nam31 commented on #87
Closing via #1498
Thank you

[2021-05-31 13:14] #87 closed

[2021-05-31 13:15] nam31 commented on #1492
Closing via #1493
Thank you

[2021-05-31 13:15] #1492 closed

[2021-05-31 13:17] nam31 commented on #1456
Closing via #1463
Thank you

[2021-05-31 13:17] #1456 closed

[2021-05-31 14:10] msbemba commented on #415
@niderost Just following up to see in case you would like to add more information to the document.

Thanks
Sri

[2021-05-31 14:40] MaratMussabekov commented on #174
Hello @voutit ,
it is already stated in the article that the scenario is not supported. It never says that if you use certificate-based connector you will be able to send emails from domain which ownership you cannot prove.
Thank you

[2021-05-31 14:53] MaratMussabekov commented on #1028
Hello @robsaddler ,
did you have time to check it?
Thank you

[2021-05-31 14:53] MaratMussabekov commented on #1324
Hello @nvhv ,
did you have time to check it?
Thank you

[2021-05-31 15:03] MaratMussabekov commented on #433
Hello @cregkly ,
**The line should not have a colon** - in powershell, parameter accepts value with or without colon the same way, it affects nothing.
**and it does not work as written** - worked as expected for me. Which error did you see in output?
Thank you

[2021-05-31 15:43] msbemba commented on #397
@TausifJam The reason has been explained in the More Information section. And this note is about one scenario that results in the cause.

Hope this Helps!

@nam31 There are no changes required in the document.

Thanks
Sri

[2021-05-31 19:40] j0rt3g4 opened #1502 "Update-PublicFolderPermissions.ps1 no longer exists gives 404."
.\Update-PublicFolderPermissions.ps1 no longer exists.

Please correct the link to the addecuate script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b937cc-c35f-948b-e6f9-3484782ac54a
* Version Independent ID: 00a7a93c-d282-b514-ffb4-6c38a7cf2e8d
* Content: [Can't apply permissions to public folder subfolders in E

[2021-05-31 20:35] 4dsystems commented on #100
Has this been solved, or is there only the same workaround in place still?

[2021-05-31 21:22] msbemba commented on #100
@4dsystems Yes, There is no resolution as it is by design that the proxy address alias@domain.onmicrosoft.com gets added to a user account. We have the workaround documented for now.

Thanks
Sri

[2021-05-31 21:55] msbemba commented on #445
@blackft Thank you for your feedback. This document pertains to outlook 2007, 2010, and 2013 where you have the Logon network security option under security.  I'm able to find this option using outlook 2010. Another thing to note is that all builds of outlook 2016 and later are not affected by this issue. If you are using a newer version and face this problem, we highly recommend that you use SATA

[2021-05-31 22:04] msbemba commented on #521
@kelemvor33 Thank you for your feedback. When you use Cached mode, the OST file on your hard drive is used to store and search messages. In case, you un-check and check cached exchange mode, then the same OST file will be used the next time you restart outlook. So preferably, if you have a messed up cache, It is easier to create a new Outlook profile (https://support.microsoft.com/en-us/office/cre

[2021-05-31 22:11] msbemba commented on #524
@SarahSue8 Thank you for your feedback. The Note in the document talks about adding the below Office 365 URLs to the Trusted sites zone:

https://*.sharepoint.com
https://*.microsoftonline.com
https://*.microsoft.com

https://*.microsoft.com would cover all hosts in the domain microsoft.com

Hope this helps!

Thanks
Sri

[2021-05-31 22:17] msbemba commented on #532
@AmandaNoar Thank you for your feedback.

The data from OneNote can be recovered only when it is signed in as the data gets saved to your one drive. All the troubleshooting steps point to methods that you can recover if you have saved data after signing in. Unfortunately, there is no way to recover it unless it was backed up - https://support.microsoft.com/en-us/office/back-up-notes-f58b34b0-611d-

[2021-05-31 22:20] msbemba commented on #537
@JESii Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1503

Thanks
Sri

[2021-05-31 22:26] msbemba commented on #538
@JESii Thank you for your feedback. The option in Method 2 is called Repair disk permissions and can be found under the First Aid Tab.

![image](https://user-images.githubusercontent.com/45987684/120246226-3e84cd00-c28d-11eb-8c47-10c43f5f2f85.png)

Hope this helps!

Thanks
Sri

[2021-05-31 22:33] msbemba commented on #703
@rw5207 Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1504

Thanks
Sri

[2021-05-31 22:36] msbemba commented on #723
@PhuVHuynh Thank you for your feedback. This issue and cause only pertain to Sharepoint online troubleshooting. There is no requirement to change or add keys on the SharePoint 2016 servers.

Hope this helps!

Thanks
Sri

[2021-05-31 23:45] msbemba commented on #1385
@mortentanggaardnielsen Thank you for your feedback. Are you referring to Favorites on the Main tab or the calendar? There is no Favorites option in the calendar. The group calendar that you are part of should show up in All group calendars.

Hope this helps!
Thanks
Sri

[2021-05-31 23:48] msbemba commented on #1412
@anyonecan Thank you for your feedback. The repair option is an integral part of the Office suite. What version of Office is installed on the machine? Is it the entire office suite or an individual application?

Thanks
Sri

[2021-05-31 23:52] msbemba commented on #1433
@jkeponen Thank you for your feedback.

This tool no longer works in 10.14 and higher. If you are on macOS Big Sur 11.1,, you can follow the steps below to reindex Spotlight for Outlook for Mac.  This has been added to the important section of the document

Choose Apple menu, then System Preferences, and then Spotlight.

Select the Privacy tab.

In Finder:

On the Go menu, select Go to Folder...

[2021-05-31 23:55] msbemba commented on #1435
@Gitchiel Thank you for your feedback. This document applies to outlook 2007 and 2010, that is why you don't see the registry information for Office 15 or 16.

If you are using outlook version 16, the registry key would be HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\Outlook\Preferences

Hope this helps!
Thanks
Sri

[2021-05-31 23:59] mukunda- opened #1505 "ActiveSync Sync and Ping behavior"
Is this article accurate? Why would the Ping command affect the Sync command's output? From what I understand, the Ping command monitors folder(s) for changes. If the client misses the Sync response, it will not get a new Sync Key. Shouldn't the Sync Key be used to determine what state is current on the client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-06-01 00:02] msbemba commented on #1436
@Kevin-at-MQ Thank you for your feedback.  The document refers to older versions of outlook. On the new version of Outlook, there are changes to the Room finder and It is by design and aims to provide users with a better experience when working with Outlook room finder, if you still don't like it, as a workaround, you could try to revert your office to an earlier version, such as Version 2012 (Bui

[2021-06-01 00:07] msbemba commented on #1450
@JamesCarlyleClarke Thank you for your feedback. The option to copy and paste would be a temporary workaround and don't think that can be added as a workaround. I will check with the author and update you.

CC: @helenclu

Thanks
Sri

[2021-06-01 01:37] msbemba commented on #1490
@mbazzelle Thank you for your feedback. Usually, when you copy a number from another excel file, it carries the format.  You can also select empty cells, and then enter numbers after you format the cells as text. Those numbers will be formatted as text.

For more information, please refer to https://support.microsoft.com/en-us/office/format-numbers-as-text-in-excel-for-mac-dfbe20dc-e7b1-44b2-80fe-

[2021-06-01 01:40] msbemba commented on #745
@AliMamoonRizwan-i2c Thank you for your feedback. By design, Excel has a maximum of 15 digits of precision and will round any numbers that follow the 15th digit down to zero, which probably isn’t what you want to happen. In this case, You can empty cells, and then enter numbers after you format the cells as text. Those numbers will be formatted as text.

Hope this helps!
Thanks
Sri

[2021-06-01 01:56] msbemba commented on #1462
@yatesa Thank you for your feedback. We have added the solution to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1507

Thanks
Sri

[2021-06-01 02:04] msbemba commented on #1468
@SaedMartinez Thank you for your feedback. This document pertains to mailboxes that are not automatically mapped to an outlook profile when you have full access. Could you please elaborate on the error you receive, so we can point you to the correct document?

Thanks
Sri

[2021-06-01 02:11] msbemba commented on #1480
@wroze Thank you for your feedback. What Instant message client are you trying to incorporate into your companies Outlook Apps? Do you use Microsoft teams or any third-party client like Cisco Jabber? What is the current behavior when you try to IM a colleague currently?

Thanks
Sri

[2021-06-01 02:38] burnindisaster opened #1508 "I don't have the folder "options""
everything ok until it says i have to go to PowerPoint/Options
![Captura](https://user-images.githubusercontent.com/85144607/120258888-db7d4100-c260-11eb-9667-0ab4dd089801.JPG)
there's only a folder called installroot what do i have to do????

[2021-06-01 02:51] JamesCarlyleClarke commented on #1450
Dear Sri,

Yes it would most definitely be a temporary workaround - but it is one that
works. Unlike the other solutions. Unlike Microsoft Office support
technicians.
If you do not formalise it on this document then there will continue to be
lost documents, bad advice, bad solutions, and upset with Office and MS.

All the best,

James

On Tue, Jun 1, 2021 at 8:08 AM Sriraman M S ***@***.***>
wrote

[2021-06-01 05:17] nam31 commented on #1508
@burnindisaster The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you

[2021-06-01 05:18] nam31 commented on #1500
@WAM1956 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you

[2021-06-01 06:23] sowjanya365 commented on #452
Hi @jettan92

Thank you for your feedback. -ClearAutoMapping parameter can only be used to remove permission for all the users, not for an individual ones.

Hope this clarifies your query. For more details, please read this article.

https://docs.microsoft.com/powershell/module/exchange/remove-mailboxpermission?view=exchange-ps

Thank you!

[2021-06-01 06:41] sowjanya365 commented on #460
Hi @isumit19

In this article admin refers to user administrator, or password administrator.

For more details please read this article.

https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-users-reset-password-azure-portal

Hope this clarifies your query. Thank you!

[2021-06-01 06:49] sowjanya365 commented on #465
Hi @sysadmin-scs

"LastAccessed" parameter shows the time in owners timezone. Hope this clarifies your query.

Thank you!

[2021-06-01 06:52] sowjanya365 commented on #466
Hi @rgsbouma

Could you please confirm if you are still facing this issue. I tried, and it's working for me.

Thank you!

[2021-06-01 06:58] sowjanya365 commented on #468
Hi @fborup

Please update the "telephoneNumber" attribute in the "attribute editor". Hope this clarifies your query.

Thank you!

[2021-06-01 07:05] sowjanya365 commented on #492
Hi @IstvanYbema

We see this issue due to the system time, date, or time zone on the affected computer. To resolve this issue, correct the system time, system date, or time zone.

Thank you!

[2021-06-01 10:24] joinimran commented on #278
Hello @pbadams - Thank you for posting your query, but I am sorry to say that there is no ETA for this feature release. But there is a request for a feature open in the UserVoice channel. I would suggest you vote that request. Here is the link for your reference. https://onedrive.uservoice.com/forums/262982-onedrive-archive/suggestions/7094810-check-in-check-out-by-onedrive-for-business-clie

Than

[2021-06-01 11:16] joinimran commented on #847
Hello @twalp thank you for posting your query. I have checked and verified the command is executed properly. See the screenshot.
![image](https://user-images.githubusercontent.com/47118050/120314422-ab7f7d80-c2f4-11eb-9c6d-0784e7869808.png)

I have tested this on my windows 10 computer and office 2019. If you are using any other version let me know so I can check.
Thanks.
Imran.

[2021-06-01 11:38] joinimran commented on #850
Hello @kwikk can you tell which operating system are you using?

Thanks.
Imran.

[2021-06-01 11:40] Obscurax opened #1511 "Update-PublicFolderPermissions.ps1 404"
Links to download the script  _Update-PublicFolderPermissions.ps1_  is giving 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b937cc-c35f-948b-e6f9-3484782ac54a
* Version Independent ID: 00a7a93c-d282-b514-ffb4-6c38a7cf2e8d
* Content: [Can't apply permissions to public folder subfolders in EAC - Exchange](https:/

[2021-06-01 11:40] #1511 closed

[2021-06-01 13:00] yoraaf opened #1512 "Comments in code blocks are broken"
The ' symbol is supposed to start a line comment in VB but the text highlighting of the code blocks seems to treat it as a string character. If you look at this screenshot [https://prnt.sc/13o51vq](https://prnt.sc/13o51vq) you can see the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acccdfec-a453-acfe-e138-222

[2021-06-01 14:19] schumatt-msft commented on #1401
@nam31 Checking in to see if you have any more info here to share. Thanks!

[2021-06-01 15:12] MaratMussabekov commented on #1116
Hello @R3dXIII ,
are you sure that it didn't work just after step 1a? because outlook newer than 2013 [do not require EnableADAL registry key](https://docs.microsoft.com/en-us/exchange/troubleshoot/administration/modern-authentication-configuration).
Thank you

[2021-06-01 15:13] MaratMussabekov commented on #993
Hello @burtzz,
Did you have time to check it?
Thank you

[2021-06-01 15:14] anyonecan commented on #1412
Hello,

It is MS 365, the whole set.

Thanks,

John

On Mon, May 31, 2021 at 6:49 PM Sriraman M S ***@***.***>
wrote:

[2021-06-01 15:18] MaratMussabekov commented on #376
Hello @Alan-Langer ,
are you sure you assigned policy correctly? the provided instruction is correct and it is expected that user will not be able to create groups.
Thank you

[2021-06-01 15:35] nam31 commented on #527
@ganarao We are happy to hear that your issue was resolved.
Thank you

[2021-06-01 15:35] #527 closed

[2021-06-01 15:37] webstaff commented on #1306
Sorry just to clarify, So yes its hybrid in terms of AD sync from on prem AD to office 365.
We had one mailbox sync from onsite AD to 365 and one mailbox 365 cloud only and the message we got was the one listed.
Cloud mailbox is the one who can't email the onsite sync'd to 365 user.
So the issue was almost exactly as listed in the document.

Very long story short though, was a weird forwarding iss

[2021-06-01 15:44] nam31 commented on #556
@jwojan this article has been updated recently and accordingly. Please let us know if your issue is resolved now. Thanks

[2021-06-01 15:50] jwojan commented on #556
The instructions are still incorrect. The document states to do the following:

1.     Go to https://portal.office.com<https://portal.office.com/>.
2.     Go to Settings, Org Settings, and then Reports.
3.     Disable the Display anonymous identifiers instead of names in all reports setting.

Step one is the wrong URL. The proper location is http://portal.office.com/adminPortal.

-Jon

From: ***@*

[2021-06-01 15:51] RAJU2529 commented on #1502
issue is conformed from my side

[2021-06-01 16:03] msbemba commented on #995
@bostjanlaba Thank you for your feedback. Are all those machines and office suites Up to date? What happens when you follow the 5 steps provided in the document?

Thanks
Sri

[2021-06-01 16:14] nam31 commented on #581
@TrixM this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-01 16:20] RAJU2529 commented on #1508
@burnindisaster . Options will be created automatically only after you should adjust settings  under options menu In PowerPoint application.
So open the PowerPoint application, go to file, choose options ,  modify any settings as you like and then click ok, close PowerPoint application. now to go registry editor, now you will find options key is created.

[2021-06-01 16:39] nam31 commented on #1490
Closing via #1506
Thank you

[2021-06-01 16:39] #1490 closed

[2021-06-01 16:54] #43 closed

[2021-06-01 18:23] IstvanYbema commented on #492
Hi Sowjanya365; what exactly do you mean by correcting the system time/date or time zone? It happend on multiple pc's inside and outside the customers network. The systems were all in sync with the correct time.

[2021-06-01 19:31] anyonecan commented on #1412
Hello Sri,

I see, if I click "Modify" (there is no "Change" button), I have a repair
window. There are no modifications possible. I selected to do the full,
online based repair. This seemed to go through some steps, but when it
finished, there was no version of Office is installed. Previously, I had
365-en, and 2010.

I have now installed 64 bit Office 365, and my Excel still goes
non-responsive

[2021-06-01 23:13] msbemba commented on #774
@bjarnegram Thank you for your feedback. Sorry about the delay in contacting you. This issue/bug was fixed in the subsequent update in November 2020. Could you please confirm if this is resolved?

Thanks
Sri

[2021-06-01 23:19] msbemba commented on #799
@maravint Thank you for your feedback. I was able to test it successfully now.

![image](https://user-images.githubusercontent.com/45987684/120401536-c4704900-c35d-11eb-94e6-f0738cf0ca83.png)

Could you please check and let us know if this is resolved now?

Thanks
Sri

[2021-06-01 23:21] msbemba commented on #1467
@Dick95518 Thank you for your feedback. By design, there is no shortcut menu command to add a sender's domain to the Blocked Senders list in Outlook. I don't see it in the roadmap either, I'll check internally and confirm.

Thanks
Sri

[2021-06-01 23:24] msbemba commented on #511
@dyglesias Thank you for your feedback. The document has been moved to Onenote Help& learning.

I suggest you reset the OneNote to check if the issue can be fixed.
Before you reset, please make sure these data have been synced to the cloud.
Or please backup them in your local path because this operation will permanently delete the app’s data on this device, including your preferences and sign-in d

[2021-06-01 23:47] msbemba commented on #519
@PietDeBooser  Thank you for your feedback. This document pertains to only a specific issue. You can follow the below instructions To check whether the 32-bit Microsoft Access Database Engine drivers are installed

1)Go to C:\Windows\SysWOW64\odbcad32.exe.
 If on a 32-bit machine, go to C:\Windows\System32\odbcad32.exe to access the utility. Navigate to the drivers tab. If the Microsoft Access Dri

[2021-06-01 23:49] msbemba commented on #752
@rgsteele Thank you for your feedback. Sorry about the delay in attending to this.

A profile must exist in the SharePoint Online profile database to provision a OneDrive site. A profile is created when a user account is created and synched to the Office 365 portal, or during ODB provisioning if one does not exist.

It is a rare scenario that a profile does not exist. For any reason, a profile is

[2021-06-01 23:56] msbemba commented on #1484
@gman57783 Thank you for your feedback. SharePoint does not email the Everyone or Everyone except external users. This is by design. When you use the everyone group or the everyone except external users you will just be assigning security, SharePoint does not provide an email when these are used.

Unfortunately, there is no workaround apart from sending an email manually to an All users distributi

[2021-06-02 00:08] msbemba commented on #553
@Calle2003 Thank you for your feedback. You can use ADMX or ADML template and add it to the  Local Group Policy Editor.  You will need to save it as .ADMX or.ADML before you add it to the Local group policy editor.

Hope this helps!
Thanks
Sri

[2021-06-02 00:14] msbemba commented on #796
@wambaugh-debug Thank you for your feedback. Some of the Outlook switches like resetfolders or resetfoldernames do not work on a MAC. Similarly, the instructions provided in Method 4 using MFCMAPI cannot be performed on a MAC. So, you will need to use a windows machine or VM to perform these steps as mentioned in the article.

Alternatively, You can use MAC to change the folder name on the outlook

[2021-06-02 00:21] msbemba commented on #1353
@asseeger Thank you for your feedback. The document is specifically for an issue wherein the sent items folder gets renamed and causes emails to be stuck in the outbox. So the steps provided might not be able to resolve the issue with IMAP accounts.

We recommend you update outlook to Version 16.49 (Build 21050901) released on May 11 to see if that helps.

Thanks
Sri

[2021-06-02 00:46] msbemba commented on #1481
@hrussd Thank you for your feedback. Did you also try Step3 to check the default value is  "htmlfile"

![image](https://user-images.githubusercontent.com/45987684/120407051-f5ef1180-c369-11eb-8a4a-b9fe413b8c99.png)

Thanks
Sri

[2021-06-02 02:43] rgsteele commented on #752
Hi @msbemba, and thanks for your reply. But I wasn't requesting support; I was trying to contribute to the documentation. The details about what needs to be done in this scenario need to be added to the article so that other admins who encounter this "rare scenario" know what to do to resolve it.

[2021-06-02 03:33] msbemba commented on #752
Got it. This has been added to the document as well.

Thanks
Sri

On Wed, 2/06/2021 at 08:13 Ryan Steele ***@***.***> wrote:

--

-----------------------------------------

Sriraman Srinivasan

If Plan "A" Doesnt work there are 25 other letters:) Stay Cool !

[2021-06-02 05:27] nam31 commented on #1164
@LinealLewis this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-02 05:30] nam31 commented on #1207
@ShaunDave this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-02 05:30] nam31 commented on #1209
@masonabarney this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-02 05:32] nam31 commented on #1211
@amit-nz this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-02 05:34] nam31 commented on #1293
The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 06:41] RAJU2529 commented on #1412
@anyonecan , New office suites starts from office 2013 onwards, office uses  Click 2 Run installation method, so you wont see change option .
But older office versions like 2010, 2007 versions uses  .msi update method, so you will see the change option.

If possible record  video, then upload in online storage, paste sharing link here

[2021-06-02 06:50] bostjanlaba commented on #995
4 steps didn't help much. I just tried SaRa step which disabled hw acceleration and it seems fine now. I'll test these machines for a day or two and report back if the issue has been resolved.

Thank you.

[2021-06-02 06:54] Rvvhub opened #1516 "Poor recommendation!?"
Hi there,

to me, this article is confusing and seems like poor advice.

1. no collaboration tool should recommend users to exclude themselves from DLP. Companies spend lots of money and resources on protecting their data, including using DLP solutions, for very good reasons. Considering that, it is most awkward for a top-collaboration tool to recommend users to try and bypass DLP.

2. the article

[2021-06-02 12:30] joinimran commented on #793
Hello, @rmc2 Do you have Read/Write Permission to document stored on Sharepoint/Onedrive?

[2021-06-02 13:42] bjarnegram commented on #774
Hi!
What exactly was fixed?
That the workaround works?
Which basically gives Outlook from 2016...
Or is the issue with iCloud on ARM actually fixed?
Because I tried updating Office and reinstalling iCloud, and that certainly doesn't work.
And reverting to an Outlook version from 2016 isn't an option.
I'm on Outlook: 16.0.14026.20254

[2021-06-02 14:24] nam31 commented on #1279
Closing via #1513
Thank you

[2021-06-02 14:24] #1279 closed

[2021-06-02 15:12] msbemba commented on #752
@nam31 No changes required in the document.

Thanks
Sri

[2021-06-02 15:18] msbemba commented on #774
@bjarnegram Thank you for your feedback. I meant the workaround.  If you revert to version 16.0.6868.2067, you can configure iCloud to synchronize Contacts, Calendars and Tasks with Outlook 2016 successfully. At this point, if you prefer to, you can update Office 2016 to the latest version or to 16.0.14026.20254 as long as you do not change the iCloud synchronization with Outlook.

Thanks
Sri

[2021-06-02 17:01] hrussd commented on #1481
Yes, I did , and it is htmlfile.

Regards,

H. Russell Donovan

***@***.***

From: Sriraman M S ***@***.***>
Sent: Tuesday, 01 June 2021 17:46
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: hrussd ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Method 2 Does Nothing (#1481)

@hrussd <https://github.com/hrussd>  Thank you for your feedback. Did you also try

[2021-06-02 17:52] nam31 commented on #618
Closing via #619
Thank you

[2021-06-02 17:52] #618 closed

[2021-06-02 18:06] nam31 commented on #649
@SniperDiaper1 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 18:06] nam31 commented on #652
@Gmaynard-UR The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 18:07] nam31 commented on #653
@getgcs33 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 18:35] nam31 commented on #658
Closing via #661
Thank you

[2021-06-02 18:35] #658 closed

[2021-06-02 18:40] nam31 commented on #674
@vipuljhaveri The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 18:42] nam31 commented on #681
@mortkar this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-02 18:46] nam31 commented on #695
@jimmyeao The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-02 19:59] niderost commented on #415
Hello Sri,
Thank you for your message and reminder. I haven't been able to find the root cause for the issue. I assume it was a bug in the software, as it disappeared after an update to a newer version of Teams. I didn't have any issues with this since then.
Regards, Beat

[2021-06-02 21:28] rgsteele commented on #752
I don't understand. Nowhere in the document does it say what to do if you
have waited two hours and the profile still does not exist. I would suggest
something like:

"If you have waited two hours and the profile still does not exist, please
contact Microsoft Support."

On Wed, Jun 2, 2021 at 8:13 AM Sriraman M S ***@***.***>
wrote:

--
Ryan Steele - ***@***.***

[2021-06-02 23:09] msbemba commented on #752
@rgsteele Sorry about the confusion. The part to contact Microsoft was not added, I have updated the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1519. Once the author approves it, the document will be live with the changes.

Thanks
Sri

[2021-06-02 23:45] msbemba commented on #1458
@brickb Thank you for your feedback. I'm testing this currently and will update the document If need be.

Thanks
Sri

[2021-06-03 01:12] simonxjx commented on #1292
Links are updated.

[2021-06-03 01:12] #1292 closed

[2021-06-03 01:13] simonxjx commented on #1304
Links are updated.

[2021-06-03 01:13] #1304 closed

[2021-06-03 06:44] #704 closed

[2021-06-03 10:23] nam31 commented on #446
@ryanturcotte We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:23] #446 closed

[2021-06-03 10:23] nam31 commented on #449
@vreddy-m We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:23] #449 closed

[2021-06-03 10:24] nam31 commented on #453
@gallama1 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:24] #453 closed

[2021-06-03 10:24] nam31 commented on #458
@BCB57 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:24] #458 closed

[2021-06-03 10:24] nam31 commented on #469
@cnherrick We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:24] #469 closed

[2021-06-03 10:25] nam31 commented on #477
@heikoludwig We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:25] #477 closed

[2021-06-03 10:34] nam31 commented on #484
@fahadsul We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:34] #484 closed

[2021-06-03 10:35] nam31 commented on #491
@Rampdisli We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:35] #491 closed

[2021-06-03 10:35] nam31 commented on #581
@TrixM We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:35] #581 closed

[2021-06-03 10:35] nam31 commented on #715
@Baldgyt We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:36] nam31 commented on #744
@iliyasshaikh786 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-03 10:36] #744 closed

[2021-06-03 11:07] Baldgyt commented on #715
I have no idea what response you are seeking

I think I gave some feedback on an improvement to the text

From: nam31 ***@***.***>
Sent: 03 June 2021 11:36
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Ian Cunningham ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Seems to have been triggered (#715)

@Baldgyt<https://github.com/Baldgyt> We appreciate any

[2021-06-03 11:10] nam31 commented on #448
@mbalex99 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:10] #448 closed

[2021-06-03 11:10] nam31 commented on #471
@dialedin2014 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:10] #471 closed

[2021-06-03 11:10] nam31 commented on #496
@LeeNoon We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:10] #496 closed

[2021-06-03 11:11] nam31 commented on #522
@Manasjain19 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:11] #522 closed

[2021-06-03 11:11] nam31 commented on #725
@tokiioKH We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:11] #725 closed

[2021-06-03 11:11] nam31 commented on #734
@rizwanassad We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:11] #734 closed

[2021-06-03 11:13] nam31 commented on #904
@campbelljoiners We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:13] #904 closed

[2021-06-03 11:13] nam31 commented on #908
@edinaldo-at We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:13] #908 closed

[2021-06-03 11:13] nam31 commented on #914
@RabbitMC We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:13] #914 closed

[2021-06-03 11:13] nam31 commented on #927
@sudeeshkalam We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:13] #927 closed

[2021-06-03 11:13] nam31 commented on #1001
@CubeSpark We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:13] #1001 closed

[2021-06-03 11:14] nam31 commented on #1070
@kaganova We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:14] #1070 closed

[2021-06-03 11:14] nam31 commented on #1090
@fsc-eriker We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:14] nam31 commented on #1293
@eduzav We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:14] #1293 closed

[2021-06-03 11:14] nam31 commented on #1500
@WAM1956 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:14] #1500 closed

[2021-06-03 11:14] nam31 commented on #1508
@burnindisaster We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-03 11:14] #1508 closed

[2021-06-03 11:55] nam31 commented on #1050
@Andy04721 The issues section of this repository is intended for product documentation issues only.
Can you please tell us to which article(s) your question applies? This will help us route the issue correctly.
Thank you.

[2021-06-03 12:24] FWW410552 opened #1520 "Line breaks are removed in posts with rich format"
A recent topic from Microsoft states that the removal of line breaks only occurs in plain text formatted messages. That's simply not true. Also in rich text formatted messages the line breaks are removed, even though the option is switched off.
Any one who can help?
Freek Weeda, the Netherlands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-03 12:25] fsc-eriker commented on #1090
Sorry, I missed your request for clarifications.

A simple Github search currently brings up 26 results in this repository.

https://github.com/MicrosoftDocs/OfficeDocs-Support/search?q=SPAM

[2021-06-03 13:11] VLG17 commented on #141
@JuGhithub Which script are you referring to? The [page you linked](https://docs.microsoft.com/en-us/deployoffice/change-update-channels) does not contain a script. It talks about the two ways of doing this, either using a group policy or via the Office Deployment Tool.

[2021-06-03 13:29] #141 closed

[2021-06-03 13:30] JuGhithub commented on #141
I'm sorry, i had provide a bad link
you can close the issue

[2021-06-03 13:57] VLG17 commented on #148
@6StringJazzer The article you linked applies to Outlook 2010, and is also no longer being updated.

For Outlook 2019, you need to enable the "run a script" option with the help of a registry key first. The steps are described [in this article.](https://support.microsoft.com/en-us/topic/how-to-control-the-rule-actions-to-start-an-application-or-run-a-macro-in-outlook-2016-and-outlook-2013-e4964b72

[2021-06-03 14:02] VLG17 commented on #163
@sanga549 I've checked and I see it on my Windows 10 / Office 365 setup. Are you testing on a shared environment, or your own? Can you share some details about your setup?

![image](https://user-images.githubusercontent.com/41186174/120657573-4b700f00-c48d-11eb-8d5e-76241509b35f.png)

[2021-06-03 14:14] VLG17 commented on #371
@Canis-Lupis You are right, you could still add your personal account via the OneDrive for Business. You could use the "DisablePersonalSync" regkey to achieve your goal.

Mode details [here](https://docs.microsoft.com/en-us/onedrive/use-group-policy#prevent-users-from-syncing-personal-onedrive-accounts)

[2021-06-03 14:58] leslieligori commented on #1433
Sri - did exactly as suggested above (3 times) and still not searching.  I'm using BigSur 11.2.3.        Any other suggestions as this has caused a huge interruption in daily operations.

[2021-06-03 14:58] vherrlein opened #1521 "Seems to be applicable to on-premise servers as well"
1. Seems to be applicable to on-premise servers as well.
2. Absolute URL not supported too

**SharePoint Server 2013**
Relying on the method "Microsoft.SharePoint.ApplicationPages.CreateNewDocument.CreateDocument(string, SPFolder, string)"
**SharePoint Server 2019**
Relying on the method "Microsoft.SharePoint.SPList.CreateDocumentInternal(SPResourcePath, SPFolder, SPResourcePath)"

---
#### Docume

[2021-06-03 16:49] mntorq opened #1523 "Incorrect summary of low/no CPU usage."
Statement of: "It doesn't cause any Office performance issues during startup."
Is false.

It consumes 50-60% CPU for at least 30 minutes

![image](https://user-images.githubusercontent.com/66257685/120681817-c6bfc980-c469-11eb-8567-d6c9b063c63c.png)

There are also numerous Forum posts regarding this.
https://answers.microsoft.com/en-us/windows/forum/all/microsoft-office-sdx-helper-high-cpu-in-bac

[2021-06-03 16:52] nam31 commented on #415
@niderost The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-03 16:52] #415 closed

[2021-06-03 16:54] nam31 commented on #752
Closing via #1519
Thank you

[2021-06-03 16:54] #752 closed

[2021-06-03 17:09] Baldgyt commented on #715
Thank you.

Looking at the original issue documentation I don’t think this has ongoing implications for documentation as after a further update to office 365 the issue went away (i.e. my occurrence was introduced by one software update and removed by another) – I didn’t use either of the workarounds MS appear to have fixed the software.

Regards

IanC

From: nam31 ***@***.***>
Sent: 03 June 2021 1

[2021-06-03 19:03] msbemba commented on #707
@AlexCesarini Thank you for your feedback. I'll test and update the document if need be.

[2021-06-03 19:04] msbemba commented on #1478
@lmoore101 Thank you for your feedback. I'll have the image added to the document shortly.

[2021-06-03 19:08] msbemba commented on #454
@et3rae Thank you for your feedback. This document pertains only to the ADsync tool. The enable rich coexistence is no longer available with Azure AD connect.

These attributes are written back from Azure AD to on-premises Active Directory when you select to enable Exchange hybrid. Depending on your Exchange version, fewer attributes might be synchronized.

For more information, visit -https://doc

[2021-06-03 22:05] dariomws commented on #1401
Hi @schumatt-msft, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:05] dariomws commented on #1470
Hi @catknabb, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:05] dariomws commented on #1241
Hi @bballpaul4work, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:06] dariomws commented on #1145
Hi @jpalarchio, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:06] dariomws commented on #1129
Hi @UnexpectedLemon, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:06] dariomws commented on #1080
Hi @aandrew129, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:06] dariomws commented on #1068
Hi @ShortOrderCookie, thank you for your feedback.

I am working on this issue and will provide you with an update in a few days.

[2021-06-03 22:49] get-itips commented on #777
Thanks for reporting @chudkins

[2021-06-03 22:54] get-itips commented on #710
Hello @georgegi George,
Can you kindly confirm if you also followed the 2nd step?

Thanks

[2021-06-04 01:48] #802 closed

[2021-06-04 02:41] #865 closed

[2021-06-04 04:45] MaratMussabekov commented on #1306
Hello @webstaff ,
**was a weird forwarding issue causing that NDR for some reason** - yes, this message could be returned in any scenario when recipient couldn't be found. Usually message trace parsing is required to find out the root cause.
Thank you!

[2021-06-04 04:52] #777 closed

[2021-06-04 05:08] joinimran commented on #284
I am looking into this issue.

[2021-06-04 05:11] joinimran commented on #794
I am looking into this issue.

[2021-06-04 05:13] joinimran commented on #757
I am looking into this.

[2021-06-04 05:20] MaratMussabekov commented on #1469
Hello @wicky818 ,
it looks like the driver is not available yet. The version changes to 16.7 after you updating to MS Access 2019 or Access for Microsoft 365. The version of driver available in download center seems to be compatible with MS Access 2016 or earlier
Thank you

[2021-06-04 05:27] MaratMussabekov commented on #269
Hello @JulietteLaurier , @Ronsss ,
it seems like the issue was that it was copy pasted from another step and then wasn't edited properly.
I created a PR to fix it.
Thank you

[2021-06-04 05:54] joinimran commented on #757
Hello @bep-puch, I have followed the instructions, and it's working for me. Please ensure that you are opening a document and then follow the instructions.
![image](https://user-images.githubusercontent.com/47118050/120752500-4362ae80-c523-11eb-83c6-3c582464ddb3.png)

Thanks.

[2021-06-04 06:29] joinimran commented on #284
Hello, @a-anchud there is only one procedure mentioned in the document, are you sure that you are referring to the correct document?
Thanks.

[2021-06-04 06:33] joinimran commented on #277
I am looking into this.

[2021-06-04 07:01] MaratMussabekov commented on #298
Hello @deanmresource , @c016smith ,
I created a PR to add link to this information.
Thank you

[2021-06-04 08:06] Reeced40 commented on #476
@ma261065 thank you for reaching out. Apologies for the delayed response. Please see related issue and let me know if this helps -  https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2758

[2021-06-04 10:48] Rvvhub commented on #1516
Just to add to this: I have confirmation of the WD team that 1st party apps do not need (and should not) add exclusions for executable files in Windows Defender.

[2021-06-04 11:35] nam31 commented on #269
Closing via #1531
Thank you

[2021-06-04 11:35] #269 closed

[2021-06-04 13:36] nam31 commented on #172
@scabrera-aeroterra we are going to close this issue as the article has been updated accordingly. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-04 13:36] #172 closed

[2021-06-04 13:38] nam31 commented on #584
@wmachanik does this mean that the issue that you raised initially is resolved now?

[2021-06-04 13:40] nam31 commented on #639
@Coldry the article has been updated accordingly. Please let us know if you still have any question regarding the issue you have raised initially.

[2021-06-04 13:41] nam31 commented on #800
@kjulson this article has been updated recently. Please let us know if your issue is resolved now. Thanks

[2021-06-04 13:43] nam31 commented on #281
Closing via #1510
Thank you

[2021-06-04 13:43] #281 closed

[2021-06-04 13:51] nam31 commented on #537
Closing via #1503
Thank you

[2021-06-04 13:51] #537 closed

[2021-06-05 05:49] sowjanya365 commented on #492
Hi @IstvanYbema

Would you be so kind to elaborate more on the fix that resolved the issue. We will request the document owner to review it and consider for updating the document. Thank you!

[2021-06-05 10:05] dariomws commented on #1470
@catknabb, it's being updated here:
https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1537

Thank you again for your feedback.

[2021-06-05 12:09] IstvanYbema commented on #492
Hi @sowjanya365 ;
I tested the issue once again; since it has been a while since I created the comment. It happened as explained only in the webbrowsers apps when the IP Block feature was active. Now I tested it again in the same enviroments where it occured, but I can't reproduce it anymore. It looks like the issue has been resolved allready. Maybe the new Edge browser?

[2021-06-05 14:51] nk-gears commented on #702
Hi @Calvini03,

Thank you for your feedback. We will update the documentation to include the other affected app tabs after checking with our Internal Team.

Will keep you posted in couple of days.

[2021-06-05 15:10] nk-gears commented on #493
Hello @NewbieWanKenobi,

Thanks for reporting this issue. We have noted down the wording issue about leap year.

Will update you in few days.

[2021-06-05 15:45] nk-gears commented on #1183
Hi @gregory-fonkatz,

Thanks for your feedback.

We are working on to remove IE based Troubleshooting examples in all our documentation.

Will keep you posted once these are updated.

[2021-06-05 15:59] nk-gears commented on #1170
Hello @lightupdifire ,

Thanks for your feedback.

Due to security reasons to avoid from web attacks, you cannot add Sharepoint online page in an iframe in any external website. The article explains what are the possible reasons for the Issue. May be we will update the word "Solution" to "Reason"

Will keep you posted once its updated.

[2021-06-05 19:23] r-a-y commented on #1170
In SharePoint, you are able to embed PowerPoint, Excel, Word and Visio files without any restrictions.

However, you cannot embed any other file. Although, you are able to embed images, audio and video with OneDrive Personal. So why the restriction with SharePoint? At least offer the ability for SharePoint administrators to add their domains to the CSP directive.

[2021-06-06 09:33] MaratMussabekov commented on #1019
Hello @saraporter ,
I believe removing is a correct action here. It states that "To resolve this problem, reset the MIME types that are associated with the default Outlook Web App policy to the default values." and by default, text/html is not in the AllowedMimeTypes list.
Thank you!

[2021-06-06 10:12] MaratMussabekov commented on #124
Hello @gnerd,
free/busy information relies on federation trust. ProxyAddresses attribute defines addresses, so it helps to identify whether SMTP addresses are federated.
Thank you

[2021-06-06 10:24] MaratMussabekov commented on #427
Hello @Pher0ah , please have a look at #1539
Thank you

[2021-06-06 12:54] MaratMussabekov commented on #435
Hello everyone,
please have a look at #1540.
thank you

[2021-06-06 16:54] MaratMussabekov commented on #442
Hello @mariajavier1,
please have a look at #1541
Thank you

[2021-06-06 17:42] wmachanik commented on #584
@nam31 I fixed it by moving all the cloud files to a different folder, took a while to sync.

[2021-06-07 02:00] msbemba commented on #1478
@lmoore101 Thank you for your feedback. We have added the new prompt to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1542

Thanks
Sri

[2021-06-07 08:26] Reeced40 commented on #549
@bjnesbitt thank you for reaching out. I'll look into this. Please let me know if this is a document issue and if there is anything that needs to be changed in the article, or is it a product issue?

[2021-06-07 08:27] Reeced40 commented on #552
@pstasik thank you for reaching out. I'll revert soonest with more clarity.

[2021-06-07 08:29] Reeced40 commented on #558
@msvamp thank you for reaching out and helping improve MS Docs. I see this is reflecting in the article now. Please confirm from your side and let me know if you think there is anything else missing from the article.

[2021-06-07 09:29] VLG17 commented on #367
@Madhu-Vana You could test a URL rewrite extension in Chrome, and think of a rule that would rewrite the URL to add ?web=1 at the end of the URL.

As far as I know, there is no way of doing this from SharePoint side. Keeping in mind you see this only when using Chrome, it would make sense to implement a "fix" on the Chrome side.

[2021-06-07 10:04] msvamp commented on #558
Yes, I believe this was reported again in another issue #1266 which was closed by the PR #1287.

[2021-06-07 10:04] #558 closed

[2021-06-07 10:25] BoxOfPain opened #1543 "OLicenseCleanup.vbs run with elevated privileges."
Hi!
Sorry for the noob question, but how to run OLicenseCleanup.vbs with elevated privileges? I just can't find simple way to do that.

[2021-06-07 10:26] BoxOfPain opened #1544 "OLicenseCleanup.vbs run with elevated privileges."
Hi!
Sorry for the noob question, but how to run OLicenseCleanup.vbs with elevated privileges? I just can't find simple way to do that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1375a9d-fa30-75a2-5aea-daca0e74f142
* Version Independent ID: c9510807-f261-5a24-0039-d6bf5ad630e5
* Content: [Reset Microsoft 365 Apps f

[2021-06-07 10:26] #1543 closed

[2021-06-07 11:20] VLG17 commented on #312
@brianshiers The article has been updated to reflect this change. SkypeforBusinessEntry2019Retail corresponds to Skype for Business Basic 2019

[2021-06-07 11:20] nam31 commented on #681
@mortkar We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:20] #681 closed

[2021-06-07 11:21] nam31 commented on #1164
@LinealLewis We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:21] #1164 closed

[2021-06-07 11:21] nam31 commented on #1207
@ShaunDave We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:21] #1207 closed

[2021-06-07 11:21] nam31 commented on #1209
@masonabarney We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:21] #1209 closed

[2021-06-07 11:21] nam31 commented on #1211
@amit-nz We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:21] #1211 closed

[2021-06-07 11:24] VLG17 commented on #310
@apawsey The article has been update to reflect this - security defaults and what needs to be done (for both MFA and non-MFA).

[2021-06-07 11:24] nam31 commented on #649
@SniperDiaper1 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-07 11:24] #649 closed

[2021-06-07 11:24] nam31 commented on #652
@Gmaynard-UR We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-07 11:24] #652 closed

[2021-06-07 11:25] nam31 commented on #653
@getgcs33 We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-07 11:25] #653 closed

[2021-06-07 11:25] nam31 commented on #674
@vipuljhaveri We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-07 11:25] #674 closed

[2021-06-07 11:34] VLG17 commented on #308
@wornhall I see the article now contains both rows.count and columns.count.

Also, I don't see anything related to the 64k limit.

[2021-06-07 11:42] VLG17 commented on #306
@Ronsss You are right:

![image](https://user-images.githubusercontent.com/41186174/121010810-88dee000-c79e-11eb-890b-246197232948.png)

[2021-06-07 11:56] nam31 commented on #993
@burtzz We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:56] #993 closed

[2021-06-07 11:57] nam31 commented on #1028
@robsaddler We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:57] #1028 closed

[2021-06-07 11:57] nam31 commented on #1116
@R3dXIII We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:57] nam31 commented on #1324
@nvhv We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-07 11:57] #1324 closed

[2021-06-07 11:58] nam31 commented on #1469
@wicky818 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 11:58] #1469 closed

[2021-06-07 11:58] nam31 commented on #174
@voutit Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 11:58] #174 closed

[2021-06-07 12:05] nam31 commented on #1013
@Kyrryl We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-06-07 12:05] #1013 closed

[2021-06-07 12:05] nam31 commented on #1112
@tommalia We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you

[2021-06-07 12:05] #1112 closed

[2021-06-07 12:06] nam31 commented on #122
@LeslieMurphy Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:06] #122 closed

[2021-06-07 12:07] nam31 commented on #237
@c3rberus Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:07] nam31 commented on #396
@TausifJam Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:07] #396 closed

[2021-06-07 12:09] nam31 commented on #441
@HeatherAllemang Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:09] #441 closed

[2021-06-07 12:09] nam31 commented on #445
@blackft Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:09] #445 closed

[2021-06-07 12:09] nam31 commented on #454
@et3rae Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:09] #454 closed

[2021-06-07 12:10] nam31 commented on #511
@dyglesias Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:10] #511 closed

[2021-06-07 12:10] nam31 commented on #519
@PietDeBooser Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:10] #519 closed

[2021-06-07 12:10] nam31 commented on #521
@kelemvor33 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:10] #521 closed

[2021-06-07 12:11] nam31 commented on #524
@SarahSue8 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:11] #524 closed

[2021-06-07 12:12] nam31 commented on #532
@AmandaNoar Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:12] #532 closed

[2021-06-07 12:12] nam31 commented on #538
@JESii Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:12] #538 closed

[2021-06-07 12:12] R3dXIII commented on #1116
@MaratMussabekov no it required either the registry key or the workaround to work.

[2021-06-07 12:13] nam31 commented on #553
@Calle2003 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:13] #553 closed

[2021-06-07 12:18] nam31 commented on #723
@PhuVHuynh Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:18] #723 closed

[2021-06-07 12:20] nam31 commented on #745
@AliMamoonRizwan-i2c Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:20] #745 closed

[2021-06-07 12:21] nam31 commented on #796
@wambaugh-debug Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:21] #796 closed

[2021-06-07 12:24] nam31 commented on #1353
@asseeger Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:24] #1353 closed

[2021-06-07 12:25] nam31 commented on #1385
@mortentanggaardnielsen Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:25] #1385 closed

[2021-06-07 12:25] nam31 commented on #1435
@Gitchiel Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:25] #1435 closed

[2021-06-07 12:26] nam31 commented on #1436
@Kevin-at-MQ Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-07 12:26] #1436 closed

[2021-06-07 13:05] MJP-MSFT commented on #1544
No worries,  have you looked at Active Setup?  You could use a run once option?

We set two registry keys and push them out via Group Policy. The key is placed under here:

HKLM:\SOFTWARE\Microsoft\Active Setup\Installed Components\{00004321-4321-4321-4321-000000004321}

{00004321-4321-4321-4321-000000004321} – is not a real GUID, we just need a place holder.

In that Key, we will have two string

[2021-06-07 13:58] vri229it opened #1549 "Назначение категорий задач в outlook при почте с протоколом imap"
Решение следующее:
1. Заходим в раздел Задачи. Создаём новую папку со следующими настройками:
Содержимое папки: элементы типа Задача, поместить в папку: Задачи (только этот компьютер)
2. Заходим в новую папку и назначаем задаче необходимую категорию. Доступно переименование категорий, группировка, перенос.
3. В представлении Задач в области Списка дел (где почта) - категории отображаются, но менят

[2021-06-07 14:08] BoxOfPain commented on #1544
Hi! thank you for the reply. I need this script maybe twice a year, so I'm thinking that GP is too overpowered for it. I'm looking for local solution, when I have only users pc and admin account, for example.

[2021-06-07 16:37] lindspea commented on #601
@shadybrady thank you for pointing this out and helping improve MS docs. I'm looking into it.

[2021-06-07 16:40] lindspea commented on #613
@calebrauxa thank you for reaching out. I'll have an answer for you soon - just looking into it.

[2021-06-07 16:40] lindspea commented on #645
@manukautech thank you for reaching out and helping improve MS Docs. I'm looking into this and will revert soonest.

[2021-06-07 16:41] lindspea commented on #659
@myh438 thank you for reaching out. I'll look into this and provide some answers soonest.

[2021-06-07 16:42] lindspea commented on #669
@gamaha thank you for pointing this out. I'm looking into it.

[2021-06-07 16:43] lindspea commented on #686
@thommck thank you for pointing this out. I'm looking into it and will make the necessary changes once investigated.

[2021-06-07 16:44] lindspea commented on #688
@Plurpley thank you for reaching out and for the kind words.  I'm looking into this.

[2021-06-07 16:45] lindspea commented on #689
@CuchulainX thank you for pointing this out. I'll do some investigating and make any necessary changes to the article.

[2021-06-07 16:57] VLG17 commented on #303
@Nad42 You won't be able to find their windows user account name by using the Microsoft Jet UserRoster, although you can see the computer name.

Although not a Microsoft article, you could use the steps [in this article](https://www.devhut.net/2013/03/19/ms-access-who-is-logged-in/) to create a LoggedIn table and get/store that info.

[2021-06-07 17:31] VLG17 commented on #301
@jmountforduk Planner mail notifications need to be turned on for the group assigned to the Plan. More details [here](https://support.microsoft.com/en-us/office/manage-planner-notifications-f6a32f83-058d-4f39-988d-8a2e932820ec).

[2021-06-07 18:11] VLG17 commented on #1512
@yoraaf The code itself is correct. It works if you compile it. What exactly would you change in the article?

[2021-06-07 18:45] VLG17 commented on #1505
@mukunda- As the article states, the Ping command is an acknowledgment of the Sync response. So if the client sends a Ping command (because of the heartbeat interval setting), this implies that a succesful sync took place (which it didn't), thus causing the behavior described.

[2021-06-07 19:38] Gitchiel commented on #1435
Many thanks! Can be / remain closed :-)

Best
Michiel

[2021-06-07 19:50] VLG17 commented on #568
@jerrycort The article has been updated to reflect the changes between different versions.

[2021-06-07 20:02] VLG17 commented on #597
@stephent122 The script has been updated and double quotes are now used for the lines you mentioned,  thus appending the file with the day's date which is the intended behavior.

[2021-06-07 20:17] VLG17 commented on #1221
@Candelit Looks like "Company Administrator" is indeed "Global Administrator". More details in this thread: https://docs.microsoft.com/en-us/answers/questions/233909/get-azureaddirectoryrole-and-34global-administrato.html

Also, if you check [the list of Azure AD built-in roles](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference), there is no Company Administrator

[2021-06-07 23:16] Levelup1P opened #1557 "AutoFit feature for rows or columns that contain merged cells"
"You cannot use the AutoFit feature for rows or columns that contain merged cells in Excel"
Well, that s**ks, It was ON by default in google docs. I think I'll stick to that then.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 637418b9-c486-0de0-7f52-c79b4b3dc542
* Version Independent ID: a357675b-ee15-92a3-9c82-9abcd9

[2021-06-08 04:34] msbemba commented on #690
@Ronsss Thank you for your feedback. You are correct! The maximum file size Word can open is 512 MB, however, the Text limit cannot exceed 32MB. This has been added in "Note 1". Let me know if you would like to see any other changes in the document.

Thanks
Sri

[2021-06-08 04:41] msbemba commented on #719
@laurawalker The Fix it link for MicrosoftEasyFix50655.msi  has been removed from the database and cannot be accessed anymore. Apparently, the fix it file also Adds the Internet Subkey to the registry and sets the Value data.

Hope this helps!
Thanks
Sri

[2021-06-08 05:31] Ronsss commented on #690
Thanks for the update.
That is the only change I am aware of at this time.

On Mon, Jun 7, 2021 at 11:34 PM Sriraman M S ***@***.***>
wrote:

[2021-06-08 05:51] msbemba commented on #690
@Ronsss Thank you for confirming.

[2021-06-08 06:33] joinimran commented on #1523
I am taking care of this.

[2021-06-08 06:34] joinimran commented on #1231
I am taking care of this.

[2021-06-08 06:34] joinimran commented on #1228
I am taking care of this.

[2021-06-08 06:49] nam31 commented on #568
Closing via #1554
Thank you

[2021-06-08 06:49] #568 closed

[2021-06-08 07:18] msbemba commented on #1229
@yirmio Thank you for your feedback.

1)The link automatically downloads the setup file for Support and Recovery Assistant. Let me know what happens when you access the link.
2) When you select Office and choose activation issues, it automatically runs the script in the backend

![image](https://user-images.githubusercontent.com/45987684/121140739-d4a19000-c857-11eb-8fb0-32acb70a882f.png)

Hope th

[2021-06-08 07:20] helenclu commented on #757
@bep-puch , after you select **Advanced**, you need to scroll down to find the **General** section (as shown in the screenshot above).

[2021-06-08 07:29] msbemba commented on #692
@Bilbottom Thank you for your feedback. The workaround of renaming the file usually fixes issues with a corrupt file extension. An online repair mentioned in option 7 and reset file association in option 5 will be a permanent resolution (Since it fixes the application instead of just the file).

Hope this helps!
Thanks
Sri

[2021-06-08 07:55] nam31 commented on #517
Closing via https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/518
Thank you

[2021-06-08 07:55] #517 closed

[2021-06-08 08:02] nam31 commented on #584
@wmachanik Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your issue seems to be resolved. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-08 08:02] #584 closed

[2021-06-08 08:10] nam31 commented on #639
@Coldry We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-08 08:10] #639 closed

[2021-06-08 08:10] nam31 commented on #800
@kjulson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-08 08:10] #800 closed

[2021-06-08 08:53] joinimran commented on #1347
@tadakk - Any input from your side will be highly appreciated.

[2021-06-08 10:26] Reeced40 commented on #102
@Ronsss thank you for reaching out and helping improve MS Docs. I'm looking into this issue. I see the article was updated in May this year. Please let me know if you think anything still needs to be changed in the article. The TOC you are referring to - is that the "Access, Activation" etc.?? The articles are structured this way to make it user friendly. If you click on the relevant link on the l

[2021-06-08 10:30] joinimran commented on #679
Hi @manojska, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-08 10:30] Reeced40 commented on #292
@Ronsss thank you for reaching out. The article was updated since the issue was raised. I see the table has the compatibility versions above each one. Please let me know if you think there is anything else missing from the article.

[2021-06-08 10:34] Reeced40 commented on #395
@mub-arak thank you for reaching out. Has this issue been resolved? If you're still having issues, try signing in with your subscription and make sure there are no other users that could have locked the doc (read-only permissions)

[2021-06-08 10:36] Reeced40 commented on #516
@erictreelight thank you for pointing this out and helping to improve MS Docs. I'm looking into it.

[2021-06-08 11:01] dariomws commented on #1129
@UnexpectedLemon I'm applying the following update to that bullet:
[code]

I tested it on my lab, and auto-mapping worked after both mailboxes were migrated simultaneously. The lab has Exchange 2019 and a full classic hybrid topology. I understand it should also work for modern hybrid as the Mailbox Replication Service Proxy handles the permissions migration.

If it still does not work for you, I

[2021-06-08 11:23] joinimran commented on #284
Hello @a-anchud - Can you please confirm if you are asking for the correct document. I have checked the whole document and it looks good.

@nam31 FYI&A please.

[2021-06-08 11:26] a-anchud commented on #284
Hi,

It looks good to me now.
No need to change anything, seems like it was done already by someone else.

Thanks!

From: ImranHabib ***@***.***>
Sent: Tuesday, June 8, 2021 2:24 PM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Anna Chudova ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Method 1 is not valid to retrieve the logs anymore (#284)

Hello @a-

[2021-06-08 11:45] dariomws commented on #1241
Hi @bballpaul4work, thank you for your feedback.

This article was updated 16 hours ago, and the list of IPs was removed in favour of https://docs.microsoft.com/microsoft-365/enterprise/urls-and-ip-address-ranges.

[2021-06-08 12:54] mukunda- commented on #1505
I think we could avoid errors in current implementations if we were more clear on cases like this. The Ping command is not described as an acknowledgement. It's described as a changes monitor. Technically, Sync should always return data from the point of the recorded sync key given.

MS-ASCMD does not quite describe Ping as a Sync confirmation. However, it does describe that Ping should be based o

[2021-06-08 12:54] #1505 closed

[2021-06-08 13:02] kjulson commented on #800
It has been 8 months since I reported it. I do not remember what the problem was anymore.

Karl Julson
IT Manager
(612) 255-0784

***@***.***D75C3C.ADAC43A0]
Black Hills IP, LLC
730 2nd Ave. S., Suite 730
Minneapolis, MN 55402
www.blackhillsip.com<http://www.blackhillsip.com/>

This communication is for use by the intended recipient(s) and contains information that may be privileged, confidential,

[2021-06-08 14:07] Ronsss commented on #102
<snip>
The TOC you are referring to - is that the "Access, Activation" etc.??
</snip>
Yes that is the part I was referring to.
I would like to be able to select it and copy it. But the way it is defined
on the page does not allow that to be done.

When I find useful web pages, I keep the link to the page as well as some
summary information to remind me of the future relevance of the page and
the d

[2021-06-08 15:28] Reeced40 commented on #562
@drk-mtr thank you for pointing this out and helping to improve MS Docs. I'll look into it and hopefully have a solution for you soon.

[2021-06-08 15:29] Reeced40 commented on #565
@aqua-d thank you for pointing this out. I'm investigating for you and will revert soonest.

[2021-06-08 15:30] Reeced40 commented on #570
@AndyWoodruff thank you for reaching out. I'll investigate and be in touch.

[2021-06-08 15:31] Reeced40 commented on #580
@LouisStrous thank you for reaching out and helping improve MS Docs. I'll look into this.

[2021-06-08 15:32] Reeced40 commented on #585
@PeterConstable thank you for pointing this out. I'm looking into it.

[2021-06-08 15:33] Reeced40 commented on #588
@SinhaRS-IND Thank you for reaching out and helping to improve MS Docs. I'll look into this and revert soon.

[2021-06-08 15:35] Reeced40 commented on #589
@ShivKumarBS thank you for letting us know and improving MS Docs.  At a glance I see the article has been updated this year so it might already have your suggestions noted. I'll investigate and revert soonest.

[2021-06-08 15:36] Reeced40 commented on #599
@DuShruikan thank you for your help in pointing this out. I'll investigate and see what changes are necessary for this article.

[2021-06-08 17:37] UnexpectedLemon commented on #1129
Thanks @dariomws  -- I apologize for not providing an update sooner. We did resolve our issue, and this specific issue with auto-mapping may have been more of an edge case. Perhaps some additional clarification based on my description below in this article or other Exchange Hybrid documentation would be helpful.

It turns out our AAD Connect (or possibly DirSync?) had been setup many years ago bef

[2021-06-09 01:13] aurentzt opened #1563 "Service Reboot Required"
An import step seems to be missing from this article.  Please ensure it is clear that the Exchange Services must be restarted for changes to take effect.  We went through the guide and updated all values and confirmed they were showing the correct values.  However, only after the Exchange service was restarted did the 10MB message stop being displayed and attachments larger than 10MB were allowed

[2021-06-09 03:40] #1068 closed

[2021-06-09 04:14] nk-gears commented on #493
@nam31 We can close this Ticket as the document has been fixed already.

[2021-06-09 05:03] #1080 closed

[2021-06-09 05:18] #1145 closed

[2021-06-09 06:12] joinimran commented on #850
Hello @kwikk - Can you please confirm which operating system / Windows version you are using so that we can better guide you.
Thanks.

[2021-06-09 08:36] #309 closed

[2021-06-09 10:21] dariomws commented on #1129
Thank you @UnexpectedLemon for your answer.

I'm not convinced to add this to the article because it seems a particular scenario. Almost (to not say all) all the articles about Azure AD Connect, Exchange Hybrid and AD FS assume that you are using the latest version of Azure AD Connect and that you are syncing the following attributes:
https://docs.microsoft.com/azure/active-directory/hybrid/refere

[2021-06-09 10:56] #1129 closed

[2021-06-09 14:28] nam31 commented on #442
Closing via #1541
Thank you

[2021-06-09 14:28] #442 closed

[2021-06-09 14:29] nam31 commented on #757
@bep-puch Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-09 14:29] #757 closed

[2021-06-09 14:41] nam31 commented on #435
Closing via #1540
Thank you

[2021-06-09 14:41] #435 closed

[2021-06-09 14:43] nam31 commented on #427
Closing via #1539
Thank you

[2021-06-09 14:43] #427 closed

[2021-06-09 16:05] UnexpectedLemon commented on #1129
Thanks @dariomws -- I'll add one final comment/clarification to our overall scenario which is that we already were running the latest version of AAD Connect at the time we setup our Exchange Hybrid. And, I believe we had the correct attributes 'checked' (at least as listed here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized under the

[2021-06-09 22:02] get-itips commented on #682
Thanks for reporting @GitHubSig

[2021-06-10 03:07] MaratMussabekov commented on #46
Hello @aforgettableaccount ,
**There is a non-obvious lengthy time (an hour?) after removing an address from an account, preventing it from being re-assigned to another account.** - yes, it is expected since the mailboxes are located in several locations (for redundancy purpose), some time for replication is required
**Any chance of a powershell move address command, so we don't have to sit around

[2021-06-10 03:47] chrisrapson opened #1567 "No instructions for Firefox"
This page has instructions for Edge, Internet Explorer and Chrome. It would be good to include instructions for Firefox. If Teams supports Mac, then Safari would also be worthwhile. Both have higher market share than Internet Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c17faf2-0e38-0a98-454c-3c2c4387b37f

[2021-06-10 03:50] chrisrapson commented on #1567
I now see that the page I sent this is only intended to reference Edge, Internet Explorer or Chrome.

I reached that page when trying to load MicroSoft Teams in Firefox, and reached this error:
"To open the web app, change your browser settings to allow third-party cookies or allow certain trusted domains."

When I clicked the hyperlink for "change your browser settings" it took me to the "stuck i

[2021-06-10 04:50] MaratMussabekov commented on #213
Hello @TKardinal ,
yes, there is no need for MFA, as it is about credentials of on-premises exchange.
Also, added some details in #1568
Thank you

[2021-06-10 04:51] MaratMussabekov commented on #695
Hello @jimmyeao  ,
please have a look at #1568
Thank you

[2021-06-10 04:59] MaratMussabekov commented on #664
Hello @ryanwga ,
**Is delegate access the only way to share with internal people then?** - no, you can still use calendar sharing
**when to use Calendar Sharing vs Delegate access.** - calendar sharing is only when you want to share calendar information (for example, with colleagues). delegation is used when you want someone to manage your calendar (for example, personal assistant)
**Also, it appe

[2021-06-10 05:54] MaratMussabekov commented on #670
Hello, if you cannot open the link, it means that your account doesn't have permissions to open this admin panel.
the link is completely fine, and works correctly.
Thank you

[2021-06-10 05:57] MaratMussabekov commented on #671
Hello @jgarruba ,
it is not possible to view this information using GUI.
You can use Powershell to extract the message tracking logs, and view the list of recipients of out of office replies.
Thank you

[2021-06-10 06:01] MaratMussabekov commented on #1214
Hello, please have a look at #1569
Thank you

[2021-06-10 06:44] MaratMussabekov commented on #1419
Hello @stefanojj ,
can you please provide more details?
did you get the same error as described in the article?
**was to completely deleting the CN=discovery folder from your domain controller in ADSI** - in DMZ domain?
Thank you

[2021-06-10 06:50] #607 closed

[2021-06-10 07:05] #742 closed

[2021-06-10 07:22] #682 closed

[2021-06-10 09:07] dariomws commented on #1129
@UnexpectedLemon thank you so much for your explanation. It's is very interesting, but I'm not sure if this article is the correct place to add it.
As you said, it's documented here:
https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-installation-wizard#refresh-directory-schema
And maybe another article could be added to a troubleshooting site like:
https://docs.microsoft.com/

[2021-06-10 09:12] Reeced40 commented on #549
@bjnesbitt I see the article has been updated with more information since you raised the issue. See in the beginning of the article:
"Summary
In Microsoft Outlook for Office 365, when the new Office 365 Message Encryption Capabilities feature is enabled, Encrypt-Only  is added as a new ad-hoc template. Encrypt-Only  enables message encryption without rights restrictions. This article describes how

[2021-06-10 10:03] Reeced40 commented on #552
@pstasik please see these two articles with more information regarding federated users - https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-fed-whatis and https://docs.microsoft.com/azure/active-directory/devices/hybrid-azuread-join-federated-domains

[2021-06-10 10:11] Reeced40 commented on #516
@erictreelight thank you for clearing this up. Just to be sure, are you suggesting adding a note to the article saying that the refresh does work, but only after the file is closed?  Also, are you an internal user of the tenant or external?

[2021-06-10 10:21] Reeced40 commented on #102
@Ronsss thank you for giving more clarity. For now that is how the Docs are structured so as to ensure that each article relates to each topic, but we always take users feedback for future use to improve on MS Docs for user friendliness. Thank you for this. However, if you open an Excel Spreadsheet and under each heading on this article, eg. Access, all the sub headings eg .LDB files,  can be drag

[2021-06-10 11:08] Reeced40 commented on #292
@Ronsss I haven't been able to find a document that defines the list, but all of the paremeters refers to the limits in a Word Document eg. I'm sure these limits will be hard to exceed, but it's always good to know. Here are some links to other articles regarding the limits https://answers.microsoft.com/msoffice/forum/msoffice_word-mso_other-mso_2007/microsoft-word-limit/fbbb1f64-ddcb-46bc-9b35-33

[2021-06-10 11:11] Reeced40 commented on #562
@drk-mtr did this not solve your problem: "Workaround -
To work around this problem, remove the predecessor and successor link between the tasks and then indent the task."

[2021-06-10 11:14] Reeced40 commented on #565
@aqua-d thanks again for reaching out. I've just checked and the explanation in the article which has been updated works now. Please check again from your side and let me know if it's working for you. Thanks.

[2021-06-10 11:26] lindspea commented on #601
@shadybrady I see the article has been updated recently and there is a resolution at the bottom of the document with regards to this. Please let me know if it works. If you have any other suggestions please let me know.

[2021-06-10 11:48] drk-mtr commented on #562
Hi @Reeced40 - thanks for taking a look at this. It's a while ago so I can't remember the specifics, however the issue title suggests "There was no predecessor or successor on the parent task or the task that I was trying to make a subtask".

[2021-06-10 11:54] iMicknl commented on #1203
Any update? @nam31

[2021-06-10 12:04] lindspea commented on #613
@calebrauxa let me know if this Microsoft answers article helps at all - https://answers.microsoft.com/msoffice/forum/msoffice_excel-mso_mac-mso_mac2011/excel-mac-2011-auto-update-of-links-between/dc69c175-dcc9-4dda-a106-e30255a56ac3

[2021-06-10 12:06] lindspea commented on #645
@manukautech will a link to this article be helpful? https://support.microsoft.com/office/manage-linked-tables-1d9346d6-953d-4f85-a9ce-4caec2262797

[2021-06-10 12:10] lindspea commented on #659
@myh438 please can you have another look at the article. I see it has been updated since you raised the issue and I'm not sure if what the article reflected back then is different to what it shows today. Please let me know and I'll do more research if it's still an issue.

[2021-06-10 12:23] lindspea commented on #669
@gamaha I see the article has been updated and is reading as such: INetCacheContent.Word. Please let me know if you still think it needs to be changed.

[2021-06-10 12:25] myh438 commented on #659
Hello Lindsay, I think everything looks good from my end. There is a
distinction there that I do not recall previously: the global admin is
clearly called out.

In the meantime, we built in a powerapp solution for our email issue.

+Michael

On Thu, Jun 10, 2021 at 8:10 AM Lindsay ***@***.***> wrote:

--
Regards,

Michael

---------------------------------------------------------------------------

[2021-06-10 12:26] lindspea commented on #659
@myh438 that's great. Thanks for letting me know Michael. @nam31 you can close this thank you.

[2021-06-10 12:35] lindspea commented on #688
@Plurpley it looks like the information has been updated. If not, try this and let me know if it works - Select a blank cell next to the dates you want to convert, type this formula =DATE (VALUE (RIGHT (A9,4)), VALUE (MID (A9,4,2)), VALUE (LEFT (A9,2),  drag fill handle over the cells which need to use this formula. Please let me know.

[2021-06-10 12:41] lindspea commented on #689
@CuchulainX Please let me know if you're still having this issue. I found a possible solution if it's still relevant. Please let me know if it works - Take your computer's IP address with IPconfig at the command prompt, then hit the service using the IP address rather than localhost.

[2021-06-10 13:04] mariajavier1 commented on #670
@RAJU2529  and @MaratMussabekov
I am signed in with my work account and I AM the global admin. I merely was trying to relay that the documentation needed to be fixed, but it's not a big deal. Over one year later.

[2021-06-10 14:03] Ronsss commented on #102
thanks for the tip about dragging links (it also works dragging to Word). I
recall seeing the paperclip icon in the past. I never tried it.
.
But the implementation of this feature is flawed. It only applies to sub
topics, ie, if I expand "Access" on the I can only drag the sub topics
under it. That is nice for creating links to specific topics, but I really
want to be able to drag the link to eac

[2021-06-10 14:08] erictreelight commented on #516
Sorry. It was more than a month ago. Yes. Oddly enough. If you read what I wrote, I am suggesting that you must close the file and re-open it for refresh to work. And I have no idea what "tenant" you are referring to. I'm not using Excel in the cloud. I don't buy such things.

[2021-06-10 14:38] shadybrady commented on #601
Well, it has been a year and I am well past that now.  I have to assume that the fix is good as I just don't have the time to check it out now and frankly,  can't even remember off the top of my head which module I was working on at the time.  Thanks.

[2021-06-10 14:38] #601 closed

[2021-06-10 15:59] Ronsss commented on #292
Yes, adding a note about the 32MB vs 512MB limits would help.

Adding a note based on the link you provided would also help
https://answers.microsoft.com/en-us/msoffice/forum/msoffice_word-msoffice_custom-mso_2016/what-is-the-maximum-number-of-merge-fields-in-word/254cc398-2934-4745-8a4e-3216efadd67c
.
Looking at the point made in the other link, I would suggest a change in
the layout of the page

[2021-06-10 16:08] msbemba commented on #716
@djc2002us Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1570

Thanks
Sri

[2021-06-10 16:16] msbemba commented on #397
@nam31  The reason has been added and explained in the more information section. This is good to be closed.

Thanks
Sri

[2021-06-10 16:17] msbemba commented on #398
@brucesa85 Thank you for your feedback. I was able to test this and resets the Office activation state. Let us know if you still have this issue or if any update is required in this document.

Thanks
Sri

[2021-06-10 16:18] msbemba commented on #774
@bjarnegram Hope the above explanation helps. Let us know if you still think any documentation update is required.

Thanks
Sri

[2021-06-10 16:19] djc2002us commented on #716
Thanks. It looks much better. Wish this was fixed otherwise in Excel as described in the numerous complaints and suggestions but this at least states the situation correctly.

David
________________________________
From: Sriraman M S ***@***.***>
Sent: Thursday, June 10, 2021 9:09 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: djc2002us ***@***.***>; Mention ***@***.***>
Subject: Re: [Mi

[2021-06-10 16:40] msbemba commented on #1412
@anyonecan Thank you for the response. So the Repair is completed successfully, but the problem with excel remains. Is that correct?
In that Case, I would recommend https://support.microsoft.com/en-us/office/excel-not-responding-hangs-freezes-or-stops-working-37e7d3c9-9e84-40bf-a805-4ca6853a1ff4

Hope this helps!
Thanks
Sri

[2021-06-10 16:55] msbemba commented on #1450
@JamesCarlyleClarke I have added the steps to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1571

The author will review this first and once this is approved the document will be updated.

Thanks
Sri

[2021-06-10 16:59] msbemba commented on #1468
@SaedMartinez Thank you for your feedback. As mentioned earlier, this document pertains to mailboxes that are not automatically mapped and this does not cover the scenario or issue that you are facing currently. For instructions to create a  new profile you can visit - https://support.microsoft.com/en-us/office/create-an-outlook-profile-f544c1ba-3352-4b3b-be0b-8d42a540459d

Hope this helps!

Thank

[2021-06-10 17:00] msbemba commented on #1480
@wroze Hope you were able to find the IM client. let us know if you still feel a document update is needed.

Thanks
Sri

[2021-06-10 17:01] msbemba commented on #1484
@gman57783 Hopefully I answered your question. In case you feel a document update is needed, let us know.

Thanks
Sri

[2021-06-10 17:02] msbemba commented on #692
@Bilbottom Hopefully I answered your question. Let us know if you feel any update is needed on the document.

Thanks
Sri

[2021-06-10 17:04] msbemba commented on #719
@laurawalker Hopefully we answered your question. Let us know if there are any other updates required in the document.

Thanks
Sri

[2021-06-10 17:04] msbemba commented on #1229
@yirmio Hopefully we answered your question. In case there are any changes required in the document, let us know.

Thanks
Sri

[2021-06-10 17:50] nam31 commented on #464
@sysadmin-scs We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-10 17:50] #464 closed

[2021-06-10 17:54] Ronsss commented on #821
Thanks. Close the issue.

On Thu, Jun 10, 2021 at 11:15 AM Sriraman M S ***@***.***>
wrote:

[2021-06-10 18:55] gman57783 commented on #1484
No further action is required.

From: Sriraman M S ***@***.***>
Sent: Thursday, June 10, 2021 11:02 AM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Glenn Murphy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] So what is the process to notify everyone (#1484)

EXTERNAL EMAIL: If unknown sender, do not click links/attachments. Never give out your user ID o

[2021-06-10 20:45] billwolfhub opened #1573 "This is really disapointing. There shsould be a warning before you mark a lot of msgs as read."
SUPER DISAPPOINTING.  This is such a common mistake and a simple "Are you Sure?" would prevent it.

Honestly this is the most I've wanted to curse Microsoft in a long long time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cafe1e33-42e4-3963-3cc8-5933e641c598
* Version Independent ID: 3494acea-0387-76d6-238a-c9266ea9

[2021-06-11 06:11] joinimran commented on #215
Hi @memsim1010, thank you for your feedback.
I am working on this issue and will provide you with an update soon

[2021-06-11 06:12] joinimran commented on #236
Hi @EoMcDonald, thank you for your feedback.
I am working on this issue and will provide you with an update soon

[2021-06-11 06:13] joinimran commented on #257
Hi @65Stringjazzer, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 06:14] joinimran commented on #257
Hi @6StringJazzer, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 06:15] joinimran commented on #287
Hi @Ronsss, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 06:16] joinimran commented on #494
Hi @Ian-H2006, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 06:16] joinimran commented on #505
Hi @tillyny, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 06:17] joinimran commented on #746
Hi @nchavez1, thank you for your feedback.
I am working on this issue and will provide you with an update soon.

[2021-06-11 07:28] Reeced40 commented on #570
@AndyWoodruff Do you still think this article needs a note added? It has been updated in June this year, but I can't compare it to the previous article so please let me know if you think clarification is still needed somewhere.

[2021-06-11 07:36] Reeced40 commented on #585
@PeterConstable sorry for the delay in responding. I'm sure the bugs have been fixed and I also see the article has been updated. Please can you confirm from your side. I work on the writing/editing side of MS Docs and looking through the article I'm not seeing any of these commands reflecting. Are you suggesting adding a note with the correct commands to help other users. Please let me know and I

[2021-06-11 07:39] Reeced40 commented on #588
@SinhaRS-IND I see this article has been updated since you raised the issue. Here is a note from the article regarding the limit for the size of file for import - "Access encounters Import/Export errors when working with Excel *.xls files that have cells, which contain more than 8224 bytes of data." Please let me know if this helps provide a solution.

[2021-06-11 07:57] Reeced40 commented on #599
@DuShruikan I know it's been a while since you raised this issue, but to help other users please can you confirm if its still a case where Outlook is an exception. I also see the article has been updated in May this year with a couple of workarounds. Please let me know if you still need assistance.

[2021-06-11 08:04] Reeced40 commented on #580
@LouisStrous thank you for your valuable input. With regards to the discrepancy you found in the calculation for dates, is there a possible workaround you can suggest. I'm not too sure there is one as this article is explaining why it is a tricky one...Please have another look and let me know what you think. I see the article has also been updated recently.

[2021-06-11 08:11] Reeced40 commented on #102
Thanks for clearing that up @Ronsss and for your valuable input. I will bring this to the teams attention to look at for the future when continuously improving on MS Docs. @nam31 you can close this thank you.

[2021-06-11 09:19] andreaslarssonliu opened #1576 "How is this by design, the recipient of the alert are the same"
How is this by design, the recipient of the alert are the same, the language should not change because the sender is in a different language.

This is unacceptable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eede262-a5f7-d800-0351-9b5a45737e48
* Version Independent ID: d7c2a3ab-337c-90cb-1092-563013dc0348
* Conten

[2021-06-11 14:02] laurawalker commented on #719
So what I think you're saying here is that the "fix it" tool simply added the same registry keys I was setting manually?

FWIW those registry keys did not fix the issue I had.

[2021-06-11 14:28] nam31 commented on #821
@Ronsss The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 14:28] #821 closed

[2021-06-11 14:30] nam31 commented on #1484
@gman57783 The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 14:30] #1484 closed

[2021-06-11 14:31] nam31 commented on #1214
Closing via #1569
Thank you

[2021-06-11 14:31] #1214 closed

[2021-06-11 14:59] msbemba commented on #719
@laurawalker Sorry about that. you are right the fix-it is no longer available, so any reference to that has been removed from the document. The updated resolution mentioned in the document should work.

Thanks
Sri

[2021-06-11 15:40] nam31 commented on #1470
Closing via #1537
Thank you

[2021-06-11 15:40] #1470 closed

[2021-06-11 15:40] get-itips commented on #710
@georgegi George, could you see my message? I followed the instructions and the 2nd step downloaded the items from server.

[2021-06-11 15:42] get-itips commented on #207
Thanks for raising, will update the article @gabbsmo

[2021-06-11 15:44] get-itips commented on #547
Hello @AnatolN
I can confirm that the article was updated and the sentence improved in [this commit](https://github.com/MicrosoftDocs/OfficeDocs-Support/commit/def10ec7c2a120eda9eb457b727f4c529d50472e).
Thank you

[2021-06-11 16:08] JamesCarlyleClarke commented on #1450
Dear Sri,
That's great news, thanks.

James

On Fri, Jun 11, 2021 at 12:55 AM Sriraman M S ***@***.***>
wrote:

[2021-06-11 16:13] get-itips commented on #554
Hello @astera-cmorrison how are you? Hope you are doing good.

The best in this scenario, as here we are limited to documentation changes and improvements, would be to submit your idea [here](https://sharepoint.uservoice.com/).

Thank you for your feedback!

[2021-06-11 16:22] get-itips commented on #587
Thanks for reporting, will improve the article @Matt-IgniteSolutions

[2021-06-11 16:30] get-itips commented on #609
Thanks for reporting! will improve the article @hwkwicre

[2021-06-11 16:33] get-itips commented on #615
Hello @hwkwicre how are you?
I can confirm that the sentence has been improved in this [commit](https://github.com/MicrosoftDocs/OfficeDocs-Support/commit/5a760a1e6ee4b341fb1154f84760370b0ab7652c).
Thank you for reporting!

[2021-06-11 16:39] get-itips commented on #621
Hello @hwkwicre how are you?
I can confirm the sentence was improved some time ago.
thank you!

[2021-06-11 16:47] get-itips commented on #655
Hello @aheusel Alexander, how are you?
Windows 10 shipped with IE11.
Besides that, the note at the top of the article now states that the preferred method is OneDrive sync.
Thank you for your feedback.

[2021-06-11 17:24] nam31 commented on #794
Closing via #1533
Thank you

[2021-06-11 17:24] #794 closed

[2021-06-11 17:32] nam31 commented on #1140
@RobertKlohr We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-11 17:32] #1140 closed

[2021-06-11 17:33] nam31 commented on #452
@jettan92 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:33] #452 closed

[2021-06-11 17:34] nam31 commented on #460
@isumit19 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:34] #460 closed

[2021-06-11 17:35] nam31 commented on #465
@sysadmin-scs Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:35] #465 closed

[2021-06-11 17:36] nam31 commented on #468
@fborup Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:36] #468 closed

[2021-06-11 17:44] nam31 commented on #716
Closing via #1570
Thank you

[2021-06-11 17:44] #716 closed

[2021-06-11 17:46] nam31 commented on #148
@6StringJazzer Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:46] #148 closed

[2021-06-11 17:47] nam31 commented on #163
@sanga549 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:47] nam31 commented on #163
@sanga549 can you please share your inputs?

[2021-06-11 17:48] nam31 commented on #301
@jmountforduk Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:48] #301 closed

[2021-06-11 17:48] nam31 commented on #304
Closing via #1547
Thank you

[2021-06-11 17:48] #304 closed

[2021-06-11 17:49] nam31 commented on #306
Closing via #1546
Thank you

[2021-06-11 17:49] #306 closed

[2021-06-11 17:50] nam31 commented on #369
Closing via #1535
Thank you

[2021-06-11 17:50] #369 closed

[2021-06-11 17:51] nam31 commented on #371
@Canis-Lupis Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-11 17:51] #371 closed

[2021-06-11 17:53] nam31 commented on #559
Closing via #1553
Thank you

[2021-06-11 17:53] #559 closed

[2021-06-11 17:53] nam31 commented on #574
Closing via #1555
Thank you

[2021-06-11 17:53] #574 closed

[2021-06-11 17:55] nam31 commented on #1204
Closing via #1552
Thank you

[2021-06-11 17:55] #1204 closed

[2021-06-11 21:43] LouisStrous commented on #580
@Reeced40 I am not sure exactly what you're asking, so my apologies if my response is not helpful.

The simplest solution to the documentation problem that I reported is to fix the documentation.

If you want to improve the date calculations so the WEEKDAY function always returns the correct result and calculations of the number of days between two dates spanning the non-existent year-1900 leap da

[2021-06-12 05:41] MaratMussabekov commented on #376
Hello @Alan-Langer ,
Did you have a chance to check it?
Thank you

[2021-06-12 05:42] MaratMussabekov commented on #433
Hello @cregkly ,
Did you have a chance to check it?
Thank you

[2021-06-12 06:25] sowjanya365 commented on #1069
Hi @macosmin
Please let us know if you still have any question regarding this issue.

Thanks.

[2021-06-12 06:25] sowjanya365 commented on #1111
Hi @neilfrank

Please let us know if you still have any question regarding the issue you have raised initially.
Thanks.

[2021-06-12 06:25] sowjanya365 commented on #1392
Hi @Shuyzhou666

Please let us know if you still have any question regarding the issue you have raised initially.
Thanks.

[2021-06-12 06:28] sowjanya365 commented on #492
Hi @IstvanYbema
We were also not able to reproduce it on our end! Feel free to let us know if you observe it again! Thank you for your contribution.

[2021-06-12 07:08] sowjanya365 commented on #1397
Thank you for your contribution @HelmZalee!

[2021-06-12 07:17] LouisStrous commented on #580
Hmm, the "serial date compatibility" issue is a tricky one.  Some users of Excel or of other programs that ingest data produced by Excel may have written special code to work around the flaw in Excel's running day number.  If you were to adjust Excel as I proposed before, then those users would have to adjust their special code accordingly, which may be a big problem.  Maybe that original source c

[2021-06-13 08:43] cvhorie opened #1586 "Excel Text column setting is defective for numbers"
This method does not work

I am copying registration numbers, like 1866,1114.70   from a text into my spreadsheet.
I have already formatted the column as Text.
But any new copy and pasted reg. nos. are pasted as numbers, eg. 18661114.7

How do I force Excel to to recognise the column setting when pasting or other manipulation?
For instance after changing the column from general to text, I had to c

[2021-06-13 08:49] macosmin commented on #1069
Hello
Thank you for your response.
No more questions from me.
You may close the ticket.

Have a nice day ☀️

On Sat, Jun 12, 2021, 09:25 sowjanya365 ***@***.***> wrote:

[2021-06-13 13:05] emresumengen opened #1587 "Counter-intuitive at it's best"
It's not intuitive to expect "users" to create configuration profiles, just because they don't want all unnecessary apps.
It should have been a simple "do you want all apps or would like to choose what to install" selection within the setup app.
Microsoft successfully keeps amazing me with more stupidity they introduce to our daily lives.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-06-13 14:01] #1587 closed

[2021-06-14 05:37] nam31 commented on #710
@georgegi We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-14 05:37] #710 closed

[2021-06-14 05:49] nam31 commented on #1241
@bballpaul4work Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 05:49] #1241 closed

[2021-06-14 07:14] nam31 commented on #645
@manukautech Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:14] #645 closed

[2021-06-14 07:14] nam31 commented on #659
@myh438 Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:14] #659 closed

[2021-06-14 07:14] nam31 commented on #669
@gamaha Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:14] #669 closed

[2021-06-14 07:15] nam31 commented on #686
@thommck Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:15] #686 closed

[2021-06-14 07:15] nam31 commented on #688
@Plurpley Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:15] #688 closed

[2021-06-14 07:16] nam31 commented on #689
@CuchulainX Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:16] #689 closed

[2021-06-14 07:17] nam31 commented on #46
@aforgettableaccount Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:17] #46 closed

[2021-06-14 07:17] nam31 commented on #124
@gnerd Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:17] #124 closed

[2021-06-14 07:30] nam31 commented on #664
@ryanwga Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:30] #664 closed

[2021-06-14 07:31] nam31 commented on #671
@jgarruba Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:31] #671 closed

[2021-06-14 07:33] nam31 commented on #1019
@saraporter Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:33] #1019 closed

[2021-06-14 07:38] nam31 commented on #493
@NewbieWanKenobi Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:38] #493 closed

[2021-06-14 07:49] nam31 commented on #102
@Ronsss Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Also to make sure that your feedback gets routed to the appropriate team, pleas

[2021-06-14 07:49] #102 closed

[2021-06-14 07:52] nam31 commented on #549
@bjnesbitt We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-14 07:52] #549 closed

[2021-06-14 07:54] nam31 commented on #562
@drk-mtr Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:54] #562 closed

[2021-06-14 07:55] nam31 commented on #565
@aqua-d Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 07:55] #565 closed

[2021-06-14 08:06] Reeced40 commented on #580
@LouisStrous thank you for your valuable input. I'll send this to the team for possible future revisions of the article.

[2021-06-14 08:14] nam31 commented on #397
@TausifJam
Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:14] #397 closed

[2021-06-14 08:15] nam31 commented on #398
@brucesa85 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-14 08:15] #398 closed

[2021-06-14 08:15] nam31 commented on #690
@Ronsss Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:15] #690 closed

[2021-06-14 08:16] nam31 commented on #692
@Bilbottom Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:16] #692 closed

[2021-06-14 08:26] nam31 commented on #719
@laurawalker Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:26] #719 closed

[2021-06-14 08:26] nam31 commented on #774
@bjarnegram Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:26] #774 closed

[2021-06-14 08:27] nam31 commented on #799
@maravint Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 08:27] #799 closed

[2021-06-14 09:54] nam31 commented on #1229
@yirmio Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 09:54] #1229 closed

[2021-06-14 10:06] nam31 commented on #1468
@SaedMartinez Please let us know if you still have any question regarding the issue you have raised initially.
The issue is being closed since your question seems to be answered. Feel free to re-open this issue if you feel that it hasn't been answered or that there are further suggestions to improve the documentation itself.
Thanks.

[2021-06-14 10:06] #1468 closed

[2021-06-14 10:07] nam31 commented on #1478
Closing via #1542
Thank you

[2021-06-14 10:07] #1478 closed

[2021-06-14 10:08] nam31 commented on #1480
@wroze We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-14 10:08] #1480 closed

[2021-06-14 10:39] nam31 commented on #163
@sanga549 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if there is a specific content change you can suggest to improve the docs. Thank you.

[2021-06-14 10:39] #163 closed

[2021-06-14 11:17] nam31 commented on #108
@benrfairless , the article has been update here
https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/no-file-previews-file-explorer-switching-to-32-bit
Please let us know if you still want to see this change in the document.
Thank you

[2021-06-14 11:17] #108 closed

[2021-06-14 11:21] nam31 commented on #264
@kaiznet This article has been retired because the content was very old and didn’t apply to the versions of Outlook still in Support.
Thank you

[2021-06-14 11:21] #264 closed

[2021-06-14 11:22] nam31 commented on #872
@eldwinc  This article has been retired because the content was very old and didn’t apply to the versions of Outlook still in Support.
Thank you

[2021-06-14 11:22] #872 closed

[2021-06-14 11:23] nam31 commented on #495
@TheRealStriff This article has been retired as the product was updated last year and the problem documented in the article doesn’t exist anymore.
Thank you

[2021-06-14 11:23] #495 closed

[2021-06-14 11:57] MaratMussabekov commented on #1419
Hello @stefanojj ,
did you have time to check the error? is it the same as in the article?
Thank you

[2021-06-14 12:15] Reeced40 commented on #395
@mub-arak please can you let me know if this issue is resolved and if we can close it. Thanks again for your valuable input.

[2021-06-14 12:17] Reeced40 commented on #476
@ma261065 please can you let me know if this issue has been resolved and can be closed, as the article mentions the date October 2020.  Thanks again for your valuable input.

[2021-06-14 12:17] ITJoe29 opened #1590 "Microsoft Office Visio isn't free"
At the end of this article (https://docs.microsoft.com/en-us/office/troubleshoot/visio/open-visio-files-in-visio-web-access) it suggests to go to https://products.office.com/en-US/Visio as a means to resolve issues where Visio Viewer isn't working.

The suggested work around/solution to the problem requires a purchase of Visio. This isn't a solution to the problem.

---
#### Document Details

⚠ *D

[2021-06-14 12:36] msbemba commented on #995
@bostjanlaba The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.micros

[2021-06-14 12:37] msbemba commented on #1433
@leslieligori The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.micro

[2021-06-14 12:37] msbemba commented on #1481
@hrussd   The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.microsoft

[2021-06-14 12:38] msbemba commented on #1467
@Dick95518 Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Thanks
Sri

[2021-06-14 13:44] stefanojj commented on #1419
hi @MaratMussabekov i ended up doing a brand new exchange server install

[2021-06-14 21:20] msbemba commented on #1361
@JanezK Thank you for your feedback. Are the emails missing or it is showing a blank page? If it is later, then this was related to a service incident and should be fixed now. The issue was caused by an update and was fixed later in the same day.

Thanks
Sri

[2021-06-14 21:21] msbemba commented on #1366
@GitHubJohn2 Thank you for your feedback. The emails going blank issue was more related to a service incident and should be fixed now. The issue was caused by an update and was fixed later in the same day.

Let us know if the issue persists.

Thanks
Sri

[2021-06-14 21:23] msbemba commented on #1412
@anyonecan Since this issue can be isolated to a device. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for

[2021-06-14 21:33] msbemba commented on #1563
@aurentzt Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Support/pull/1592

Thanks
Sri

[2021-06-14 23:37] JanezK commented on #1361
Yes, resolved. Last update broke office, ran repair and it worked fine.

Thanks for your help,

Janez Kočevar

On Mon, Jun 14, 2021, 23:20 Sriraman M S ***@***.***> wrote:

[2021-06-15 01:12] Shuyzhou666 commented on #1392
Hello

Problem resolved , Thanks a lot !

Best regards,
Shuyin Zhou

From: sowjanya365 ***@***.***>
Sent: Saturday, June 12, 2021 2:26 PM
To: MicrosoftDocs/OfficeDocs-Support ***@***.***>
Cc: Shuyin Zhou ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-Support] Script download link 404 error : enable-remotearchive.ps1 and disable-remotearchive.ps1 (#1392)

Hi @Shuyzhou666<

[2021-06-15 04:46] sanga549 commented on #163
Hello there. My inquiry was posted in almost 2 years ago. I appreciate the returned inquiry/support but I got past this problem since then.  Thanks again.

[2021-06-15 10:07] cregkly commented on #433
Looks like is is working with the colon. I suspect the delay in the change taking effect might be why I thought it was the incorrect syntax. Thanks for looking into this.

[2021-06-15 14:26] nam31 commented on #149
@SWCarson We are closing this issue as there hasn't been a response from your side regarding the specific article where the issue stems from.
Feel free to re-open this issue by clarifying the problematic document and we'd be glad to come up with content updates.
Thank you for providing feedback.

[2021-06-15 14:26] #149 closed

[2021-06-15 15:08] get-itips commented on #554
Hello @astera-cmorrison Casey, how are you?
Checking back to understand if you could see my message.
Thank you!
cc @nam31

[2021-06-15 15:37] lukasmehringer opened #1594 "needs update"
Servus ich arbeite auf einem Windows 10 Rechner. Leider war es mir nicht möglich den Punkt "UseOnlineContent" zu finden.
---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: ab3b3b72-87a5-8b6f-f049-0500b0cbee6e
* Version Independent ID: b8a259e9-cb59-936d-f38f-e157772ca311
* Content: [Fehlerme

[2021-06-15 16:56] DeanGross opened #1595 "add information about alternative methods"
It would be helpful to include a link to the instructions that show how do this without using PowerShell. As currently written, a user could be lead to believe that they must use PowerShell to disable these protocols and for many that will prevent them from improving their security
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-06-16 02:32] FullStackEngN opened #1596 "There is a wrong char in the signoutofwamaccounts.ps1 file"
I download the signoutofwamaccounts.ps1, but it failed to run.
Then I open the file using notepad, and I found last line contains unexpected char.
Please help update the script content.

$accounts.Accounts | % { AwaitAction ($_.SignOutAsync(**揹**3590ed6-52b3-4102-aeff-aad2292ab01c**?**) }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-06-16 04:18] RAJU2529 commented on #1596
@FullStackEngN . i have removed invalid char, i added two scripts, one of the script will work for you.
[signoutofwamaccounts.zip](https://github.com/MicrosoftDocs/OfficeDocs-Support/files/6660233/signoutofwamaccounts.zip)

[2021-06-16 05:57] FullStackEngN commented on #1596
Hi expert,

Thanks for your feedback, the second one scripts run successfully.

$accounts.Accounts | % { AwaitAction ($_.SignOutAsync({d3590ed6-52b3-4102-aeff-aad2292ab01c})) }

The first one still encountered problem.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: VARADHARAJAN ***@***.***>
Sent: Wednesday, June 16, 2021 12:19 PM
To: ***@***.***>
Cc: ***@***.

[2021-06-16 06:09] RAJU2529 commented on #1596
@MJP-MSFT . I have corrected an invalid character in **signoutofwamaccounts.ps1**  and i uploaded it here, so, please upload this ZIP
[signoutofwamaccounts.zip](https://github.com/MicrosoftDocs/OfficeDocs-Support/files/6660615/signoutofwamaccounts.zip)
 file in the Microsoft download center server.

[2021-06-16 06:22] helenclu commented on #257
More information about bias can be found at [https://en.wikipedia.org/wiki/Exponent_bias](https://en.wikipedia.org/wiki/Exponent_bias).

About division by zero, see [https://stackoverflow.com/questions/14682005/why-does-division-by-zero-in-ieee754-standard-results-in-infinite-value](https://stackoverflow.com/questions/14682005/why-does-division-by-zero-in-ieee754-standard-results-in-infinite-value